body{background:#fff;font-size:14px;font-family: NotoKr,"Malgun Gothic","맑은 고딕","돋움",Dotum,Helvetica,"Apple SD Gothic Neo",“애플 SD 산돌고딕 Neo”,Tahoma,Dotum,sans-serif;}
a{text-decoration:none}
.cal_wrap{position:relative;padding: 12px 12px 40px;border:1px solid #ccc;z-index:1000;}
.year{position:relative;height:35px;background:#fff;box-sizing: border-box}
.year_wrap {position:relative;float:left;width:46%;margin:0 2%;height:35px;font-size:1.1em;color:#555;font-weight:600;text-align:center;line-height:35px;}
.month_wrap {position:relative;float:left;width:46%;margin:0 2%;height:35px;font-size:1.1em;color:#555;font-weight:600;text-align:center;line-height:35px;}
.year span{position:relative;display:inline-block;min-width: 50px;margin:0 3px 0;}
.year button{display:inline-block;position:absolute;top:7px;width:22px;height:24px;font-size:1px;color:transparent;line-height:0;background: url(/common/images/program/p-calendar.png) no-repeat;}
.year_wrap button#year_prev{left:-25px;background-position: 6px 4px}
.year_wrap button#year_next{right:-25px;background-position: -42px 4px}
.month_wrap button#month_prev{left:-20px;background-position: 6px 4px}
.month_wrap button#month_next{right:-20px;background-position: -42px 4px}
.cal_area{width:100%;background:#fff;}
.cal_area table{width:100%;margin:0;padding:0;}
.cal_area th,.cal_area td {width:32px;height:32px;line-height:25px;padding:0;text-align:center;vertical-align: middle}
*:first-child+html .cal_area caption{display:none;}
.cal_area th{color:#000;font-weight: normal;font-size: 1.1em;}
.cal_area td{}
.cal_area a{display:block;text-align:center;vertical-align: middle;}
.cal_area a:hover{background:#f0f0f0}
.cal_area .sun{color:#f1552b}
.cal_area .day{color:#666;font-size: .95em}
.cal_area .sat{color:#f1552b}
.cal_area td span{display:inline-block;width:26px;height:26px;line-height:25px;vertical-align:middle}
.cal_area td.today span{border-radius: 50%;background:#202e70;}
.cal_area td.today a{color:#fff !important;}
.cal_area td.today a:hover{background:none}
.cal_area  a.nextmonth_day, .cal_area  a.prevmonth_day{color: #bbb;}
.cal_area  a.nextmonth_day:hover, .cal_area  a.prevmonth_day:hover,
.cal_area  a.nextmonth_day:focus, .cal_area  a.prevmonth_day:focus{color: #757575;}
.close {position:absolute;left:5%;bottom:10px;width:90%;height:30px;z-index:1001;background: #efefef;}
.close button{display:block;width:100%;height:30px;text-align:center;color: #666}

