
/* 본문제목 */
h3, h4, h5, h6,
.h3, .h4, .h5, .h6{position:relative;font-weight:400;text-align: left;letter-spacing: -1px;}
h3, .h3 {margin: 15px 0 5px 0; padding-left: 0; color: #333; font-size: 1.3em;}
h4, .h4 {margin: 12px 0 0 0; padding-left: 25px; color: #444; font-size: 1.2em;}
h5, .h5 {margin: 3px 0 0 0; padding-left: 35px; color: #444; font-size: 1.1em; font-weight:600;letter-spacing: 0; }
h6, .h6 {margin: 3px 0; padding-left: 42px; color: #555; font-size: 1.1em; font-weight:600;letter-spacing: 0;}

h3:before, h4:before, h5:before, h6:before,
.h3:before, .h4:before, .h5:before, .h6:before{position:absolute;display:inline-block;content:"";}
h3:before, .h3:before{left:0;top:2px;width:16px;height:16px;background-position:0 -160px;}
h4:before, .h4:before{left:6px;top:4px;width:12px;height:12px;background-position:-40px -160px;}
h5:before, .h5:before{left:22px;top:8px;width:5px;height:5px;background-position:-80px -160px;}
h6:before, .h6:before{left:28px;top:8px;width:8px;height:6px;background-position:-120px -160px;}

h3 span, h4 span, h5 span, h6 span,
.h3 span, .h4 span, .h5 span, .h6 span{color:#777;font-size:0.85em;font-weight:normal;}

.h0  {margin: 0; padding: 0; color :#666;font-size: 1em; font-weight:400;letter-spacing:0;}
h3.skip:before, h4.skip:before, h5.skip:before, h6.skip:before,.h0:before{display:none}


/* 목록(List) */
ul.bu { margin: 0; padding: 2px 0 5px 20px;}
ul.bu li {position: relative; margin: 0; padding: 0 0 0 10px; list-style: none;}
ul.bu ul li{padding-left:12px;}
ul.bu > li:before{position:absolute;left:0;top:8px;display:inline-block; content:"";width:6px;height:6px;}
ul.bu ul li:before{position:absolute;left:0;top:7px;display:inline-block; content:"";width:5px;height:2px;background:#7b7b7b}
ul.bu ul ul li:before{position:absolute;left:2px;top:7px;display:inline-block; content:"";width:4px;height:4px;background:#aaa;border-radius:50%}
ul.bu ul, ul.bu ul ul, ul.bu ul ul ul { margin: 0; padding: 0 0 5px 0;}

.blt {position:relative; margin: 0; padding: 2px 0 3px 10px;}
.blt:before{position:absolute;left:0;top:10px;display:inline-block; content:"";width:6px;height:6px;}

ul.num {margin:0; padding:2px 0 5px 24px;}
ul.num li {position:relative;margin: 3px 0; padding: 0 0 0 24px; list-style: none; }
ul.num li .item{position:absolute;display:inline-block;left:0;top:2px;width:18px;height:18px;line-height:20px;border-radius:4px;background:#4688d6;
    font-size:11px;font-family:dotum,'돋움',sans-serif;color:#fff;text-align:center;}

ul.num.type2{}
ul.num.type2 li{padding:2px 0 1px 30px}
ul.num.type2 li .item{margin-top:0;width:24px;height:24px;font-size:0;}
ul.num.type2 li.n1 .item{background-position:0 -80px}
ul.num.type2 li.n2 .item{background-position:-40px -80px}
ul.num.type2 li.n3 .item{background-position:-80px -80px}
ul.num.type2 li.n4 .item{background-position:-120px -80px}
ul.num.type2 li.n5 .item{background-position:-160px -80px}
ul.num.type2 li.n6 .item{background-position:-200px -80px}
ul.num.type2 li.n7 .item{background-position:-240px -80px}
ul.num.type2 li.n8 .item{background-position:-280px -80px}
ul.num.type2 li.n9 .item{background-position:-320px -80px}
ul.num.type2 li.n10 .item{background-position:-360px -80px}
ul.num.type2 li.n11 .item{background-position:0 -120px}
ul.num.type2 li.n12 .item{background-position:-40px -120px}
ul.num.type2 li.n13 .item{background-position:-80px -120px}
ul.num.type2 li.n14 .item{background-position:-120px -120px}
ul.num.type2 li.n15 .item{background-position:-160px -120px}
ul.num.type2 li.n16 .item{background-position:-200px -120px}
ul.num.type2 li.n17 .item{background-position:-240px -120px}
ul.num.type2 li.n18 .item{background-position:-280px -120px}
ul.num.type2 li.n19 .item{background-position:-320px -120px}
ul.num.type2 li.n20 .item{background-position:-360px -120px}

ol.num{margin:0; padding:2px 0 5px 24px;}
ol.num li{position:relative;padding:2px 0 1px 30px}
ol.num li:before{content:"";position:absolute;display:inline-block;left:0;top:0;width:23px;height:23px;}
ol.num li.n1:before{background-position:0 -80px}
ol.num li.n2:before{background-position:-40px -80px}
ol.num li.n3:before{background-position:-80px -80px}
ol.num li.n4:before{background-position:-120px -80px}
ol.num li.n5:before{background-position:-160px -80px}
ol.num li.n6:before{background-position:-200px -80px}
ol.num li.n7:before{background-position:-240px -80px}
ol.num li.n8:before{background-position:-280px -80px}
ol.num li.n9:before{background-position:-320px -80px}
ol.num li.n10:before{background-position:-360px -80px}
ol.num li.n11:before{background-position:0 -120px}
ol.num li.n12:before{background-position:-40px -120px}
ol.num li.n13:before{background-position:-80px -120px}
ol.num li.n14:before{background-position:-120px -120px}
ol.num li.n15:before{background-position:-160px -120px}
ol.num li.n16:before{background-position:-200px -120px}
ol.num li.n17:before{background-position:-240px -120px}
ol.num li.n18:before{background-position:-280px -120px}
ol.num li.n19:before{background-position:-320px -120px}
ol.num li.n20:before{background-position:-360px -120px}



/* 테이블 서식 */
.table_unit{margin-top:-23px;font-size:0.9em;text-align:right}
.table{width:100%;margin:5px 0 10px;}
.table thead tr:first-child th{border-top: 2px solid #4688d6;border-bottom:1px solid #aaa}
.table th, table.table td{padding:6px 10px 4px;border:1px solid #d9d9d9;border-right:none;vertical-align: middle}
.table th:first-child, table.table td:first-child{border-left:none}
.table th.first, table.table td.first{border-left:1px solid #d9d9d9;}

.table thead th{color:#333; font-weight:normal; background:#f4f4f4;}
.table tbody th{font-weight:normal;background:#fafafa;}
.table tfoot th, table.table tfoot td{font-weight:normal; background-color:#fafafa;}
.table td img{vertical-align:middle}
td ul, td li{text-align:left}
td ul.bu {margin:0;padding: 0;}
td .num {margin:0;padding: 0;}

.table.type2 tbody tr:first-child th, .table.type2 tbody tr:first-child td{border-top: 2px solid #4688d6;}
.table.type2 th, .table.type2 td{padding:6px 6px 4px;}
.table.type2 tbody th{color:#333; font-weight:normal;background-color:#fafafa;}



/* 버튼 / 링크 / */
a.blank {display:inline-block;margin:0 2px; border-bottom:1px dotted #666;white-space: nowrap; }
a.blank:after{content:"";display:inline-block;width:22px;height:22px;margin:0 1px;vertical-align: middle}
a.down{display:inline-block;margin:0 2px;border-bottom:1px dotted #666;color: #222; white-space: nowrap; }
a.down:after{content:"";display:inline-block;width:22px;height:22px;margin:0 1px;vertical-align: middle}

.btn{position: relative;display:inline-block;margin:0;height:auto;line-height:inherit;padding:6px 30px 4px;border:1px solid #2e2e2e;background:#2e2e2e;color:#fff;text-decoration: none;vertical-align: top;cursor: pointer;box-sizing: content-box;}
.btn:after{content:"";display:inline-block;vertical-align: middle;}
a.btn:visited,
a.btn:link{color:#fff}

.btn.type2{border:1px solid #2477c0;border-radius:4px;background:#2e84d1;color:#fff;}
.btn.type3{border:1px solid #7daf18;border-radius:16px;background:#8bbe23;color:#fff;}

.btn.download{border:1px solid #2e2e2e;background:#2e2e2e;color:#fff;}
.btn.download:after{width:22px;height:22px;margin-left:8px;vertical-align: middle}
.btn.download.type2{border:1px solid #ec542c;border-radius:4px;background:#fa6239;color:#fff;}
.btn.download.type2:after{width:16px;height:16px;margin-left:8px;vertical-align: middle }

.btn.link{border:1px solid #ed9f35;background:#f7a93f;color:#fff;}
.btn.link:after{width:12px;height:12px;margin-left:8px;vertical-align: middle}
.btn.link.type2{border:1px solid #ec542c;border-radius:4px;background:#fa6239;color:#fff;}

/* 선, 박스 */
.line { display: block; margin:10px 0; border-bottom : 1px solid #ccc; }
.dot{ display: block; margin:10px 0; border-bottom : 1px dotted #ccc; }
.dash{display: block; margin:10px 0; border-bottom : 1px dashed #ccc; }


.box{border:solid 1px #eee;}
.box .box_wrap{margin:6px;padding:10px 20px;border:1px solid #e9e9e9;background:#fff}

.box.type2{border:solid 1px #e2e2e2;border-radius:3px;box-shadow:0 0 10px #eee inset;background:none}
.box.type2 .box_wrap{margin:10px 20px;border:none;background:transparent}

.nobg{background: none}

/* 강조 글자 */
.small { font-size: 0.92em;}
.large { font-size: 1.167em; letter-spacing: -1px; }
.underline {padding-bottom:1px;border-bottom:1px solid #888}
.em_blue {color:#0861bc;}
.em_orange {color:#e8460e;}
.em_red {color:#de2500;}
.em_green {color:#398308;}
.em_purple {color:#8a56af;}
.em_black {color:#000;}
.em_point{color:#000;}
.em_b_blue {color:#0861bc; font-weight:bold;}
.em_b_orange {color:#ff6600; font-weight:bold;}
.em_b_red {color:#de2500; font-weight:bold;}
.em_b_green {color:#398308; font-weight:bold;}
.em_b_purple {color:#8a56af; font-weight:bold;}
.em_b_point{color:#e8209f;font-weight:bold;}
.em_b_black{color:#000;font-weight:bold;}

/* 텍스트 정렬 */
.text_center {text-align:center;}
.text_right {text-align:right;}
.text_left {text-align:left;}
.vertical_top{vertical-align:top}
.vertical_middle{vertical-align:middle}
.vertical_bottom{vertical-align:bottom}

/* 들여쓰기 */.indent {margin-left:25px;}
.indent10 { margin-left: 10px; }
.indent20 { margin-left: 20px; }
.indent30 { margin-left: 30px; }
.indent40 { margin-left: 40px; }
.indent50 { margin-left: 50px; }

/* margin */
.margin_0{margin:0 !important;}
.margin_10{margin:10px !important;}
.margin_20{margin:20px !important;}
.margin_30{margin:30px !important;}

.margin_t_0{margin-top:0 !important;}
.margin_t_5{margin-top:5px !important;}
.margin_t_10{margin-top:10px !important;}
.margin_t_15{margin-top:15px !important;}
.margin_t_20{margin-top:20px !important;}
.margin_t_25{margin-top:25px !important;}
.margin_t_30{margin-top:30px !important;}
.margin_t_35{margin-top:35px !important;}
.margin_t_40{margin-top:40px !important;}
.margin_t_45{margin-top:45px !important;}
.margin_t_50{margin-top:50px !important;}
.margin_t_60{margin-top:60px !important;}


.margin_r_0{margin-right:0 !important;}
.margin_r_5{margin-right:5px !important;}
.margin_r_10{margin-right:10px !important;}
.margin_r_15{margin-right:15px !important;}
.margin_r_20{margin-right:20px !important;}
.margin_r_25{margin-right:25px !important;}
.margin_r_30{margin-right:30px !important;}
.margin_r_35{margin-right:35px !important;}
.margin_r_40{margin-right:40px !important;}
.margin_r_45{margin-right:45px !important;}
.margin_r_50{margin-right:50px !important;}
.margin_r_55{margin-right:55px !important;}
.margin_r_60{margin-right:60px !important;}

.margin_b_0{margin-bottom:0 !important;}
.margin_b_5{margin-bottom:5px !important;}
.margin_b_10{margin-bottom:10px !important;}
.margin_b_15{margin-bottom:15px !important;}
.margin_b_20{margin-bottom:20px !important;}
.margin_b_25{margin-bottom:25px !important;}
.margin_b_30{margin-bottom:30px !important;}
.margin_b_35{margin-bottom:35px !important;}
.margin_b_40{margin-bottom:40px !important;}
.margin_b_45{margin-bottom:45px !important;}
.margin_b_50{margin-bottom:50px !important;}
.margin_b_55{margin-bottom:55px !important;}
.margin_b_60{margin-bottom:60px !important;}

.margin_l_0{margin-left:0 !important;}
.margin_l_5{margin-left:5px !important;}
.margin_l_10{margin-left:10px !important;}
.margin_l_15{margin-left:15px !important;}
.margin_l_20{margin-left:20px !important;}
.margin_l_25{margin-left:25px !important;}
.margin_l_30{margin-left:30px !important;}
.margin_l_35{margin-left:35px !important;}
.margin_l_40{margin-left:40px !important;}
.margin_l_45{margin-left:45px !important;}
.margin_l_50{margin-left:50px !important;}

/* padding */
.padding_0{padding:0 !important;}
.padding_10{padding:10px !important;}
.padding_20{padding:20px !important;}
.padding_30{padding:30px !important;}

.padding_t_0{padding-top:0 !important;}
.padding_t_5{padding-top:5px !important;}
.padding_t_10{padding-top:10px !important;}
.padding_t_15{padding-top:15px !important;}
.padding_t_20{padding-top:20px !important;}
.padding_t_25{padding-top:25px !important;}
.padding_t_30{padding-top:30px !important;}
.padding_t_35{padding-top:35px !important;}
.padding_t_40{padding-top:40px !important;}
.padding_t_45{padding-top:45px !important;}
.padding_t_50{padding-top:50px !important;}
.padding_t_60{padding-top:60px !important;}

.padding_r_0{padding-right:0 !important;}
.padding_r_5{padding-right:5px !important;}
.padding_r_10{padding-right:10px !important;}
.padding_r_15{padding-right:15px !important;}
.padding_r_20{padding-right:20px !important;}
.padding_r_25{padding-right:25px !important;}
.padding_r_30{padding-right:30px !important;}
.padding_r_35{padding-right:35px !important;}
.padding_r_40{padding-right:40px !important;}
.padding_r_45{padding-right:45px !important;}
.padding_r_50{padding-right:50px !important;}

.padding_b_0{padding-bottom:0 !important;}
.padding_b_5{padding-bottom:5px !important;}
.padding_b_10{padding-bottom:10px !important;}
.padding_b_15{padding-bottom:15px !important;}
.padding_b_20{padding-bottom:20px !important;}
.padding_b_25{padding-bottom:25px !important;}
.padding_b_30{padding-bottom:30px !important;}
.padding_b_35{padding-bottom:35px !important;}
.padding_b_40{padding-bottom:40px !important;}
.padding_b_45{padding-bottom:45px !important;}
.padding_b_50{padding-bottom:50px !important;}

.padding_l_0{padding-left:0 !important;}
.padding_l_5{padding-left:5px !important;}
.padding_l_10{padding-left:10px !important;}
.padding_l_15{padding-left:15px !important;}
.padding_l_20{padding-left:20px !important;}
.padding_l_25{padding-left:25px !important;}
.padding_l_30{padding-left:30px !important;}
.padding_l_35{padding-left:35px !important;}
.padding_l_40{padding-left:40px !important;}
.padding_l_45{padding-left:45px !important;}
.padding_l_50{padding-left:50px !important;}

/* width */
.w5p{width:5% !important;}
.w10p{width:10% !important;}
.w15p{width:15% !important;}
.w20p{width:20% !important;}
.w25p{width:25% !important;}
.w30p{width:30% !important;}
.w35p{width:35% !important;}
.w40p{width:40% !important;}
.w45p{width:45% !important;}
.w50p{width:50% !important;}
.w55p{width:55% !important;}
.w60p{width:60% !important;}
.w65p{width:65% !important;}
.w70p{width:70% !important;}
.w75p{width:75% !important;}
.w80p{width:80% !important;}
.w85p{width:85% !important;}
.w90p{width:90% !important;}
.w95p{width:95% !important;}
.w100p{width:100% !important;}

@media all and (max-width: 765px){
    .w-sm-5p{width:5% !important;}
    .w-sm-10p{width:10% !important;}
    .w-sm-15p{width:15% !important;}
    .w-sm-20p{width:20% !important;}
    .w-sm-25p{width:25% !important;}
    .w-sm-30p{width:30% !important;}
    .w-sm-35p{width:35% !important;}
    .w-sm-40p{width:40% !important;}
    .w-sm-45p{width:45% !important;}
    .w-sm-50p{width:50% !important;}
    .w-sm-55p{width:55% !important;}
    .w-sm-60p{width:60% !important;}
    .w-sm-65p{width:65% !important;}
    .w-sm-70p{width:70% !important;}
    .w-sm-75p{width:75% !important;}
    .w-sm-80p{width:80% !important;}
    .w-sm-85p{width:85% !important;}
    .w-sm-90p{width:90% !important;}
    .w-sm-95p{width:95% !important;}
    .w-sm-100p{width:100% !important;}
}
