@charset "UTF-8";

/* esamanru */
@font-face{
    font-family: 'esamanru';
    font-weight: 300;
    src: url("/site/public/font/esamanru_Light.woff2") format('woff2'),
    url("/site/public/font/esamanru_Light.woff") format('woff');
}

@font-face{
    font-family: 'esamanru';
    font-weight: 400;
    src: url("/site/public/font/esamanru_Light.woff2") format('woff2'),
    url("/site/public/font/esamanru_Light.woff") format('woff');
}
@font-face{
    font-family: 'esamanru';
    font-weight: 500;
    src: url("/site/public/font/esamanru_Medium.woff2") format('woff2'),
    url("/site/public/font/esamanru_Medium.woff") format('woff');
}

/* SCoreDream */
@font-face{
    font-family: 'SCoreDream';
    font-weight: 300;
    src: url("/site/public/font/S-CoreDream-3Light.woff2") format('woff2'),
    url("/site/public/font/S-CoreDream-3Light.woff") format('woff');
}
@font-face{
    font-family: 'SCoreDream';
    font-weight: 400;
    src: url("/site/public/font/S-CoreDream-4Regular.woff2") format('woff2'),
    url("/site/public/font/S-CoreDream-4Regular.woff") format('woff');
}
@font-face{
    font-family: 'SCoreDream';
    font-weight: 500;
    src: url("/site/public/font/S-CoreDream-5Medium.woff2") format('woff2'),
    url("/site/public/font/S-CoreDream-5Medium.woff") format('woff');
}
@font-face{
    font-family: 'SCoreDream';
    font-weight: 700;
    src: url("/site/public/font/S-CoreDream-7ExtraBold.woff2") format('woff2'),
    url("/site/public/font/S-CoreDream-7ExtraBold.woff") format('woff');
}
@font-face{
    font-family: 'SCoreDream';
    font-weight: 800;
    src: url("/site/public/font/S-CoreDream-8Heavy.woff2") format('woff2'),
    url("/site/public/font/S-CoreDream-8Heavy.woff") format('woff');
}

/* GowunBatang */
@font-face{
    font-family: 'GowunBatang';
    font-weight: 400;
    src: url("/site/public/font/GowunBatang-Regular.woff2") format('woff2'),
    url("/site/public/font/GowunBatang-Regular.woff") format('woff');
}

@font-face{
    font-family: 'GowunBatang';
    font-weight: 600;
    src: url("/site/public/font/GowunBatang-Bold.woff2") format('woff2'),
    url("/site/public/font/GowunBatang-Bold.woff") format('woff');
}

/* Montserrat */
@font-face{
    font-family: 'Montserrat';
    font-weight: 400;
    src: url("/site/public/font/Montserrat-Regular.woff2") format('woff2'),
    url("/site/public/font/Montserrat-Regular.woff") format('woff');
}

@font-face{
    font-family: 'Montserrat';
    font-weight: 500;
    src: url("/site/public/font/Montserrat-Medium.woff2") format('woff2'),
    url("/site/public/font/Montserrat-Medium.woff") format('woff');
}

@font-face{
    font-family: 'Montserrat';
    font-weight: 600;
    src: url("/site/public/font/Montserrat-SemiBold.woff2") format('woff2'),
    url("/site/public/font/Montserrat-SemiBold.woff") format('woff');
}
@font-face{
    font-family: 'Montserrat';
    font-weight: 700;
    src: url("/site/public/font/Montserrat-Bold.woff2") format('woff2'),
    url("/site/public/font/Montserrat-Bold.woff") format('woff');
}

@font-face{
    font-family: 'MontserratItalic';
    font-weight: 600;
    src: url("/site/public/font/Montserrat-SemiBoldItalic.woff2") format('woff2'),
    url("/site/public/font/Montserrat-SemiBoldItalic.woff") format('woff');
}


/* WantedSans */
@font-face{
    font-family: 'WantedSans';
    font-weight: 400;
    src: url("/site/public/font/WantedSans-Regular.woff2") format('woff2'),
    url("/site/public/font/WantedSans-Regular.woff") format('woff');
}
@font-face{
    font-family: 'WantedSans';
    font-weight: 500;
    src: url("/site/public/font/WantedSans-Medium.woff2") format('woff2'),
    url("/site/public/font/WantedSans-Medium.woff") format('woff');
}
@font-face{
    font-family: 'WantedSans';
    font-weight: 600;
    src: url("/site/public/font/WantedSans-SemiBold.woff2") format('woff2'),
    url("/site/public/font/WantedSans-SemiBold.woff") format('woff');
}
@font-face{
    font-family: 'WantedSans';
    font-weight: 700;
    src: url("/site/public/font/WantedSans-Bold.woff2") format('woff2'),
    url("/site/public/font/WantedSans-Bold.woff") format('woff');
}
@font-face{
    font-family: 'WantedSans';
    font-weight: 800;
    src: url("/site/public/font/WantedSans-ExtraBold.woff2") format('woff2'),
    url("/site/public/font/WantedSans-ExtraBold.woff") format('woff');
}


/* Jalnan */
@font-face{
    font-family: 'Jalnan';
    font-weight: 400;
    src: url("/site/public/font/JalnanTTF.woff2") format('woff2'),
    url("/site/public/font/JalnanTTF.woff") format('woff');
}

/* JalnanGothic */
@font-face{
    font-family: 'JalnanGothic';
    font-weight: 400;
    src: url("/site/public/font/JalnanGothicTTF.woff2") format('woff2'),
    url("/site/public/font/JalnanGothicTTF.woff") format('woff');
}

/* Nexen */
@font-face{
    font-family: 'Nexen';
    font-weight: 400;
    src: url("/site/public/font/Nexen_R.woff2") format('woff2'),
    url("/site/public/font/Nexen_R.woff") format('woff');
}

/* EBGaramond */
@font-face{
    font-family: 'EBGaramond';
    font-weight: 400;
    src: url("/site/public/font/EBGaramond-Regular.woff2") format('woff2'),
    url("/site/public/font/EBGaramond-Regular.woff") format('woff');
}

/* saria */
@font-face{
    font-family: 'saria';
    font-weight: 200;
    src: url('/site/public/font/Saira-ExtraLight.ttf') format('truetype');
}
@font-face{
    font-family: 'saria';
    font-weight: 300;
    src: url('/site/public/font/Saira-Light.ttf') format('truetype');
}

/* MangoDdobak */
@font-face{
    font-family: 'MangoDdobak';
    font-weight: 300;
    src: url("/site/public/font/MangoDdobak_L.woff2") format('woff2'),
    url("/site/public/font/MangoDdobak_L.woff") format('woff');
}
@font-face{
    font-family: 'MangoDdobak';
    font-weight: 400;
    src: url("/site/public/font/MangoDdobak_R.woff2") format('woff2'),
    url("/site/public/font/MangoDdobak_R.woff") format('woff');
}
@font-face{
    font-family: 'MangoDdobak';
    font-weight: 600;
    src: url("/site/public/font/MangoDdobak_B.woff2") format('woff2'),
    url("/site/public/font/MangoDdobak_B.woff") format('woff');
}