@charset "UTF-8";
/* (주)한신정보기술 박서영 - 2024.11 */

/* 성북, 지붕없는 박물관 */
.cts347_wrap{font-size:0; line-height:0;}
.cts347_wrap .left_box{position:relative; display:inline-block; width:346px; vertical-align:top;}
.cts347_wrap .left_box:before{display:block; position:absolute; top:134px; left:0; width:961px; height:400px; border-radius:0 360px 0 0; background:linear-gradient(to bottom, #fef2d3 2%, rgba(255, 255, 255, 0.7) 60%);}
.cts347_wrap .left_box .img_box{position:relative;}
.cts347_wrap .left_box img{position:relative; border-radius:100px 100px 50px 100px;}
.cts347_wrap .right_box{position:relative;display:inline-block; width:calc(100% - 416px); margin-left:70px; padding-top:205px; vertical-align:top;}
.cts347_wrap .right_box:before{display:block; position:absolute; top:205px; left:300px; width:671px; height:400px; border-radius:400px 0 0 0; background:linear-gradient(155deg, #fef2d3 4%, rgba(255, 255, 255, 0.7) 35%);}
.cts347_wrap .right_box .tit{position:relative;color:#252831; font-size:20px; font-weight:500; line-height:36px; letter-spacing:-0.025em;}
.cts347_wrap .right_box .txt{position:relative;margin-top:6px; margin-bottom:39px; color:#575e6d; font-size:16px; font-weight:300; line-height:28px; letter-spacing:-0.025em;}
.cts347_wrap .right_box .btn + .btn{margin-left:8px;}
@media all and (min-width:1001px) and (max-width:1300px){
    .cts347_wrap .left_box{width:250px;}
    .cts347_wrap .left_box:before{top:100px;}
    .cts347_wrap .left_box img{border-radius:80px 80px 40px 80px;}
    .cts347_wrap .right_box{width:calc(100% - 290px); margin-left:40px; padding-top:140px;}
}
@media all and (max-width:800px){
    .cts347_wrap .left_box{display:block; width:100%; text-align:center;}
    .cts347_wrap .left_box:before{transform:scale(0.7); transform-origin:top left;}
    .cts347_wrap .left_box .img_box{width:300px; margin:0 auto;}
    .cts347_wrap .left_box img{border-radius:80px 80px 40px 80px;}
    .cts347_wrap .right_box{display:block; width:100%; margin-left:0; text-align:center; padding-top:20px;}
    .cts347_wrap .right_box:before{display:none;}
}
@media all and (max-width:640px){
    .cts347_wrap .left_box .img_box{width:270px;}
    .cts347_wrap .right_box .tit{font-size:18px; line-height:32px;}
    .cts347_wrap .right_box .txt{font-size:15px; line-height:25px;}
}

/* 성북축제설명서 */
.cts348_wrap .festival{position:relative;}
.cts348_wrap .festival_item{position:relative; padding:40px 0 60px; font-size:0; line-height:0;}
.cts348_wrap .festival_item:first-child{padding-top:20px;}
.cts348_wrap .festival_item .img_box{display:inline-block; position:relative; width:450px; vertical-align:middle;}
.cts348_wrap .festival_item .img_box .img_list .slick-list{border-radius:75px;}
.cts348_wrap .festival_item .img_box .img_item{width:100%; height:100%;}
.cts348_wrap .festival_item .img_box .img_control{position:absolute; right:30px; bottom:-70px; width:180px; height:100px; padding:16px 30px; border-radius:50px; background:#fff; text-align:center;}
.cts348_wrap .festival_item .img_box .img_control span{color:#64666a; font-size:16px; line-height:22px; vertical-align:middle; letter-spacing:-0.04em;}
.cts348_wrap .festival_item .img_box .img_control button{width:17px; height:17px; margin-left:20px; background:url("/site/children/images/contents/cts348_arrow.png") no-repeat; vertical-align:middle;}
.cts348_wrap .festival_item .img_box .img_control button.img_next{margin-left:10px; transform:rotate(180deg);}
.cts348_wrap .festival_item .txt_box{display:inline-block; position:relative; width:calc(100% - 530px); margin-left:80px; vertical-align:middle;}
.cts348_wrap .festival_item .txt_box .tit{color:#222; font-size:26px; font-family:'JalnanGothic'; line-height:32px; letter-spacing:-0.025em; word-break:keep-all;}
.cts348_wrap .festival_item .txt_box .tit .pink{color:#fa628d;}
.cts348_wrap .festival_item .txt_box .txt{margin-top:19px; color:#4d4d4d; font-size:16px; line-height:30px; letter-spacing:-0.025em; word-break:keep-all;}
.cts348_wrap .line.type3{position:relative;}
@media all and (max-width:1500px){
    .cts348_wrap .festival_item .txt_box .txt br{display:none;}
}
@media all and (max-width:1300px){
    .cts348_wrap .festival_item .img_box{width:350px;}
    .cts348_wrap .festival_item .txt_box{width:calc(100% - 390px); margin-left:40px;}
}
@media all and (max-width:1000px){
    .cts348_wrap .festival_item .txt_box .tit{font-size:22px; line-height:28px;}
    .cts348_wrap .festival_item .txt_box .txt{font-size:15px; line-height:28px;}
}
@media all and (max-width:800px){
    .cts348_wrap .festival_item{padding:30px 0;}
    .cts348_wrap .festival_item .img_box{display:block; width:400px; margin:0 auto;}
    .cts348_wrap .festival_item .img_box .img_list .img_item{height:267px;}
    .cts348_wrap .festival_item .txt_box{display:block; width:100%; margin-left:0; margin-top:30px;}
}
@media all and (max-width:480px){
    .cts348_wrap .festival_item .img_box{width:300px;}
    .cts348_wrap .festival_item .img_box .img_list .slick-list{border-radius:45px;}
    .cts348_wrap .festival_item .img_box .img_list .img_item{height:200px;}
    .cts348_wrap .festival_item .img_box .img_control{bottom:-40px; width:150px; height:70px; border-radius:35px;}
}

/* 성북역사와 유래 */
.history .tit_box{margin-bottom:36px; color:#222; font-size:34px; font-family:'JalnanGothic'; text-align:center; line-height:normal;}
.history .tit_box .blue{color:#1978e3;}
.history .txt_box{position:relative; min-height:614px; margin-top:194px; padding:183px 100px 100px; border-radius:95px; background:#fff; box-shadow:10px 17px 60px rgba(0,0,0,0.1);}
.history .txt_box:before{display:block; position:absolute; top:-158px; left:0; right:0; width:calc(100% - 210px); max-width:1180px; height:280px; margin:0 auto; border-radius:90px 50px; background:url("/site/children/images/contents/cts349_img.jpg") no-repeat center center /cover;}
.history .txt_box .txt{color:#4d4d4d; font-size:17px; line-height:30px; letter-spacing:-0.025em;word-break:keep-all;}
@media all and (max-width:1300px){
    .history .txt_box{padding:130px 70px 70px; border-radius:70px;}
    .history .txt_box:before{width:calc(100% - 150px); height:240px;}
}
@media all and (max-width:1000px){
    .history .tit_box{font-size:30px;}
    .history .txt_box .txt{font-size:16px;}
}
@media all and (max-width:640px){
    .history .tit_box{font-size:22px;}
    .history .txt_box{margin-top:130px; padding:90px 30px 30px; border-radius:30px;}
    .history .txt_box:before{top:-100px; width:calc(100% - 50px); height:160px; border-radius:50px 25px;}
    .history .txt_box .txt{font-size:15px; line-height:27px;}
}

/* 성북역사와 유래 - 후삼국시대 */
.cts351_wrap.history .txt_box{min-height:auto;}

/* 유니세프 아동친화도시란 */
.cts356_wrap .unicef{position:relative; margin-top:168px; border-radius:120px 20px; background:linear-gradient(to right, #00a0e9 80%, #56b570 90%);}
.cts356_wrap .unicef .unicef_wrap{position:relative; padding:87px 70px 75px;}
.cts356_wrap .unicef .unicef_wrap:before{display:block; position:absolute; top:0; right:0; width:780px; height:124px; border-bottom-left-radius:120px; background:#fff;}
.cts356_wrap .unicef .unicef_wrap:after{display:block; position:absolute; top:-68px; right:136px; width:554px; height:116px; background:url("/site/children/images/contents/cts356_img01.png") no-repeat;}
.cts356_wrap .unicef .unicef_wrap .tit{margin-bottom:34px; color:#fff; font-size:26px; font-family:'JalnanGothic'; line-height:36px; letter-spacing:-0.025em;}
.cts356_wrap .unicef .unicef_wrap > ul{}
.cts356_wrap .unicef .unicef_wrap > ul > li{position:relative; margin-bottom:15px; padding-left:40px; color:#fff; font-size:17px; line-height:25px;}
.cts356_wrap .unicef .unicef_wrap > ul > li:last-child{margin-bottom:0;}
.cts356_wrap .unicef .unicef_wrap > ul > li:before{display:block; position:absolute; top:6px; left:0; width:22px; height:12px; background:url("/site/children/images/contents/cts356_check.png") no-repeat;}

.cts356_wrap .kids{position:relative; margin-top:24px; padding:74px 50px 57px; border:1px solid #cacbce; border-radius:20px; box-sizing:border-box;}
.cts356_wrap .kids .kids_list{font-size:0; line-height:0;}
.cts356_wrap .kids .kids_item{display:inline-block; position:relative; width:calc(25% - 10px); margin-right:10px; padding-top:171px; text-align:center; vertical-align:top;}
.cts356_wrap .kids .kids_item:last-child{margin-right:0;}
.cts356_wrap .kids .kids_item:before{display:block; position:absolute; top:0; left:0; right:0; width:140px; height:140px; margin:0 auto; border-radius:50%; background:#eef6fe;}
.cts356_wrap .kids .kids_item:after{display:block; position:absolute; left:0; right:0; margin:0 auto;}
.cts356_wrap .kids .kids_item.n1:after{top:21px; width:114px; height:130px; background:url("/site/children/images/contents/cts356_img02.png") no-repeat;}
.cts356_wrap .kids .kids_item.n2:after{top:-12px; width:121px; height:165px; background:url("/site/children/images/contents/cts356_img03.png") no-repeat;}
.cts356_wrap .kids .kids_item.n3:after{top:7px; width:169px; height:137px; background:url("/site/children/images/contents/cts356_img04.png") no-repeat;}
.cts356_wrap .kids .kids_item.n4:after{top:6px; width:140px; height:124px; background:url("/site/children/images/contents/cts356_img05.png") no-repeat;}
.cts356_wrap .kids .kids_item .tit{color:#1978e3; font-size:22px; font-weight:600; line-height:32px;}
.cts356_wrap .kids .kids_item .txt{margin-top:8px; color:#4d4d4d; font-size:16px; line-height:30px;}

.cts356_wrap .goal{position:relative; margin-top:24px; padding:95px 50px 42px; border-radius:20px; background:#f4f6f9;}
.cts356_wrap .goal .goal_list{font-size:0; line-height:0;}
.cts356_wrap .goal .goal_item{display:inline-block; position:relative; width:calc(50% - 50px); height:334px; margin-right:100px; padding:0 20px; border-radius:60px 20px; background:#fff; vertical-align:top;}
.cts356_wrap .goal .goal_item:last-child{margin-right:0;}
.cts356_wrap .goal .goal_item:after{display:inline-block; height:100%; content:''; vertical-align:middle;}
.cts356_wrap .goal .goal_item:not(:last-child):before{display:block; position:absolute; top:10px; right:-47px; width:3px; height:calc(100% - 30px); background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAFCAYAAACAcVaiAAAAAXNSR0IArs4c6QAAACJJREFUGFdjPHPmzH8TExNGBgYGBjABEwBzYAJwDlwZTBYADHMLaY+AFQ0AAAAASUVORK5CYII=);}
.cts356_wrap .goal .goal_item .tit{display:block; position:absolute; top:-50px; left:0; right:0; width:120px; height:120px; margin:0 auto; padding:42px 0; border-radius:50%; background:#1978e3; color:#fff; font-size:22px; font-weight:600; text-align:center; line-height:36px; letter-spacing:-0.025em;}
.cts356_wrap .goal .goal_item:last-child .tit{background:#069d46;}
.cts356_wrap .goal .goal_item .txt{display:inline-block; width:100%; color:#4d4d4d; font-size:18px; font-weight:500; text-align:center; line-height:30px; vertical-align:middle; letter-spacing:-0.025em;}
.cts356_wrap .goal .goal_item .num{margin-top:95px; margin-bottom:0; margin-left:calc(50% - 150px);}
.cts356_wrap .goal .goal_item .num li{padding-left:50px; color:#4d4d4d; font-size:18px; font-weight:500; line-height:33px;}
.cts356_wrap .goal .goal_item .num > li .count{width:33px; height:33px; font-size:16px; line-height:33px;}

.cts356_wrap .component{position:relative; margin-top:24px; padding:40px 40px 10px; border-radius:20px; background:#f4f6f9;}
.cts356_wrap .component .component_list{font-size:0; line-height:0; box-sizing:border-box;}
.cts356_wrap .component .component_item{display:inline-block; position:relative; width:calc((100% - 120px) / 5); margin-right:30px; margin-bottom:30px; padding:20px 10px 29px; border-radius:30px; background:#fff; text-align:center; vertical-align:top;}
.cts356_wrap .component .component_item .tit{position:relative; padding-top:93px; color:#252831; font-size:17px; font-weight:500; line-height:27px; word-break:keep-all;}
.cts356_wrap .component .component_item .tit:before{display:block; position:absolute; top:0; left:0; right:0; width:90px; height:90px; margin:0 auto; background:url("/site/children/images/contents/cts356_img06.png") no-repeat;}
.cts356_wrap .component .component_item.n2 .tit:before{background-position:-90px 0;}
.cts356_wrap .component .component_item.n3 .tit:before{background-position:-180px 0;}
.cts356_wrap .component .component_item.n4 .tit:before{background-position:-270px 0;}
.cts356_wrap .component .component_item.n5 .tit:before{background-position:-360px 0;}
.cts356_wrap .component .component_item.n6 .tit:before{background-position:0 -90px;}
.cts356_wrap .component .component_item.n7 .tit:before{background-position:-90px -90px;}
.cts356_wrap .component .component_item.n8 .tit:before{background-position:-180px -90px;}
.cts356_wrap .component .component_item.n9 .tit:before{background-position:-270px -90px;}
.cts356_wrap .component .component_item.n10 .tit:before{background-position:-360px -90px;}
@media all and (min-width:1501px){
    .cts356_wrap .component .component_item:nth-child(5n){margin-right:0;}
}
@media all and (max-width:1650px){
    .cts356_wrap .unicef .unicef_wrap:before{width:580px; height:70px;}
    .cts356_wrap .unicef .unicef_wrap:after{right:20px; width:400px; height:84px; background-size:cover;}
}
@media all and (max-width:1500px){
    .cts356_wrap .kids{padding:74px 30px 57px;}
    .cts356_wrap .goal{padding:85px 40px 42px;}
    .cts356_wrap .goal .goal_item{width:calc(50% - 25px); margin-right:50px;}
    .cts356_wrap .goal .goal_item:not(:last-child):before{right:-25px;}
    .cts356_wrap .component .component_item{width:calc((100% - 60px) / 3);}
    .cts356_wrap .component .component_item:nth-child(3n){margin-right:0;}
}
@media all and (max-width:1300px){
    .cts356_wrap .unicef{margin-top:100px;}
    .cts356_wrap .unicef .unicef_wrap{padding:87px 40px 40px;}
    .cts356_wrap .unicef .unicef_wrap:before{width:50%;}
    .cts356_wrap .unicef .unicef_wrap:after{top:-30px; width:300px; height:63px;}
    .cts356_wrap .kids{padding:40px;}
    .cts356_wrap .kids .kids_item{width:calc(50% - 10px); margin-bottom:20px;}
    .cts356_wrap .kids .kids_item:nth-child(2n){margin-right:0;}
    .cts356_wrap .goal .goal_item .tit{width:100px; height:100px; padding:32px 0; font-size:20px;}
    .cts356_wrap .goal .goal_item .txt{font-size:16px;}
    .cts356_wrap .goal .goal_item .num{margin-top:65px; margin-left:0;}
    .cts356_wrap .goal .goal_item .num li{padding-left:40px; font-size:16px; line-height:26px;}
    .cts356_wrap .goal .goal_item .num > li .count{width:28px; height:28px; line-height:28px;}
}
@media all and (max-width:1000px){
    .cts356_wrap .unicef{margin-top:30px;}
    .cts356_wrap .unicef .unicef_wrap .tit{font-size:22px;}
    .cts356_wrap .kids .kids_item .tit{font-size:20px; line-height:30px;}
    .cts356_wrap .goal{padding:85px 30px 30px;}
    .cts356_wrap .goal .goal_item{width:100%; height:auto; margin-right:0; margin-bottom:60px; padding:50px 30px 30px;}
    .cts356_wrap .goal .goal_item:last-child{margin-bottom:0;}
    .cts356_wrap .goal .goal_item:not(:last-child):before{display:none;}
    .cts356_wrap .goal .goal_item .tit{}
    .cts356_wrap .goal .goal_item .txt{text-align:left;}
    .cts356_wrap .goal .goal_item .num{margin-top:0;}
}
@media all and (max-width:800px){
    .cts356_wrap .unicef{margin-top:0;}
    .cts356_wrap .unicef{border-radius:24px;}
    .cts356_wrap .unicef .unicef_wrap{padding:120px 40px 40px;}
    .cts356_wrap .unicef .unicef_wrap:before{top:20px; left:0; right:0; width:90%; height:80px; margin:0 auto; border-radius:20px;}
    .cts356_wrap .unicef .unicef_wrap:after{top:34px; left:0; right:0; width:250px; height:52px; margin:0 auto;}
    .cts356_wrap .component{padding:24px 24px 4px;}
    .cts356_wrap .component .component_item{width:calc((100% - 20px) / 2); margin-right:20px;}
    .cts356_wrap .component .component_item:nth-child(3n){margin-right:20px;}
    .cts356_wrap .component .component_item:nth-child(2n){margin-right:0;}
}
@media all and (max-width:640px){
    .cts356_wrap .unicef .unicef_wrap{padding:110px 24px 24px;}
    .cts356_wrap .unicef .unicef_wrap .tit{margin-bottom:14px; font-size:19px; line-height:28px;}
    .cts356_wrap .unicef .unicef_wrap > ul > li{padding-left:30px; font-size:15px;}
    .cts356_wrap .kids{padding:24px 20px;}
    .cts356_wrap .kids .kids_item{width:100%; margin-right:0; padding-top:130px;}
    .cts356_wrap .kids .kids_item:before{width:100px; height:100px;}
    .cts356_wrap .kids .kids_item:after{top:5px !important; transform:scale(0.7); transform-origin:top center;}
    .cts356_wrap .kids .kids_item .tit{font-size:18px; line-height:28px;}
    .cts356_wrap .kids .kids_item .txt{font-size:14px; line-height:24px;}
    .cts356_wrap .kids .kids_item .txt br{display:none;}
    .cts356_wrap .goal{padding:55px 20px 20px;}
    .cts356_wrap .goal .goal_item{padding:20px; border-radius:20px;}
    .cts356_wrap .goal .goal_item .tit{top:-30px; width:100%; height:35px; padding:0; border-radius:20px; font-size:18px; line-height:35px;}
    .cts356_wrap .goal .goal_item .txt{font-size:14px; line-height:24px;}
    .cts356_wrap .goal .goal_item .num li{padding-left:30px; font-size:14px; line-height:24px;}
    .cts356_wrap .goal .goal_item .num > li .count{width:24px; height:24px; font-size:12px; line-height:24px;}
    .cts356_wrap .component .component_item .tit{padding-top:76px; font-size:14px; line-height:24px;}
    .cts356_wrap .component .component_item .tit:before{transform:scale(0.8); transform-origin:top center;}
}
@media all and (max-width:480px){
    .cts356_wrap .component .component_item{width:100%; margin-right:0;}
}

/* 아동친화도시 성북의 소개 */
.cts357_wrap .introduce{position:relative; padding:85px 70px; border-radius:120px 20px; background:linear-gradient(to right, #eceff6 65%, #f7eae8);}
.cts357_wrap .introduce:before{display:block; position:absolute; right:50px; bottom:-35px; width:497px; height:454px; background:url("/site/children/images/contents/cts357_img01.png") no-repeat;}
.cts357_wrap .introduce .tit{margin-bottom:26px; color:#222; font-size:26px; font-family:'JalnanGothic'; line-height:36px; letter-spacing:-0.025em;}
.cts357_wrap .introduce .tit .blue{color:#1978e3;}
.cts357_wrap .introduce .txt{position:relative; width:64%; color:#4d4d4d; font-size:16px; line-height:30px; letter-spacing:-0.025em;word-break:keep-all;}
.cts357_wrap .sb_box{position:relative; padding:46px 40px 40px; border-radius:20px; background:#f4f6f9;}
.cts357_wrap .sb_box .tit{margin-bottom:30px; color:#1978e3; font-size:26px; font-family:'JalnanGothic'; text-align:center; line-height:36px; letter-spacing:-0.025em;}
.cts357_wrap .sb_box .sb_list{font-size:0; line-height:0; box-sizing:border-box;}
.cts357_wrap .sb_box .sb_item{display:inline-block; position:relative; width:calc((100% - 120px) / 5); min-height:189px; margin-right:30px; padding:20px 10px; border-radius:30px; background:#fff; text-align:center; vertical-align:top;}
.cts357_wrap .sb_box .sb_item:last-child{margin-right:0;}
.cts357_wrap .sb_box .sb_item .txt{position:relative; padding-top:91px; color:#252831; font-size:17px; font-weight:500; line-height:30px; letter-spacing:-0.025em;word-break:keep-all;}
.cts357_wrap .sb_box .sb_item .txt:before{display:block; position:absolute; top:0; left:0; right:0; width:90px; height:90px; margin:0 auto; background:url("/site/children/images/contents/cts356_img06.png") no-repeat;}
.cts357_wrap .sb_box .sb_item.n2 .txt:before{background-position:-90px 0;}
.cts357_wrap .sb_box .sb_item.n3 .txt:before{background-position:-180px 0;}
.cts357_wrap .sb_box .sb_item.n4 .txt:before{background-position:0 -90px;}
.cts357_wrap .sb_box .sb_item.n5 .txt:before{background-position:-90px -90px;}
@media all and (max-width:1500px){
    .cts357_wrap .introduce{padding-bottom:220px;}
    .cts357_wrap .introduce:before{transform:scale(0.8); transform-origin:right bottom;}
    .cts357_wrap .introduce .txt{width:100%;}
    .cts357_wrap .sb_box .sb_item{width:calc((100% - 60px) / 3);}
    .cts357_wrap .sb_box .sb_item:nth-child(3n){margin-right:0;}
    .cts357_wrap .sb_box .sb_item:nth-child(n+4){margin-top:30px;}
}
@media all and (max-width:1300px){
    .cts357_wrap .introduce{padding:85px 50px 200px;}
    .cts357_wrap .introduce:before{transform:scale(0.7);}
}
@media all and (max-width:1000px){
    .cts357_wrap .introduce{padding:45px 40px 160px; border-radius:40px 20px;}
    .cts357_wrap .introduce:before{transform:scale(0.6);}
    .cts357_wrap .introduce .tit{font-size:22px; line-height:32px;}
    .cts357_wrap .introduce .txt{font-size:15px; line-height:25px;}
    .cts357_wrap .sb_box .tit{margin-bottom:16px; font-size:22px; line-height:32px;}
    .cts357_wrap .sb_box .sb_item{min-height:167px;}
    .cts357_wrap .sb_box .sb_item .txt{padding-top:76px; font-size:15px; line-height:25px;}
    .cts357_wrap .sb_box .sb_item .txt:before{transform:scale(0.8); transform-origin:top center;}
}
@media all and (max-width:800px){
    .cts357_wrap .sb_box .sb_item{width:calc((100% - 30px) / 2);}
    .cts357_wrap .sb_box .sb_item:nth-child(3n){margin-right:30px;}
    .cts357_wrap .sb_box .sb_item:nth-child(2n){margin-right:0;}
    .cts357_wrap .sb_box .sb_item:nth-child(n+3){margin-top:30px;}
}
@media all and (max-width:640px){
    .cts357_wrap .introduce{margin-bottom:60px; padding:30px 24px 100px; border-radius:20px;}
    .cts357_wrap .introduce:before{right:15px; transform:scale(0.45);}
    .cts357_wrap .introduce .tit{margin-bottom:10px; font-size:18px; line-height:28px;}
    .cts357_wrap .introduce .txt{font-size:14px; line-height:24px;}
    .cts357_wrap .sb_box{padding:30px 24px}
    .cts357_wrap .sb_box .sb_item{width:100%; min-height:auto; margin-right:0;}
    .cts357_wrap .sb_box .sb_item:nth-child(n+2){margin-top:20px;}
}

/* 아동권리 옴무즈퍼슨 */
.cts359_wrap .step .step_item:nth-child(n+2) .step_inner{padding:48px 20px;}
@media all and (max-width:800px){
    .cts359_wrap .step .step_item:nth-child(n+2) .step_inner{padding:42px 20px;}
}
@media all and (max-width:640px){
    .cts359_wrap .step .step_item:nth-child(n+2) .step_inner{padding:20px 12px;}
}

/* 아동청소년 의회 */
.youth .council{position:relative; width:100%; min-height:300px; padding:60px 30px 33px; background:url("/site/children/images/contents/cts371_img01.png") no-repeat top center / contain; text-align:center;}
.youth .council .tit{position:relative; margin-bottom:34px; padding-top:51px; color:#1978e3; font-size:34px; font-family:'JalnanGothic'; line-height:normal;}
.youth .council .tit:before{display:block; position:absolute; top:0; left:0; right:0; width:28px; height:21px; margin:0 auto; background:url("/site/children/images/contents/cts371_img02.png") no-repeat;}
.youth .council .txt{width:calc(100% - 250px); min-height:243px; margin:0 auto; padding:40px 60px; border-radius:50px; background:#fff; box-shadow:10px 17px 60px 0px rgba(0,0,0,0.1); color:#4d4d4d; font-size:17px; text-align:center; line-height:30px; word-break:keep-all;letter-spacing:-0.025em;}

.youth .role_list{font-size:0; line-height:0; box-sizing:border-box;}
.youth .role_item{display:inline-block; width:calc((100% - 60px) / 3); min-height:222px; margin-right:30px; padding:33px 40px; border:1px solid #cacbce; border-radius:30px; vertical-align:top;}
.youth .role_item:last-child{margin-right:0;}
.youth .role_item .tit{margin-bottom:13px; color:#4d4d4d; font-size:20px; font-weight:600; line-height:32px; word-break:keep-all;}
.youth .role_item .txt{color:#575e6d; font-size:16px; font-weight:300; line-height:32px; letter-spacing:-0.04em;word-break:keep-all;}
@media all and (max-width:1500px){
    .youth .council .txt{width:100%;}
    .youth .role_item{display:block; width:100%; min-height:auto; margin-right:0; margin-bottom:20px;}
}
@media all and (max-width:1000px){
    .youth .council .tit{margin-bottom:20px; padding-top:40px; font-size:30px;}
    .youth .council .txt{min-height:auto; padding:30px; border-radius:30px; font-size:16px;}
    .youth .role_item{padding:30px;}
    .youth .role_item .tit{font-size:18px;}
}
@media all and (max-width:640px){
    .youth .council{padding:50px 0 20px;}
    .youth .council .tit{font-size:24px;}
    .youth .council .txt{padding:24px; border-radius:20px; font-size:15px; line-height:25px;}
    .youth .role_item{padding:24px;}
    .youth .role_item .tit{font-size:17px; line-height:30px;}
    .youth .role_item .txt{font-size:15px; line-height:25px;}
}

.cts371_wrap .caution.type4 .caution_icon{background-image:url("/site/children/images/contents/caution_type4.png");}
.cts371_wrap .img_zoom{margin-top:24px; padding:40px 30px; border:none; background:#eceff6;}

.cts371_wrap .activity{position:relative; margin-bottom:40px; padding:30px; border-radius:20px; background:#eceff6;}
.cts371_wrap .activity .activity_list{font-size:0; line-height:0; box-sizing:border-box;}
.cts371_wrap .activity .activity_item{display:inline-block; width:calc((100% - 80px) / 5); margin-right:20px; text-align:center; vertical-align:top;}
.cts371_wrap .activity .activity_item:last-child{margin-right:0;}
.cts371_wrap .activity .activity_item .month{padding:12px 10px; border-radius:10px 10px 0 0; background:#1978e3; color:#fff; font-size:16px; font-weight:500; line-height:26px;}
.cts371_wrap .activity .activity_item .cont{min-height:146px; padding:11px 20px; border-radius:0 0 10px 10px; background:#fff;}
.cts371_wrap .activity .activity_item .cont .tit{padding-bottom:17px; color:#4a4f66; font-size:16px; font-weight:300; line-height:26px;}
.cts371_wrap .activity .activity_item .cont .txt{position:relative; padding:10px 0; color:#757b8e; font-size:16px; font-weight:300; line-height:26px;}
.cts371_wrap .activity .activity_item .cont .txt:before{display:block; position:absolute; top:0; left:0; width:100%; height:1px; background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAABCAYAAAD9yd/wAAAAAXNSR0IArs4c6QAAABVJREFUGFdjvHr97n8GKNDWVGaEsQFUkgQCnScmoQAAAABJRU5ErkJggg==");}

.youth .photo{position:relative; min-height:672px; margin-top:60px;}
.youth .photo:before{display:block; position:absolute; top:201px; left:90px; width:calc(100% - 77px); height:471px; border-radius:50px 120px; background:url("/site/children/images/contents/cts371_img04.png") no-repeat bottom -5px right, linear-gradient(to right, #eceff6 65%, #f7eae8);}
.youth .photo .photo_list{position:relative; z-index:0; width:100%; margin-left:26px;}
.youth .photo .photo_list .slick-list{}
.youth .photo .photo_item{display:inline-block;}
.youth .photo .photo_item img{border-radius:60px;}
.youth .photo .photo_item .txt{width:1000px; margin-top:13px; margin-bottom:27px; color:#252831; font-size:20px; text-align:center; line-height:32px; letter-spacing:-0.04em;}
.youth .photo .photo_control{position:absolute; left:795px; bottom:72px; z-index:1; width:245px; height:50px; padding-left:30px; font-size:0; line-height:0;}
.youth .photo .photo_control:before{display:block; position:absolute; top:0; left:0; width:198px; height:50px; border-radius:40px 40px 0 0; background:#eceff6;}
.youth .photo .photo_control .photo_auto{position:relative; width:22px; height:22px; background:url("/site/children/images/contents/cts371_slick01.png") no-repeat; vertical-align:middle;}
.youth .photo .photo_control .photo_auto.slick-play{background-position:-22px 0;}
.youth .photo .photo_control span{position:relative; font-size:15px; line-height:25px; vertical-align:middle; letter-spacing:-0.035em;}
.youth .photo .photo_control .photo_current{width:43px; margin-left:14px; padding-right:23px; color:#333; font-weight:700; font-family:'Montserrat';}
.youth .photo .photo_control .photo_current:before{display:block; position:absolute; top:0; right:5px; bottom:0; width:10px; height:2px; margin:auto 0; background:#cacaca}
.youth .photo .photo_control .photo_total{margin-right:20px; color:#969696; font-weight:500; font-family:'Montserrat';}
.youth .photo .photo_control .photo_prev,
.youth .photo .photo_control .photo_next{position:relative; width:50px; height:50px; border-radius:50%; background:#fff url("/site/children/images/contents/cts371_slick02.png"); box-shadow:10px 17px 30px rgba(0,0,0,0.15); vertical-align:middle;}
.youth .photo .photo_control .photo_next{background-position:-50px 0; background-color:#1978e3;}
.youth .photo .photo_control .photo_prev:hover{background-position:-50px 0; background-color:#183887; transform:rotate(180deg);}
.youth .photo .photo_control .photo_next:hover{background-color:#183887;}
@media all and (max-width:1500px){
    .cts371_wrap .activity .activity_item{width:calc((100% - 60px) / 3);}
    .cts371_wrap .activity .activity_item:nth-child(n+4){margin-top:20px;}
    .youth .photo{min-height:600px;}
    .youth .photo:before{top:130px;}
    .youth .photo .photo_list{width:calc(100% - 200px);}
    .youth .photo .photo_item img{height:492px; object-fit:cover;}
    .youth .photo .photo_item .txt{width:100%;}
    .youth .photo .photo_control{left:60%; bottom:108px;}
}
@media all and (max-width:1300px){
    .youth .photo:before{background-size:auto 70%;}
    .youth .photo .photo_list{width:calc(100% - 50px); margin-left:0;}
    .youth .photo .photo_control{left:65%;}
}
@media all and (max-width:1000px){
    .youth .photo:before{background-size:auto 50%;}
    .youth .photo .photo_item img{border-radius:30px;}
    .youth .photo .photo_item .txt{font-size:18px;}
    .youth .photo .photo_control{width:225px; height:40px;}
    .youth .photo .photo_control:before{height:40px;}
    .youth .photo .photo_control .photo_prev, .youth .photo .photo_control .photo_next{width:40px; height:40px; background-size:cover;}
    .youth .photo .photo_control .photo_next{background-position:-40px 0;}
}
@media all and (max-width:800px){
    .cts371_wrap .activity .activity_item{width:calc((100% - 20px) / 2);}
    .cts371_wrap .activity .activity_item:nth-child(2n){margin-right:0;}
    .cts371_wrap .activity .activity_item:nth-child(n+3){margin-top:20px;}
    .youth .photo{min-height:450px;}
    .youth .photo:before{top:90px; left:80px; height:400px; border-radius:30px 60px;}
    .youth .photo .photo_list{width:calc(100% - 30px);}
    .youth .photo .photo_item img{height:400px;}
    .youth .photo .photo_control{left:auto; right:0; bottom:70px;}
}
@media all and (max-width:640px){
    .cts371_wrap .img_zoom{padding:20px;}
    .youth .photo{min-height:auto; margin-top:30px;}
    .youth .photo:before{display:none;}
    .youth .photo .photo_list{width:100%;}
    .youth .photo .photo_item img{height:auto; border-radius:20px;}
    .youth .photo .photo_item .txt{font-size:16px;}
}
@media all and (max-width:480px){
    .cts371_wrap .activity .activity_item{width:100%; margin-right:0;}
    .cts371_wrap .activity .activity_item:nth-child(n+2){margin-top:20px;}
    .cts371_wrap .activity .activity_item .cont{min-height:auto;}
    .cts371_wrap .activity .activity_item .cont .tit{padding-bottom:10px; font-size:15px;}
    .cts371_wrap .activity .activity_item .cont .txt{font-size:15px;}
}

/* 아동청소년 참여위원회 */
.cts372_wrap.youth .council .txt{min-height:117px;}
.cts372_wrap.youth .council.n2{margin-top:65px;}
.cts372_wrap.youth .role_item .tit{margin-bottom:0;}
.cts372_wrap .step .step_item:nth-child(2) .step_inner{padding:36px 20px;}
.cts372_wrap .step .step_item:nth-child(6) .step_inner{padding:61px 20px;}
.cts372_wrap.youth .photo .photo_control{width:248px;}
@media all and (min-width:1501px){
    .cts372_wrap.youth .role_item{min-height:182px;}
    .cts372_wrap .step .step_item{width:33.33%;}
}
@media all and (max-width:1300px){
    .cts372_wrap .step .step_item:nth-child(3) .step_inner{padding:48px 20px;}
}
@media all and (max-width:1000px){
    .cts372_wrap.youth .council .txt{min-height:auto;}
    .cts372_wrap.youth .photo .photo_control{width:228px;}
}
@media all and (max-width:800px){
    .cts372_wrap .step .step_item:nth-child(2) .step_inner{padding:34px 20px;}
    .cts372_wrap .step .step_item:nth-child(3) .step_inner{padding:42px 20px;}
    .cts372_wrap .step .step_item:nth-child(6) .step_inner{padding:53px 20px;}
}
@media all and (max-width:640px){
    .cts372_wrap.youth .council{min-height:auto;}
    .cts372_wrap.youth .council.n2{margin-top:30px;}
    .cts372_wrap .step .step_item:nth-child(2) .step_inner,
    .cts372_wrap .step .step_item:nth-child(3) .step_inner,
    .cts372_wrap .step .step_item:nth-child(6) .step_inner{padding:20px 12px;}
}

/* 성북 생태체험관 */
.sb_program{position:relative; padding-top:302px;}
.sb_program:before{display:block; position:absolute; top:183px; left:208px; width:706px; height:235px; background:url("/site/children/images/contents/cts373_img04.png") no-repeat; background-size:cover;}
.sb_program:after{display:block; position:absolute; top:0; left:0; width:658px; height:436px; border-radius:0 200px; background:url("/site/children/images/contents/cts373_img01.jpg") no-repeat; background-size:cover;}
.sb_program .txt{position:relative; z-index:1; width:calc(100% - 215px); min-height:165px; margin-left:auto; padding:53px 70px; border-radius:100px 50px; background:linear-gradient(to right, #eceff6 65%, #f7eae8);}
.sb_program .txt:before{display:block; position:absolute; top:-89px; right:0; width:580px; height:91px; background:url("/site/children/images/contents/cts373_img02.png") no-repeat; background-size:cover;}
.sb_program .txt:after{display:block; position:absolute; top:-262px; right:0; width:415px; height:305px; background:url("/site/children/images/contents/cts373_img03.png") no-repeat; background-size:cover;}
.sb_program .txt p{color:#4d4d4d; font-size:17px; line-height:27px; letter-spacing:-0.025em; word-break:keep-all;}
.cts373_wrap .role_item{min-height:278px;}
@media all and (max-width:1500px){
    .sb_program{padding-top:250px;}
    .sb_program:before{top:150px; left:100px; width:600px; height:200px; }
    .sb_program:after{width:550px; height:364px; border-radius:0 150px;}
    .sb_program .txt{width:calc(100% - 100px);}
    .sb_program .txt:before{top:-73px; width:480px; height:75px;}
    .sb_program .txt:after{top:-190px; width:310px; height:228px;}
    .cts373_wrap .role_item{min-height:auto;}
}
@media all and (max-width:1300px){
    .sb_program .txt{width:calc(100% - 50px);}
}
@media all and (max-width:1000px){
    .sb_program{padding-top:170px;}
    .sb_program:before{top:100px; left:50px; width:500px; height:100px;}
    .sb_program:after{width:400px; height:265px; border-radius:0 100px;}
    .sb_program .txt{min-height:auto; padding:40px; border-radius:70px 35px;}
    .sb_program .txt:before{top:-53px; width:350px; height:55px;}
    .sb_program .txt:after{top:-120px; width:200px; height:147px;}
    .sb_program .txt p{font-size:16px; line-height:26px;}
}
@media all and (max-width:640px){
    .sb_program{padding-top:140px;}
    .sb_program:before{display:none;}
    .sb_program:after{width:300px; height:199px; border-radius:0 60px;}
    .sb_program .txt{width:calc(100% - 20px); padding:30px; border-radius:50px 25px;}
    .sb_program .txt:before{top:-29px; width:200px; height:31px;}
    .sb_program .txt:after{top:-80px; width:130px; height:96px;}
    .sb_program .txt p{font-size:15px; line-height:25px;}
}

/* 성북구 숲유치원 */
.cts374_wrap .sb_program:after{background-image:url("/site/children/images/contents/cts374_img01.jpg");}

/* 기후변화교실 */
.cts375_wrap .sb_program:after{background-image:url("/site/children/images/contents/cts375_img01.jpg");}
.cts375_wrap .role_item .tit span{font-size:17px;}
@media all and (min-width:1501px){
    .cts375_wrap .role_item{min-height:278px;}
}
@media all and (min-width:1001px){
    .cts375_wrap .role_item{padding:33px 36px;}
}
@media all and (max-width:1000px){
    .cts375_wrap .role_item .tit span{font-size:16px;}
}

/* 역사문화 탐방 */
.cts376_wrap .sb_program:after{background-image:url("/site/children/images/contents/cts376_img01.jpg");}

/* 아리랑 동요제 */
.cts377_wrap .sb_program:after{background-image:url("/site/children/images/contents/cts377_img01.jpg");}

/* 어린이친구 성북 페스티벌 */
.cts378_wrap .sb_program:after{background-image:url("/site/children/images/contents/cts378_img01.jpg");}

/* 놀터소개 */
.unicef_box{position:relative; margin-top:168px; border-radius:120px 120px 20px 20px; background:#f4f6f9;}
.unicef_box:before{display:block; position:absolute; top:-21px; left:0; z-index:1; width:54%; height:145px; border-radius:0 0 124px 124px; background:#fff url("/site/children/images/contents/cts356_img01.png") no-repeat top 0 left 70px; background-size:62% auto;}
.unicef_box:after{display:block; position:absolute; top:-44px; left:50%; z-index:1; width:203px; height:140px; background:url("/site/children/images/contents/cts383_img02.png") no-repeat; transform:translateX(-50%); background-size:cover;}
.unicef_box .top{position:relative; padding:177px 70px 42px; border-radius:120px 120px 120px 20px; background:linear-gradient(to right, #00a0e9 80%, #56b570 90%);}
.unicef_box .top:before{display:block; position:absolute; top:-98px; right:128px; width:375px; height:247px; background:url("/site/children/images/contents/cts383_img03.png") no-repeat; background-size:cover;}
.unicef_box .top .tit{color:#fff; font-size:26px; font-family:'JalnanGothic'; line-height:36px; letter-spacing:-0.025em; word-break:keep-all;}
.unicef_box .top .txt{margin-top:25px; margin-bottom:15px; color:#fff; font-size:17px; line-height:30px; letter-spacing:-0.025em; word-break:keep-all;}
.unicef_box .top .caution.type5{color:#fff; font-size:16px; line-height:24px;}
.unicef_box .top .caution.type5 .caution_icon{background-image:url("/site/children/images/contents/caution_type5.png");}

.unicef_box .bottom{position:relative; padding:35px 70px 57px;}
.unicef_box .bottom .tit{margin-bottom:36px; color:#222; font-size:22px; font-weight:600; line-height:32px; letter-spacing:-0.035em;}
.unicef_box .bottom .tit span{display:inline; color:#1978e3;}
.unicef_box .bottom .bottom_list{font-size:0; line-height:0; box-sizing:border-box;}
.unicef_box .bottom .bottom_item{display:inline-block; position:relative; width:calc((100% - 120px) / 5); margin-right:30px; padding:36px 10px; border-radius:80px 20px 60px 20px; background:#fff; text-align:center; vertical-align:top;}
.unicef_box .bottom .bottom_item:last-child{margin-right:0;}
.unicef_box .bottom .bottom_item .num{position:absolute; top:0; left:0; width:50px; height:50px; border-radius:10px 20px 20px 20px; background:#00a0e9; color:#fff; font-size:16px; font-weight:700; line-height:50px; letter-spacing:-0.025em;}
.unicef_box .bottom .bottom_item .txt{color:#4d4d4d; font-size:18px; font-weight:600; line-height:25px; letter-spacing:-0.025em;}
.unicef_box .bottom .bottom_item .txt span{display:block; font-weight:400;}

.play .box.type3{border-color:#cacbce;}
.play .box.type3:before{height:220px;}
.play .box.type3 .img_logo{margin-bottom:28px;}
.play .box.type3 .bu{margin-top:15px; margin-bottom:15px;}

.play .photo{display:block; position:relative; margin-top:80px;}
.play .photo .photo_list{position:relative; z-index:0; width:920px; margin:0 auto;}
.play .photo .photo_item{display:inline-block;}
.play .photo .photo_item img{border-radius:60px;}
.play .photo .photo_item .txt{margin-top:14px; color:#252831; font-size:20px; text-align:center; line-height:32px; letter-spacing:-0.04em;}
.play .photo .photo_control{position:absolute; left:calc(50% + 230px); bottom:46px; z-index:1; width:250px; height:50px; padding-left:30px; font-size:0; line-height:0;}
.play .photo .photo_control:before{display:block; position:absolute; top:0; left:0; width:198px; height:50px; border-radius:40px 40px 0 0; background:#fff;}
.play .photo .photo_control .photo_auto{position:relative; width:22px; height:22px; background:url("/site/children/images/contents/cts371_slick01.png") no-repeat; vertical-align:middle;}
.play .photo .photo_control .photo_auto.slick-play{background-position:-22px 0;}
.play .photo .photo_control span{position:relative; font-size:15px; line-height:25px; vertical-align:middle; letter-spacing:-0.035em;}
.play .photo .photo_control .photo_current{width:43px; margin-left:14px; padding-right:23px; color:#333; font-weight:700; font-family:'Montserrat';}
.play .photo .photo_control .photo_current:before{display:block; position:absolute; top:0; right:5px; bottom:0; width:10px; height:2px; margin:auto 0; background:#cacaca}
.play .photo .photo_control .photo_total{margin-right:20px; color:#969696; font-weight:500; font-family:'Montserrat';}
.play .photo .photo_control .photo_prev,
.play .photo .photo_control .photo_next{position:relative; width:50px; height:50px; border-radius:50%; background:#fff url("/site/children/images/contents/cts371_slick02.png"); box-shadow:10px 17px 30px rgba(0,0,0,0.15); vertical-align:middle;}
.play .photo .photo_control .photo_next{background-position:-50px 0; background-color:#1978e3;}
.play .photo .photo_control .photo_prev:hover{background-position:-50px 0; background-color:#183887; transform:rotate(180deg);}
.play .photo .photo_control .photo_next:hover{background-color:#183887;}

@media all and (max-width:1500px){
    .unicef_box:before{width:44%; height:120px; border-radius:0 0 90px 90px; background-size:78% auto; background-position:50px 0;}
    .unicef_box:after{width:160px; height:110px;}
    .unicef_box .top{padding:140px 40px 40px}
    .unicef_box .top:before{top:-68px; right:30px; width:250px; height:165px;}
    .unicef_box .bottom{padding:35px 40px 30px;}
    .unicef_box .bottom .bottom_item{width:calc((100% - 60px) / 3); margin-bottom:20px;}
    .unicef_box .bottom .bottom_item:nth-child(3n){margin-right:0;}
    .play .photo .photo_list{width:100%;}
    .play .photo .photo_control{left:auto; right:-20px;}
}
@media all and (max-width:1300px){
    .unicef_box:after{left:53%;}
}
@media all and (max-width:1000px){
    .unicef_box{margin-top:60px;}
    .unicef_box:before{width:50%; height:90px; border-radius:0 0 50px 50px;}
    .unicef_box:after{left:59%;}
    .unicef_box .top{padding:100px 40px 40px; border-radius:80px 80px 80px 20px;}
    .unicef_box .top:before{top:-40px; right:30px; width:150px; height:99px;}
    .unicef_box .top .tit{font-size:20px;}
    .unicef_box .top .txt{font-size:16px; line-height:28px;}
    .play .photo{margin-top:40px;}
    .play .photo .photo_item .txt{font-size:18px;}
    .play .photo .photo_control{height:40px;}
    .play .photo .photo_control:before{height:40px;}
    .play .photo .photo_control .photo_prev, .play .photo .photo_control .photo_next{width:40px; height:40px; background-size:cover;}
    .play .photo .photo_control .photo_next{background-position:-40px 0;}
}
@media all and (max-width:800px){
    .unicef_box:before{width:70%; background-size:70% auto;}
    .unicef_box:after{top:-20px; left:85%; width:120px; height:83px;}
    .unicef_box .top:before{display:none;}
    .unicef_box .bottom .tit{font-size:18px;}
    .unicef_box .bottom .bottom_item{width:calc((100% - 20px) / 2); margin-right:20px;}
    .unicef_box .bottom .bottom_item:nth-child(3n){margin-right:20px;}
    .unicef_box .bottom .bottom_item:nth-child(2n){margin-right:0;}
    .unicef_box .bottom .bottom_item .txt{font-size:16px;}
}
@media all and (max-width:640px){
    .unicef_box{margin-top:20px;}
    .unicef_box:before{width:100%; background-size:180px auto; background-position:left 10% center; border-radius:0 0 30px 30px;}
    .unicef_box:after{top:-10px; left:80%; width:100px; height:69px;}
    .unicef_box .top{padding:100px 24px 24px; border-radius:40px 40px 40px 20px;}
    .unicef_box .top .tit{font-size:18px; line-height:28px;}
    .unicef_box .top .caution.type5{font-size:14px;}
    .unicef_box .top .caution.type5 br{display:none;}
    .unicef_box .bottom{padding:24px;}
    .unicef_box .bottom .bottom_item{width:100%; margin-right:0; padding:20px 10px; border-radius:20px;}
    .unicef_box .bottom .bottom_item .num{width:40px; height:40px; line-height:40px; border-radius:5px 10px 10px 10px; font-size:14px;}
    .cts383_wrap .box.type3 .img_logo{transform:scale(0.8); transform-origin:top left;}
    .play .photo .photo_item img{border-radius:24px;}
    .play .photo .photo_item .txt{font-size:16px;}
}

/* 놀터소개 - 바닥놀이길 */
.play .tab_content:last-child .box .bu.dl{display:inline-block; margin-right:120px; vertical-align:top;}
.play .tab_content:last-child .box .bu.dl:last-child{margin-right:0;}
.play .play_list{position:relative;}
.play .play_list .play_item{position:relative; padding:20px 0;}
.play .play_list .play_item img{display:inline-block; border-radius:16px; vertical-align:middle;}
.play .play_list .play_item .cont{display:inline-block; width:calc(100% - 360px); margin-left:60px; vertical-align:middle;}
.play .play_list .play_item .cont .tit{color:#252831; font-size:16px; font-weight:600; line-height:26px;}
.play .play_list .play_item .cont .num li{color:#575e6d; font-size:15px; line-height:23px;}
.play .play_list .play_item .cont .num > li .count{top:0; width:23px; height:23px; background:#eaeaea; color:#222; font-size:14px; line-height:23px;}
@media all and (max-width:1400px){
    .play .tab_content:last-child .box .bu.dl{margin-right:60px;}
}
@media all and (max-width:1300px){
    .play .play_list .play_item img{width:210px;}
    .play .play_list .play_item .cont{width:calc(100% - 250px); margin-left:40px;}
}
@media all and (max-width:1000px){
    .play .tab_content:last-child .box .bu.dl{margin-right:30px;}
}
@media all and (max-width:800px){
    .play .tab_content:last-child .box .bu.dl{margin-right:0;}
    .play .play_list .play_item img{display:block; width:300px; margin:0 auto;}
    .play .play_list .play_item .cont{display:block; width:100%; margin-top:20px; margin-left:0;}
}

/* 플레이성북 */
.cts382_wrap.youth .council .txt{min-height:auto;}
.cts382_wrap .box.photo{margin-top:auto; min-height:auto;}
.cts382_wrap .box.photo:before{display:none;}
.cts382_wrap .box.photo .box_item{vertical-align:middle;}