/* (주)한신정보기술 이경선 - 2019.01.24 */
#contents{margin-top:50px; padding-bottom:70px; min-height:500px;}
@media screen and (max-width:800px) {
    .mobile_none{display:none;}
}

/* 인사말 */
.greeting{position:relative; text-align:center;}
.greeting .greeting_title:before{display:block; position:absolute; top:0; left:calc(50% - 15px); width:29px; height:48px; background:url(/site/sitetest4/images/contents/greeting_img.png) no-repeat;}
.greeting .greeting_title .title{padding:80px 0 25px 0; font-size:40px; line-height:50px; color:#093577;}
.greeting .greeting_title .title span{display:block;}
.greeting .greeting_title .title .tit2{font-weight:600; color:#0d63b1;}
.greeting .greeting_title .sub_title{font-size:22px; font-weight:600; line-height:22px; color:#171717;}
.greeting .greeting_con{font-size:16px; line-height:28px;}
.greeting .greeting_con p{margin-bottom:35px;}
.greeting .greeting_con p.img_block{position:relative;}
.greeting .greeting_con p.img_block:before{display:block; width:100%; height:0; padding-bottom:35%; background:url(/site/sitetest4/images/contents/greeting_img2.png) no-repeat; background-size:contain;}
.greeting .greeting_con p.img_block:after{display:block; position:absolute; bottom:135px; left:calc(50% - 2px); width:3px; height:38px; background:#000;}
@media screen and (max-width:800px) {
    .greeting .greeting_con p.img_block:after{display:none;}
}


/* 안성맞춤미래교육 */
.future_education{}
.future_education .future_education_block{position:relative; margin-bottom:80px; padding-left:175px; box-sizing:border-box;}
.future_education h3,.future_education h4{display:inline-block; position:absolute; top:calc(50% - 24px); left:0; margin:0 0 065px; padding:0 10px; width:110px; height:47px; border:1px solid #275cab; border-radius:25px; font-size:20px; line-height:47px; text-align:center; color:#275cab; box-sizing:border-box;}
.future_education h3:after,.future_education h4:after{display:inline-block; position:absolute; top:50%; right:-66px; width:65px; height:0; border-top:1px dashed #558ed5;}
.future_education .future_education_block .con{display:inline-block; position:relative; width:100%; text-align:center; box-sizing:border-box;}
.future_education .future_education_block .con:after{display:block; position:absolute; bottom:-50px; left:calc(50% - 18px);  width:36px; height:24px; background:url(/site/sitetest4/images/contents/future_education_sprite.png) no-repeat -200px -100px;}
.future_education .future_education_block:first-child .con:after{bottom:-60px; left:calc(50% - 36px); width:76px; height:37px; background-position:-100px -100px;}
.future_education .future_education_block:last-child .con:after{display:none;}
.future_education .block1 .con{padding:30px 10px; width:100%; background:#3275c8; font-size:27px; line-height:29px; color:#fff; border-radius:50px;}
.future_education .block1 .con strong{color:#fff8cc;}
.future_education .block2 .con{background:#fff; box-sizing:border-box;}
.future_education .block2 .con > ul > li{position:relative; width:33.333%; float:left; padding-top:115px; font-size:16px; line-height:20px; color:#202020;}
.future_education .block2 .con > ul > li:before{display:block; position:absolute; top:0; left:calc(50% - 49px); width:97px; height:97px; border-radius:50%; background:url(/site/sitetest4/images/contents/future_education_sprite.png) no-repeat; background-color:#d7dff2; background-position:0 25px;}
.future_education .block2 .con > ul > li:nth-child(2):before{background-position:-100px 25px;}
.future_education .block2 .con > ul > li:nth-child(3):before{background-position:-200px 20px;}
.future_education .block2 .con > ul > li:after{display:block; position:absolute; top:calc(50% - 12px); right:-12px; width:24px; height:24px; background:url(/site/sitetest4/images/contents/future_education_sprite.png) no-repeat left -100px;}
.future_education .block2 .con > ul > li:last-child:after{display:none;}
.future_education .block2 .con > ul > li strong{display:block; font-size:22px; line-height:26px;color:#010101;}

.future_education .block3 .con{padding:30px 80px; background:#f2f2f2; border:1px solid #d5d5d5; border-radius:100px;}
.future_education .block3 .con ul{}
.future_education .block3 .con ul li{position:relative; padding-left:25px; text-align:left; font-size:16px; line-height:26px;}
.future_education .block3 .con ul li:before{display:block; position:absolute; top:calc(50% - 3px); left:0; width:7px; height:7px; border-radius:50%; background:#273157;}

.future_education .block4 h3{top:10px;}
.future_education .block4 .con{}
.future_education .block4 .con > ul{}
.future_education .block4 .con > ul > li{float:left; margin-right:17px; width:calc(33.333% - 11.5px); box-sizing:border-box;}
.future_education .block4 .con > ul > li:nth-child(3){margin-right:0;}
.future_education .block4 .con > ul > li > p{position:relative; margin-bottom:25px; padding:15px; background:#3b456d; font-size:17px; line-height:20px; color:#fff; border-radius:50px; box-sizing:border-box;}
.future_education .block4 .con > ul > li > p:before{display:block; position:absolute; bottom:-35px; left:calc(50% - 10px); width:20px; height:20px; background:#fff; border:7px solid #3b456d; border-radius:50%; box-sizing:border-box;}
.future_education .block4 .con > ul > li > p:after{display:block; position:absolute; bottom:-25px; left:50%; width:1px; height:25px; background:#3b456d; z-index:-1;}
.future_education .block4 .con > ul > li:nth-child(2) > p,.future_education .block4 .con > ul > li:nth-child(2) > p:after{background-color:#4d86d2;}
.future_education .block4 .con > ul > li:nth-child(3) > p,.future_education .block4 .con > ul > li:nth-child(3) > p:after{background-color:#1f8baa;}
.future_education .block4 .con > ul > li:nth-child(2) > p:before{border-color:#4d86d2;}
.future_education .block4 .con > ul > li:nth-child(3) > p:before{border-color:#1f8baa;}
.future_education .block4 .con > ul > li h4{display:none;}
.future_education .block4 .con > ul > li:first-child h4{display:block; position:absolute; top:calc(50% + 12px); left:-175px;}
.future_education .block4 .con > ul > li .h4_con{}
.future_education .block4 .con > ul > li .h4_con ul.bu{padding:33px 18px; height:240px; border:1px dotted #757575; box-sizing:border-box;}

.future_education_plan{}
.future_education_plan h3{position:relative; margin-bottom:60px; padding:22px 10px; font-size:26px; line-height:28px; background:#275cab; color:#fff; text-align:center;}
.future_education_plan h3:before{display:block; position:absolute; top:auto; bottom:-9px; left:calc(50% - 9px); width:19px; height:19px; background:#275cab; border:5px solid #fff; border-radius:50%; box-sizing:border-box;}
.future_education_plan h3:after{display:block; position:absolute; top:auto; bottom:-50px; left:calc(50% - 1px); width:1px; height:50px; background:#275cab; }
.future_education_plan > ul {position:relative; width:100%;}
.future_education_plan > ul > li{position:relative; text-align:center; min-height:130px;}
.future_education_plan > ul > li .title{display:inline-block; vertical-align:middle; position:absolute; top:calc(50% - 63px); left:0; margin-right:30px; width:127px; height:127px; font-size:22px; line-height:24px;background:#d7dff2; border-radius:50%;}
.future_education_plan > ul > li .title span{font-size:18px;}
/* .future_education_plan > ul > li .title:after{display:inline-block; width:0; height:100%; line-height:127px; vertical-align:middle;} */
.future_education_plan > ul > li .con{padding:35px 0;margin-left:157px; width:calc(100% - 157px); min-height:130px; border:1px dotted #757575; box-sizing:border-box;}
.future_education_plan > ul > li .con .date{float:left; width:160px; font-size:20px; line-height:24px; color:#0a2283; font-weight:600;}
.future_education_plan > ul > li .con .date span{display:block;}
.future_education_plan > ul > li .con ul.bu{float:left; width:calc(100% - 160px);}
