@charset "UTF-8";
/* (주)한신정보기술 박서영 - 2024.11 */
#contents h3, #contents h4, #contents h5, .emphasis, .table, .title_box{font-family:Verdana, Geneva, Tahoma, sans-serif; word-break:keep-all;}
.box{border-radius:20px; font-family:Verdana, Geneva, Tahoma, sans-serif;}
.blt{position:relative; padding-left:17px; font-size:16px; line-height:26px;}
.blt:before{display:block; position:absolute; top:9px; left:4px; width:7px; height:7px; border-radius:50%; background-color:#1978e3;}
@media all and (max-width:640px){
    .blt{padding-left:12px; font-size:14px; line-height:22px;}
    .blt:before{top:8px; left:0; width:5px; height:5px;}
}
.box .box_text + .table{margin-top:20px;}
.box .bu + .table{margin-top:20px;}
.emphasis .emphasis_subject{font-weight:bold;}
.table th{font-weight:bold;}
.table .blt{text-align:left;}
.title_box .box_title{font-weight:bold;}

/* Tourist map */
.cts470_wrap .box img{border-radius:15px; box-shadow:30px -2px 30px rgba(0,0,0,0.1);}
.cts470_wrap .box.photo .box_cont{margin-top:24px;}
.cts470_wrap .box.photo .box_cont .title{margin-bottom:12px; font-size:20px; line-height:32px; font-family:Verdana, Geneva, Tahoma, sans-serif;}
@media all and (max-width:1000px){
    .cts470_wrap .box.photo .box_cont .title{font-size:18px; line-height:28px;}
}
@media all and (max-width:640px){
    .cts470_wrap .box.photo .box_cont .title{font-size:16px; line-height:24px;}
}

/* Seongbuk attractions */
.attractions{position:relative; width:calc(100% - 90px); margin-bottom:40px; padding:60px 70px 50px; border-radius:25px 175px 25px 25px; background:linear-gradient(to right, #cde5fd, #eceff6 35%); font-family:Verdana, Geneva, Tahoma, sans-serif;}
.attractions .cont{width:53.6%; min-height:296px;}
.attractions .cont .tit{margin-bottom:23px; color:#222; font-size:46px; font-weight:bold; line-height:56px;}
.attractions .cont .tit span{font-size:.6em;}
.attractions .cont .txt{color:#4d4d4d; font-size:20px; line-height:30px;}

.attractions .photo{display:block; position:absolute; top:90px; right:-60px; width:620px;}
.attractions .photo .photo_list{position:relative; z-index:0;}
.attractions .photo .photo_list .slick-list{border-radius:120px 25px;}
.attractions .photo .photo_item{position:relative;}
.attractions .photo .photo_control{font-size:0; line-height:0;}
.attractions .photo .photo_control button{position:absolute; top:0; bottom:0; width:50px; height:50px; margin:auto 0; border-radius:50%; background:#eceff6 url("/site/en/images/contents/cts471_arrow.png") no-repeat;}
.attractions .photo .photo_control button.photo_prev{left:-25px; background-position:-50px 0; transform:rotate(180deg);}
.attractions .photo .photo_control button.photo_prev.slick-disabled{background-position:0; transform:rotate(0);}
.attractions .photo .photo_control button.photo_next{right:-25px; background-position:-50px 0;}
.attractions .photo .photo_control button.photo_next.slick-disabled{background-position:0; transform:rotate(180deg);}

.attractions .white_box{position:relative; min-height:98px; margin-top:105px; padding:25px 30px; border-radius:15px; background:#fff;}
.attractions .white_box .txt{display:inline-block; width:calc(100% - 160px); color:#4d4d4d; font-size:16px; line-height:30px; vertical-align:middle;}
.attractions .white_box .txt span{position:relative; padding-left:28px; font-weight:bold;}
.attractions .white_box .txt span:before{display:block; position:absolute; top:4px; left:0; width:19px; height:22px; background:url("/site/en/images/contents/map_pin.png") no-repeat;}
.attractions .white_box .btn{display:inline-block; margin:0; vertical-align:middle;}

.attractions + .box{width:calc(100% - 90px); padding:42px 50px 50px; border-radius:20px;}
.attractions + .box .box_text{font-family:Verdana, Geneva, Tahoma, sans-serif; letter-spacing:0;}
@media all and (max-width:1300px){
    .attractions{width:100%; padding:40px;}
    .attractions .cont{width:100%; min-height:auto;}
    .attractions .cont .tit{font-size:36px; line-height:46px;}
    .attractions .cont .txt{font-size:18px; line-height:28px;}
    .attractions .photo{position:relative; top:0; right:0; left:0; margin:30px auto 0;}
    .attractions .white_box{margin-top:40px;}
    .attractions + .box{width:100%; padding:40px;}
}
@media all and (max-width:800px){
    .attractions .photo{width:calc(100% - 40px);}
    .attractions .photo .photo_list .slick-list{border-radius:90px 25px;}
}
@media all and (max-width:640px){
    .attractions{padding:30px 25px; border-radius:15px 100px 15px 15px;}
    .attractions .cont .tit{font-size:26px; line-height:36px; margin-bottom:14px;}
    .attractions .cont .txt{font-size:16px; line-height:26px;}
    .attractions .white_box{padding:20px 25px; text-align:center;}
    .attractions .white_box .txt{display:block; width:100%; font-size:14px; line-height:24px; margin-bottom:14px;}
    .attractions .white_box .txt span{padding-left:20px;}
    .attractions .white_box .txt span:before{width:15px; height:17px; background-size:cover;}
    .attractions .photo{width:100%;}
    .attractions .photo .photo_list .slick-list{border-radius:25px;}
    .attractions .photo .photo_control button{width:30px; height:30px; background-size:cover;}
    .attractions .photo .photo_control button.photo_prev{left:-15px; background-position:-30px 0;}
    .attractions .photo .photo_control button.photo_next{right:-15px; background-position:-30px 0;}
    .attractions + .box{border-radius:15px; padding:30px 25px 26px;}
}

/* The Choi Sun-u Residence in Seongbuk-dong */
.cts478_wrap .attractions .white_box{margin-top:40px;}

/* About the Seongbuk-gu Public Sports Center */
.leisure .attractions{min-height:471px; background:linear-gradient(to right, #fdf5d8, #eceff6 35%);}
.leisure .attractions .cont .txt2{margin-top:30px; color:#4d4d4d; font-size:16px; line-height:26px;}
.leisure .box.photo{padding:42px 39px 15px;}
.leisure .box.photo .box_list{margin-top:30px;}
.leisure .box.photo .box_image img{border-radius:25px;}
@media all and (min-width:1501px){
    .leisure .box.photo .box_item:first-child{padding-left:0;}
    .leisure .box.photo .box_item:last-child{padding-right:0;}
}
@media all and (max-width:640px){
    .leisure .box.photo{padding:30px 25px 25px;}
}

/* Seongbuk-gu Public Sports Center - Directions */
.directions .box.map{margin-bottom:40px;}
.directions .box.type2{margin-bottom:20px; border-color:#cacbce; border-radius:50px 20px 20px 20px;}
.directions .box .box_title{font-weight:bold;}
.directions .traffic .traffic_item .traffic_cont{font-family:Verdana, Geneva, Tahoma, sans-serif;}
.directions .traffic .traffic_item .traffic_cont .bu li{padding-left:17px;}
.directions .traffic .traffic_item .traffic_cont .bu li:before{top:9px; left:4px; width:7px; height:7px; border-radius:50%; background-color:#1978e3;}
@media all and (max-width:640px){
    .directions .traffic .traffic_item .traffic_cont .bu li{padding-left:12px;}
    .directions .traffic .traffic_item .traffic_cont .bu li:before{top:8px; left:0; width:5px; height:5px;}
}

/* Seongbuk General Leisure and Sports Town Information */
.cts462_wrap .box .box_text + .bu{margin-top:18px;}
.cts462_wrap .box .blt{margin-top:18px;}

/* Festivals */
.festival{position:relative;}
.festival:before{display:block; position:absolute; top:380px; left:-200px; width:calc(100% + 420px); height:840px; border-radius:0 250px 0 0; background:linear-gradient(to right, #fbdee0, #eceff6 25%);}
.festival .tit{position:relative; color:#222; font-style:italic; font-size:48px; font-weight:bold; font-family:"Times New Roman"; text-align:center; line-height:58px;}
.festival .txt{position:relative; margin-top:20px; color:#4d4d4d; font-size:20px; font-family:Verdana, Geneva, Tahoma, sans-serif; text-align:center; line-height:30px;}
.festival .festival_img{position:relative; margin-top:50px; font-size:0; line-height:0;}
.festival .festival_img .big{display:inline-block; margin-right:29px; vertical-align:top;}
.festival .festival_img .big img{width:100%; height:100%; object-fit:cover; border-radius:160px 25px;}
.festival .festival_img .small{display:inline-block; vertical-align:top;}
.festival .festival_img .small .small_img:first-child{margin-bottom:31px;}
.festival .festival_img .small img{width:100%; height:100%; object-fit:cover; border-radius:25px;}
.festival .cont{position:relative; padding:60px 40px; font-family:Verdana, Geneva, Tahoma, sans-serif; letter-spacing:0;}
.festival .cont .white_box{position:relative; margin-bottom:33px; padding:21px 40px; border-radius:15px; background-color:#fff; font-size:0; line-height:0;}
.festival .cont .white_box:before{display:block; position:absolute; top:0; right:0; bottom:0; left:0; width:3px; height:calc(100% - 54px); margin:auto; background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAFCAYAAACAcVaiAAAAAXNSR0IArs4c6QAAACJJREFUGFdjPHPmzH8TExNGBgYGBjABEwBzYAJwDlwZTBYADHMLaY+AFQ0AAAAASUVORK5CYII=);}
.festival .cont .white_box .bu{display:inline-block; width:50%; vertical-align:middle;}
.festival .cont .white_box .bu:nth-child(2){padding-left:40px;}
.festival .cont .white_box .bu li:before{background-color:#333;}
.festival .cont .white_box .dl .dt{display:inline-block; width:165px; vertical-align:top;}
.festival .cont .white_box .dl .dd{display:inline-block; width:calc(100% - 200px); vertical-align:top;}
.festival .cont .white_box .dl:nth-child(2) .dt{width:90px;}
.festival .cont .white_box .dl:nth-child(2) .dd{width:calc(100% - 258px);}
.festival .cont .white_box .dl .dt:has(+ .dd):before{display:none;}
.festival .cont .white_box .btn{position:absolute; top:0; right:40px; bottom:0; margin:auto 0;}
.festival .cont .cont_txt{padding:0 40px; color:#4d4d4d; font-size:16px; line-height:26px;}
@media all and (max-width:1500px){
    .festival .festival_img .big{width:65%;}
    .festival .festival_img .big .big_img{height:582px;}
    .festival .festival_img .small{width:calc(35% - 29px);}
    .festival .festival_img .small .small_img{width:100%; height:calc(50% - 15px);}
}
@media all and (max-width:1300px){
    .festival:before{top:300px; height:800px;}
    .festival .tit{font-size:38px; line-height:48px;}
    .festival .txt{font-size:18px; line-height:28px;}
    .festival .festival_img .big .big_img{height:446px;}
    .festival .cont{padding:40px 0;}
    .festival .cont .white_box:before{display:none;}
    .festival .cont .white_box .bu{display:block; width:calc(100% - 160px);}
    .festival .cont .white_box .bu:nth-child(2){padding-left:0;}
    .festival .cont .white_box .dl:nth-child(2) .dt{width:165px}
}
@media all and (max-width:1000px){
    .festival .txt br{display:none;}
    .festival .festival_img .big .big_img{height:400px;}
    .festival .festival_img .big img{border-radius:120px 25px;}
    .festival .festival_img .small .small_img{height:185px;}
}
@media all and (max-width:800px){
    .festival .cont .white_box .bu{width:100%;}
    .festival .cont .white_box .btn{position:relative; right:0;}
    .festival .cont .white_box .dl .dt{width:auto !important;}
    .festival .cont .white_box .dl .dd{display:inline; width:auto;}
    .festival .cont .white_box .dl:nth-child(2) .dd{width:auto}
}
@media all and (max-width:640px){
    .festival:before{height:100%;}
    .festival .tit{font-size:28px; line-height:38px;}
    .festival .txt{margin-top:14px; font-size:16px; line-height:26px;}
    .festival .festival_img .big{width:100%; margin-right:0; margin-bottom:20px;}
    .festival .festival_img .big .big_img{height:250px;}
    .festival .festival_img .big img{border-radius:25px;}
    .festival .festival_img .small{width:100%;}
    .festival .festival_img .small .small_img:first-child{margin-bottom:20px;}
    .festival .cont{padding:30px 0 0;}
    .festival .cont .white_box{padding:10px 20px 20px;}
    .festival .cont .cont_txt{padding:0 20px; font-size:14px; line-height:24px;}
}

/* Festivals - Seonjamjehyang */
.cts450_wrap .festival:before{height:970px;}
@media all and (max-width:1000px){
    .cts450_wrap .festival:before{height:100%;}
}

/* Festivals - Seongbuk World Food Festival */
.cts451_wrap .festival:before{height:970px;}
@media all and (max-width:1000px){
    .cts451_wrap .festival:before{height:100%;}
}

/* Festivals - Seongbuk Culture Vacation */
.cts452_wrap .festival:before{height:970px;}
@media all and (max-width:1000px){
    .cts452_wrap .festival:before{height:100%;}
}

/* Festivals - Seongbuk-dong Cultural Heritage Night Tour */
.cts453_wrap .festival:before{height:950px;}
@media all and (max-width:1000px){
    .cts453_wrap .festival:before{height:100%;}
}

/* Festivals - Local Town Festival */
.cts454_wrap .festival:before{height:900px;}
@media all and (max-width:1000px){
    .cts454_wrap .festival:before{height:100%;}
}

/* Cultural Programs */
.cts445_wrap .box.photo .box_wrap{padding:0 40px 40px;}
.cts445_wrap .box.photo .box_cont .title{font-weight:bold;}
@media all and (max-width:1000px){
    .cts445_wrap .box.photo .box_wrap{padding:0 20px 20px;}
}

/* Cultural Classes */
.cts444_wrap .box.image{min-height:auto; align-items:center;}
.cts444_wrap .box.image .box_image{min-width:150px;}

/* Free Korean Language Education */
.link_box{font-family:Verdana, Geneva, Tahoma, sans-serif;}
.cts443_wrap .link_box .link_item .link_anchor .text .text_btn span:before{display:none;}
.cts443_wrap .link_box .link_item .link_anchor .text .text_btn span{text-decoration:underline; text-underline-offset:4px;}
@media all and (min-width:1501px){
    .cts443_wrap .link_box .link_item .link_anchor{padding:40px 34px; text-align:left;}
    .cts443_wrap .link_box .link_item .link_anchor .title{padding:19px 0 19px 70px;}
    .cts443_wrap .link_box .link_item .link_anchor .title:before{position:absolute; top:0; left:0;}
    .cts443_wrap .link_box .link_item .link_anchor .text{padding-left:70px; font-size:16px; line-height:26px;}
    .cts443_wrap .link_box .link_item .link_anchor .text .text_btn{margin:20px 0 0 0;}
}

/* Medical Service */
.cts431_wrap .box.image{min-height:auto;}
@media all and (max-width:800px){
    .cts431_wrap .box.image .bu{text-align:left;}
}

/* Postal */
.cts441_wrap .link_box .link_item .link_anchor .bu{text-align:left;}
.cts441_wrap .emphasis{margin-bottom:0;}
@media all and (min-width:1501px){
    .cts441_wrap .link_box .link_item .link_anchor{padding:40px 34px; text-align:left;}
    .cts441_wrap .link_box .link_item .link_anchor .title{padding:19px 0 19px 70px;}
    .cts441_wrap .link_box .link_item .link_anchor .title:before{position:absolute; top:0; left:0;}
    .cts441_wrap .link_box .link_item .link_anchor .bu{padding-left:70px; font-size:16px; line-height:26px;}
}

/* Report Changing Residence */
.box.qna{}
.box.qna .qna_item{position:relative; padding:30px 0;}
.box.qna .qna_item:first-child{padding-top:0;}
.box.qna .qna_item:last-child{padding-bottom:0;}
.box.qna .qna_item .question{}
.box.qna .qna_item .tit{width:40px; height:40px; border-radius:50%; background-color:#1978e3; color:#fff; font-size:20px; font-weight:bold; font-family:"Times New Roman"; text-align:center; line-height:40px; vertical-align:top;}
.box.qna .qna_item .question .txt{width:calc(100% - 50px); margin-left:10px; padding:7px 0; color:#252831; font-size:16px; font-weight:bold; line-height:26px; vertical-align:top;}
.box.qna .qna_item .answer{margin-top:20px;}
.box.qna .qna_item .answer .tit{background-color:#1b224e;}
.box.qna .qna_item .answer .txt{width:calc(100% - 50px); margin-left:10px; padding:24px 30px; border-radius:20px; background-color:#f4f6f9; color:#4d4d4d; font-size:16px; line-height:26px; vertical-align:top;}
@media all and (max-width:640px){
    .box.qna{padding:30px 16px;}
    .box.qna .qna_item .tit{width:30px; height:30px; font-size:17px; line-height:30px;}
    .box.qna .qna_item .question .txt{padding:3px 0; font-size:14px; line-height:24px;}
    .box.qna .qna_item .answer .txt{padding:20px; font-size:14px; line-height:24px;}
}

/* 407 */
.traffic .traffic_item:nth-child(odd) .traffic_title{background-color:#eceff6;}
@media all and (min-width:1001px){
    .cts407_wrap .traffic .traffic_item.n1 .traffic_title{height:370px;}
}
@media all and (min-width:641px){
    .cts407_wrap .traffic .traffic_item .traffic_cont{min-height:135px;}
}

/* organization */
.organ{position:relative; padding:60px 45px 30px; font-family:Verdana, Geneva, Tahoma, sans-serif;}
.organ ol{font-size:0; line-height:0;}
.organ ol li .depth_title{display:block; position:relative; width:220px; margin:0 auto 30px; vertical-align:top;}
.organ ol li .depth2_title{display:inline-block; margin-right:60px;}
.organ ol li .depth2_title:last-child{margin-right:0;}
.organ ol li:nth-child(4) .depth2_title.type2{display:block; margin-right:calc(50% + 30px)}
.organ ol li:nth-child(4) .depth2_title.type2:nth-child(2){width:380px;}
.organ ol li > ol{position:relative; padding-top:30px;}
.organ ol li .depth4_box{display:inline-block; position:relative; width:calc((100% - 30px) / 4); margin-right:10px; margin-bottom:20px;}
.organ ol li .depth4_box:nth-child(4n){margin-right:0;}
.organ ol li .depth4_box .depth4_title{width:100%; margin:0;}

.organ ol li .depth1_title:before{display:block; position:absolute; top:48px; left:0; right:0; width:1px; height:342px; margin:0 auto; background-color:#d5d7dd;}
.organ ol li .depth2_title:before{display:block; position:absolute; top:0; bottom:0; right:-31px; margin:auto 0; width:30px; height:1px; background-color:#d5d7dd;}
.organ ol li .depth2_title:last-child:before{right:auto; left:-31px;}
.organ ol li > ol:before{display:block; position:absolute; top:0; left:0; width:75.5%; right:0; margin:0 auto; height:1px; background-color:#d5d7dd;}
.organ ol li .depth4_box:nth-child(-n+4):before{display:block; position:absolute; top:-30px; left:0; right:0; margin:0 auto; width:1px; height:30px; background-color:#d5d7dd;}

.cts405_wrap .emphasis.three .emphasis_item{display:inline-block; width:calc((100% - 42px) / 3); margin-right:21px;}
.cts405_wrap .emphasis.three .emphasis_item:nth-child(3n){margin-right:0;}
.cts405_wrap .emphasis .emphasis_subject{font-weight:bold;}

@media all and (max-width:1300px){
    .organ ol li .depth4_box .depth4_title{padding:12px 20px;}

    .cts405_wrap .emphasis.three .emphasis_item{width:calc((100% - 30px) / 2); margin-right:30px;}
    .cts405_wrap .emphasis.three .emphasis_item:nth-child(3n){margin-right:30px;}
    .cts405_wrap .emphasis.three .emphasis_item:nth-child(2n){margin-right:0;}
}
@media all and (max-width:1000px){
    .organ ol li > ol:before{width:51%;}
    .organ ol li:nth-child(4) .depth2_title.type2:nth-child(2){width:auto;}
    .organ ol li .depth4_box{width:calc((100% - 10px) / 2);}
    .organ ol li .depth4_box:nth-child(2n){margin-right:0;}
    .organ ol li .depth4_box:nth-child(n+3):before{display:none;}
    .organ ol li .depth4_box .depth4_title{padding:12px 0;}
    .cts405_wrap .emphasis.three .emphasis_item{width:100%; margin-right:0;}
}
@media all and (max-width:800px){
    .organ ol li .depth1_title:before{top:39px; height:331px;}
}
@media all and (max-width:640px){
    .organ{padding:30px 25px 10px;}
    .organ ol li .depth_title{width:170px; margin:0 auto 20px;}
    .organ ol li .depth2_title{width:100px; margin-right:40px;}
    .organ ol li:nth-child(4) .depth2_title.type2{margin-right:calc(50% + 20px);}
    .organ ol li .depth4_box{width:100%; margin-right:0;}
    .organ ol li .depth4_box .depth4_sub{min-height:auto;}
    .organ ol li .depth4_box:nth-child(n+2):before{display:none;}
    .organ ol li .depth1_title:before{height:430px;}
    .organ ol li .depth2_title:before{right:-21px; width:20px;}
    .organ ol li .depth2_title:last-child:before{left:-21px;}
    .organ ol li > ol:before{display:none;}
    .cts405_wrap .box .btn{height:auto;}
}
