@charset "UTF-8";
body{position:relative;font-size:16px;line-height:24px;color:#555555;font-family:NotoKr,"Apple SD Gothic Neo","애플 SD 산돌고딕 Neo","Malgun Gothic","맑은 고딕","돋움",Dotum,Helvetica,Tahoma,Dotum,sans-serif;background-color:#fff; letter-spacing:-0.01em;}
#wrapper{position:relative; min-width:1270px; overflow:hidden;}
.wrap{position:relative;width:1270px;margin:0 auto;}
.skip{overflow:hidden;}
a:link{color:#555555;text-decoration:none;}
a:visited{color:#555555;text-decoration:none;}
a:hover{color:#555555;text-decoration:underline;}
a:active{color:#555555;text-decoration:underline;}
a span{cursor:pointer;}
button{cursor:pointer; font-family:'NotoKr','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
input{font-family:'NotoKr','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
input[type="submit"]{cursor:pointer;}

/* Slider */
.slick-slider{position: relative; display: block; box-sizing: border-box;}
.slick-list{position: relative;display: block; overflow:hidden; margin: 0;padding: 0;}
.slick-list:focus{outline: none;}
.slick-list.dragging{cursor:pointer;}
.slick-track{ position: relative; top: 0;left: 0;display: block;}
.slick-track:before,.slick-track:after{display: table;content: '';}
.slick-track:after{clear: both;}
.slick-loading .slick-track{visibility: hidden;}
.slick-slide{display: none;float: left;height: 100%;min-height:1px;}
[dir='rtl'] .slick-slide{float: right;}
.slick-slide img{display: block; width:100%;}
.slick-slide.slick-loading img{display: none;}
.slick-initialized .slick-slide{display: block;}
.slick-loading .slick-slide{visibility: hidden;}
.slick-vertical .slick-slide{display: block;height: auto;border: 1px solid transparent;}
#scrollbar {display:block; visibility:hidden; overflow-x:scroll; overflow-y:scroll; position:absolute; top:-100px; left:-100px; z-index:-1; width:100px; height:100px;}

[data-menu-type='1'] {transition-property:height;}
[data-menu-type='1'][data-menu-top-background]:before {background-color:#2b52a7;}
[data-menu-type='1'][data-menu-bottom-background]:after {background-color:#fff;}

/* 공통 */
[data-menu-type='1'] [data-menu-text] {font-size:16px; line-height:18px;}
[data-menu-type='1'] [data-menu-text][target='_blank']:after{position:absolute; width:0; height:0;}

/* 제목상자 */
[data-menu-type='1'] div[data-menu-title] {width:284px;}
[data-menu-type='1'] div[data-menu-title='2'] {transition-property:visibility, opacity;}
[data-menu-type='1'] div[data-menu-title] p {color:#fff; font-size:15px; line-height:17px; text-align:center;}

/* 제목상자 활성화 */
[data-menu-type='1'] div[data-menu-depth='1'].clearfix ul[data-menu-list='1'] > li.active div[data-menu-title='2'] {visibility:visible; opacity:1;}

/* 1차메뉴 */
[data-menu-type='1'] div[data-menu-depth='1'].clearfix ul[data-menu-list='1'] {width:900px;}
[data-menu-type='1'] ul[data-menu-list='1'] > li {width:20%;}
[data-menu-type='1'] [data-menu-text='1'] {padding:11px 5px; color:#fff; text-align:center;}
[data-menu-type='1'] [data-menu-text='1'][target='_blank']:after {}

/* 2차메뉴 */
[data-menu-type='1'] div[data-menu-depth='2'] {transition-property:visibility, background-color;}
[data-menu-type='1'] ul[data-menu-list='2'] {padding:22px 0 58px 56px;}
[data-menu-type='1'] ul[data-menu-list='2'] > li {margin-top:8px;}
[data-menu-type='1'] ul[data-menu-list='2'] > li:first-child {margin-top:0;}
[data-menu-type='1'] [data-menu-text='2'] {color:#606060;}
[data-menu-type='1'] [data-menu-text='2'][target='_blank']:after {}

/* 2차메뉴 활성화 */
.menu_active [data-menu-type='1'] div[data-menu-depth='2'] {visibility:visible;}

/* 3차메뉴 */
[data-menu-type='1'] div[data-menu-depth='3'] {display:none;}

/* 메뉴높이 */
[data-menu-type='1'] {height:77px;}
[data-menu-type='1'][data-menu-bottom-background]:after, [data-menu-type='1'] div[data-menu-title]{top:40px;}
[data-menu-type='1'][data-menu-bottom-background]:after, [data-menu-type='1'] div[data-menu-title]{height:calc(100% - 77px);}

/* 중앙정렬 넓이 */
[data-menu-type='1'] div[data-menu-depth='1'], [data-menu-type='1'][data-menu-top-background]:before, [data-menu-type='1'][data-menu-bottom-background]:after {width:1270px;}
[data-menu-type='1'][data-menu-top-background='full']:before, [data-menu-type='1'][data-menu-bottom-background='full']:after {width:100%;}

/* header */
#header{position:absolute; top:0; left:0; width:100%; height:149px; z-index:69;}
#header .header_box{position:relative; z-index:70;}
#header .header_box .wrap .logo {display:block; position:absolute; top:72px; left:0; width:344px; line-height:0; z-index:50;}
#header .header_box .wrap .logo a {display:block; height:49px; background-repeat:no-repeat; background-position:left center; background-image:url(../images/common/logo.png); font-size:0; line-height:0;}
.menu_active #header .header_box .wrap .logo a{background-image:url(../images/common/logo_active.png);}
#header .header_box .wrap .lnb_open{position:absolute; top:18px; right:14px; display:none; width:38px; height:33px; background-repeat:no-repeat; background-position:center center; background-image:url(../images/common/lnb_open.png); color:transparent; font-size:0;}

#header .lnbbox{position:absolute; top:42px; left:0; width:100%; padding-top:30px; z-index:12; transition-property:background-color; transition-duration:250ms; transition-timing-function:linear;}
.menu_active #header .lnbbox{background-color:#FFF;}
.lnb_topbox{position:absolute; top:-42px; left:0; width:100%; z-index:33; transition-property:background-color; transition-duration:250ms; transition-timing-function:linear;}
.lnb_topbox .wrap{padding:11px 0;}
.lnb_topbox .wrap .gnb{float:right;}
.lnb_topbox .wrap .gnb .floatbox{float:left;}
.lnb_topbox .wrap .gnb .floatbox ul li{position:relative; float:left; margin-left:12px; padding-left:13px;}
.lnb_topbox .wrap .gnb .floatbox.left ul li:first-child{margin-left:0; padding-left:0;}
.lnb_topbox .wrap .gnb .floatbox ul li:before{position:absolute; top:4px; left:0; display:block; width:1px; height:13px; background-color:#d4d4d4; content:''; transition:background-color 250ms linear;}
.lnb_topbox .wrap .gnb .floatbox.left ul li:first-child:before{display:none;}
.menu_active .lnb_topbox .wrap .gnb .floatbox ul li:before{background-color:rgba(255, 255, 255, 0.17);}
.lnb_topbox .wrap .gnb .floatbox ul li a{display:block; line-height:20px; color:#4b4b4b; font-size:15px; letter-spacing:-0.03em; transition-property:color; transition-duration:250ms; transition-timing-function:linear;}
.menu_active .lnb_topbox .wrap .gnb .floatbox ul li a{color:#FFF;}

#header .lnbbox .nav{height:77px;}
#header .lnbbox .nav .depth1:before{position:absolute; bottom:0; right:0; display:block; width:240px; height:145px; background-repeat:no-repeat; background-image:url(../images/common/menu_bg.png); content:''; opacity:0; transition:opacity 250ms linear;}
.menu_active #header .lnbbox .nav .depth1:before{opacity:1;}
#header .lnbbox .nav .depth1_title{top:77px; background-repeat:no-repeat; background-position:right 27px; background-image:url(../images/common/menu_title_bg.png);}
#header .lnbbox .nav .depth1_title .innerbox{padding-top:18px;}
#header .lnbbox .nav .depth1_title .innerbox p{text-align:left;}
#header .lnbbox .nav .depth1{overflow:hidden;}
#header .lnbbox .nav .depth1_list{position:relative; width:auto;}
#header .lnbbox .nav .depth1_list:before{position:absolute; top:76px; left:0; right:0; display:block; width:100%; height:1px; background-color:rgba(255, 255, 255, 0.3); content:''; transition:background-color 250ms linear;}
.menu_active #header .lnbbox .nav .depth1_list:before{background-color:rgba(14, 87, 208, 0.3);}
#header .lnbbox .nav .depth1_list .depth1_item{width:auto;}
#header .lnbbox .nav .depth1_list .depth1_item .depth1_text{padding:18px 0 26px 56px; color:#FFF; font-size:24px; letter-spacing:-0.03em;}
#header .lnbbox .nav .depth1_list .depth1_item:first-child .depth1_text{padding:18px 0 26px;}
.menu_active #header .lnbbox .nav .depth1_list .depth1_item .depth1_text{color:#383635;}
#header .lnbbox .nav .depth1_list .depth1_item.active .depth1_text, #header .lnbbox .nav .depth1_list .depth1_item .depth1_text:hover, #header .lnbbox .nav .depth1_list .depth1_item.active .depth1_text:focus{color:#0e57d0;}

#header .lnbbox .nav .depth1_list .depth1_item .depth1_text:before{display:none;}
#header .lnbbox .nav .depth1_list .depth1_item .depth1_text span{position:relative; display:block; line-height:30px;}
#header .lnbbox .nav .depth1_list .depth1_item .depth1_text span:before{position:absolute; bottom:-27px; left:0; display:block; width:100%; height:4px; background-color:#0e57d0; content:''; transform:scaleX(0); transition:transform 250ms linear;}
#header .lnbbox .nav .depth1_list .depth1_item.active .depth1_text span:before, #header .lnbbox .nav .depth1_list .depth1_item .depth1_text:hover span:before{transform:scaleX(1);}
#header .lnbbox .nav .depth1_list .depth1_item .depth1_text span em{display:inline-block; margin-top:2px; vertical-align:top; line-height:30px; font-size:20px;}
#header .lnbbox .nav .depth1_list .depth1_item .depth1_text:hover span em{text-decoration:underline;}

#header .lnbbox .nav .depth1_item:first-child .depth2_list{padding:22px 0 58px;}
#header .lnbbox .nav .depth2_list .depth2_item .depth2_text{line-height:22px; letter-spacing:-0.03em; transition-property:color;}
#header .lnbbox .nav .depth2_list .depth2_item .depth2_text:hover{text-decoration:none; color:#2c2c2c; font-weight:600;}

#header .lnbbox .lnb_close{position:absolute; top:18px; right:16px; display:none; width:34px; height:33px; background-repeat:no-repeat; background-position:center center; background-image:url(../images/common/lnb_close.png); color:transparent; font-size:0; z-index:34;}

#footer{position:relative; background-color:#403e4e; z-index:71;}
#footer .footer_nav{border-bottom:rgba(255, 255, 255, 0.15) solid 1px;}
#footer .footer_nav .wrap{padding:13px 0;}
#footer .footer_nav .wrap ul li{float:left; margin-left:31px;}
#footer .footer_nav .wrap ul li:first-child{margin-left:0;}
#footer .footer_nav .wrap ul li a{display:block; line-height:24px; color:#b3b2b8; font-size:15px; letter-spacing:-0.03em;}
#footer .footer_nav .wrap ul li:nth-child(2) a{color:#FFF;}
#footer .footer_con{position:relative; padding:24px 0 26px 80px;}
#footer .footer_con .footer_logo{position:absolute; top:17px; left:0; width:55px; height:61px; line-height:0;}
#footer .footer_con .footer_info address{margin-bottom:4px; line-height:23px; color:rgba(255, 255, 255, 0.6); font-size:15px; letter-spacing:-0.03em;}
#footer .footer_con .footer_info p{line-height:23px; color:rgba(255, 255, 255, 0.6); font-size:13px; letter-spacing:-0.03em;}


/* web */
@media screen and (max-width:1270px){
#wrapper{min-width:1000px;}
.wrap{width:1000px;}
#header .lnbbox .nav .depth1{width:1000px;}
#header .header_box .wrap .logo{width:270px;}
#header .header_box .wrap .logo a{background-size:contain;}
#header .lnbbox .nav .depth1_list .depth1_item .depth1_text{padding:18px 0 26px 28px;}
#header .lnbbox .nav .depth2_list{padding:22px 0 58px 28px;}
}























