/* (주)한신정보기술 서정한 - 2019.02 */

.lnb_topbox{background-color:#FFF;}
.menu_active .lnb_topbox{background-color:#127edd;}
#container{padding-top:42px;}
.containbox{background-repeat:no-repeat; background-position:center top; background-image:url(../images/main/visual.jpg); background-size:cover;}

.rowgroup1{position:relative; padding:186px 0 86px 570px;}
.rowgroup1 .sloganbox{position:absolute; bottom:66px; left:90px;}
.slogan .conbox{line-height:0;}

.sns_link{display:none; margin-top:16px; padding-right:5px;}
.sns_link ul{text-align:right; font-size:0;}
.sns_link ul li{display:inline-block; width:40px; margin-left:7px; vertical-align:top;}
.sns_link ul li a{display:block; height:40px; background-repeat:no-repeat; background-image:url(../images/main/sns_link.png); color:transparent; font-size:0;}
.sns_link ul li.facebook a{background-position:left top;}
.sns_link ul li.instagram a{background-position:-40px top;}
.sns_link ul li.blog a{background-position:-80px top;}
.sns_link ul li.youtube a{background-position:right top;}

.quick{margin-bottom:1px;}
.quick .conbox ul li{float:left; width:31.44%; margin-right:2.84%; margin-bottom:20px;}
.quick .conbox ul li:nth-child(3n){margin-right:0;}
.quick .conbox ul li a{display:block; border:rgba(255, 255, 255, 0.25) solid 1px; border-radius:12px; background-color:rgba(0, 0, 0, 0.4); padding:16px 2% 15px; line-height:24px; text-align:center; color:#FFF; font-size:19px; letter-spacing:-0.03em; transition:background-color 200ms ease-in-out;}
.quick .conbox ul li a:hover{background-color:rgba(0, 0, 0, 0.7);}
.quick .conbox ul li a span{display:inline-block; border-bottom-color:transparent; border-bottom-style:dotted; border-bottom-width:1px; line-height:24px; transition:border-bottom-color 200ms ease-in-out;}
.quick .conbox ul li a:hover span{border-bottom-color:#FFF;}
.quick .conbox ul li a span br{display:none;}

.board .tabbox{display:none; margin-bottom:7px; padding:0 10px; background-color:#FFF; border-radius:15px; overflow:hidden;}
.board .tabbox ul li{float:left; width:33.33%;}
.board .tabbox ul li:nth-child(1){width:32%;}
.board .tabbox ul li:nth-child(2){width:36%;}
.board .tabbox ul li:nth-child(3){width:32%;}
.board .tabbox ul li a{position:relative; display:block; padding:17px 0; color:transparent; font-size:0;}
.board .tabbox ul li a:before{position:absolute; top:12px; left:0; display:block; width:1px; height:23px; background-color:#d8d8d8; content:'';}
.board .tabbox ul li:first-child a:before{display:none;}
.board .tabbox ul li a span{display:block; height:14px; background-repeat:no-repeat; background-position:center top; transition:background-position 200ms ease-in-out;}
.board .tabbox ul li:nth-child(1) a span{background-image:url(../images/main/board_tab01.png);}
.board .tabbox ul li:nth-child(2) a span{background-image:url(../images/main/board_tab02.png);}
.board .tabbox ul li:nth-child(3) a span{background-image:url(../images/main/board_tab03.png);}
.board .tabbox ul li.active a span{background-position:center bottom;}


.board .tabcontent .tabcon{position:relative; float:left; width:220px; margin-right:20px; background-color:#FFF; border-radius:15px; overflow:hidden; box-shadow:rgba(0, 0, 0, 0.29) 0 -3px 0;}
.board .tabcontent .tabcon:last-child{margin-right:0;}
.board .tabcontent .tabcon .titlebox{padding:15px 37px 14px 14px;}
.board .tabcontent .tabcon .titlebox h3{line-height:0;}
.board .tabcontent .tabcon .conbox a{position:relative; display:block; color:#323232;}
.board .tabcontent .tabcon .conbox a .photobox{position:relative; display:block;}
.board .tabcontent .tabcon .conbox a .photobox .inner_photo{display:none; background-repeat:no-repeat; background-position:center center; background-size:cover; height:180px;}
.board .tabcontent .tabcon .conbox a .photobox .photo{display:block; line-height:0;}
.board .tabcontent .tabcon .conbox a .photobox .photo img{max-width:100%;}
.board .tabcontent .tabcon .conbox a .textbox{display:block; padding:12px 15px 26px; background-repeat:no-repeat;}
.board .tabcontent .tabcon.tabcon01 .conbox a .textbox{background-position:left bottom; background-image:url(../images/main/board_bg01.png);}
.board .tabcontent .tabcon.tabcon02 .conbox a .textbox{background-position:right top; background-image:url(../images/main/board_bg02.png);}
.board .tabcontent .tabcon.tabcon03 .conbox a .textbox{background-position:left top; background-image:url(../images/main/board_bg03.png);}
.board .tabcontent .tabcon .conbox a .textbox .text{display:block; height:45px; overflow:hidden; line-height:22px; font-size:16px; letter-spacing:-0.04em; font-weight:600;}
.board .tabcontent .tabcon .more{position:absolute; top:11px; right:11px; display:block; width:26px; height:26px; color:transparent; font-size:0;}
.board .tabcontent .tabcon .more:before{position:absolute; top:calc(50% - 9px); left:calc(50% - 9px); display:block; width:18px; height:18px; background:url(../images/main/more.png) no-repeat center center; content:''; transition:transform 500ms ease-in-out;}
.board .tabcontent .tabcon .more:hover:before{transform:rotate(360deg);}

.rowgroup2{padding-bottom:48px;}

.sns .conbox ul li{float:left; width:27.4%; margin-right:8.9%;}
.sns .conbox ul li:last-child{margin-right:0;}
.sns .conbox ul li .innerbox{position:relative; padding-left:73px;}
.sns .conbox ul li .innerbox .title_icon{position:absolute; top:6px; left:0; display:block; width:47px; height:47px; background-repeat:no-repeat; background-image:url(../images/main/sns_icons.png); color:transparent; font-size:0;}
.sns .conbox ul li.facebook .innerbox .title_icon{background-position:left center;}
.sns .conbox ul li.blog .innerbox .title_icon{top:7px; height:46px; background-position:-47px top;}
.sns .conbox ul li.instagram .innerbox .title_icon{background-position:right center;}
.sns .conbox ul li .innerbox a{position:relative; display:block; background-color:rgba(255, 255, 255, 0.7); padding:10px 15px; color:#313131;}
.sns .conbox ul li .innerbox a:before{position:absolute; top:calc(50% - 8px); left:-9px; display:block; width:0; height:0; border-top:transparent solid 8px; border-bottom:transparent solid 8px; border-right:rgba(255, 255, 255, 0.7) solid 9px; content:'';}
.sns .conbox ul li .innerbox a .title{display:block; line-height:20px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:14px; font-weight:600;}
.sns .conbox ul li .innerbox a .text{display:block; line-height:20px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:14px;}

/* web */
@media screen and (max-width:1270px){
.rowgroup1{padding:186px 0 86px 34%;}
.rowgroup1 .sloganbox{left:0; width:32%;}
.quick .conbox ul li{width:32%; margin-right:2%;}
.board .tabcontent .tabcon{width:32%; margin-right:2%;}
.sns .conbox ul li{width:31.2%; margin-right:3.2%;}
}












