@charset "utf-8";

/* 공통 */
div[data-menu-open], div[data-menu-open]:before, div[data-menu-open]:after, div[data-menu-open] button[data-menu-button], div[data-menu-open] button[data-menu-button]:before, div[data-menu-open] button[data-menu-button]:after, [data-menu-type], [data-menu-type]:before, [data-menu-type]:after, [data-menu-type] div[data-menu-depth], [data-menu-type] div[data-menu-depth]:before, [data-menu-type] div[data-menu-depth]:after, [data-menu-type] ul[data-menu-list], [data-menu-type] ul[data-menu-list]:before, [data-menu-type] ul[data-menu-list]:after, [data-menu-type] ul[data-menu-list] > li, [data-menu-type] ul[data-menu-list] > li:before, [data-menu-type] ul[data-menu-list] > li:after, [data-menu-type] [data-menu-text], [data-menu-type] [data-menu-text]:before, [data-menu-type] [data-menu-text]:after, [data-menu-type] div[data-menu-title], [data-menu-type] div[data-menu-title]:before, [data-menu-type] div[data-menu-title]:after, div[data-menu-close], div[data-menu-close]:before, div[data-menu-close]:after, div[data-menu-close] button[data-menu-button], div[data-menu-close] button[data-menu-button]:before, div[data-menu-close] button[data-menu-button]:after {transition:all 0.25s linear;}
div[data-menu-open]:before, div[data-menu-open]:after, div[data-menu-open] button[data-menu-button]:before, div[data-menu-open] button[data-menu-button]:after, [data-menu-type]:before, [data-menu-type]:after, [data-menu-type] div[data-menu-depth]:before, [data-menu-type] div[data-menu-depth]:after, [data-menu-type] ul[data-menu-list]:before, [data-menu-type] ul[data-menu-list]:after, [data-menu-type] ul[data-menu-list] > li:before, [data-menu-type] ul[data-menu-list] > li:after, [data-menu-type] [data-menu-text]:before, [data-menu-type] [data-menu-text]:after, [data-menu-type] div[data-menu-title]:before, [data-menu-type] div[data-menu-title]:after, div[data-menu-close]:before, div[data-menu-close]:after,div[data-menu-close] button[data-menu-button]:before, div[data-menu-close] button[data-menu-button]:after {background-repeat:no-repeat; background-position:center; font-size:0; line-height:0px; vertical-align:middle;}
div[data-menu-open], div[data-menu-close] {visibility:hidden; position:absolute;}
div[data-menu-open] button[data-menu-button], div[data-menu-close] button[data-menu-button] {display:inline-block; position:relative; font-size:0;}
[data-menu-type], div[data-menu-open], div[data-menu-close] {line-height:0px; font-size:0;}
[data-menu-type] {position:relative;}
[data-menu-type][data-menu-top-background]:before, [data-menu-type][data-menu-bottom-background]:after {display:block; position:absolute; right:0; left:0; margin-right:auto; margin-left:auto;}
[data-menu-type][data-menu-top-background]:before {top:0; z-index:10;}
[data-menu-type][data-menu-bottom-background]:after {z-index:20;}
[data-menu-type] div[data-menu-title] {position:relative; z-index:20;}
[data-menu-type] div[data-menu-title='1'], [data-menu-type] div[data-menu-title='2'] {overflow:hidden; position:absolute; left:0;}
[data-menu-type] div[data-menu-title='2'] {visibility:hidden; opacity:0; top:0; height:100%;}
[data-menu-type] div[data-menu-depth] {visibility:hidden; overflow:hidden; position:relative;}
[data-menu-type] div[data-menu-depth='1'] {visibility:inherit; overflow:visible; z-index:30; height:100%; margin-right:auto; margin-left:auto;}
[data-menu-type] div[data-menu-depth='1'].clearfix div[data-menu-depth='2'] {position:static;}
[data-menu-type] ul[data-menu-list] {position:relative;}
[data-menu-type] div[data-menu-depth='1'].clearfix ul[data-menu-list='1'] {position:static;}
[data-menu-type] div[data-menu-title] + ul[data-menu-list] {z-index:10;}
[data-menu-type] ul[data-menu-list='1'] {height:100%;}
[data-menu-type] div[data-menu-depth='1'].clearfix ul[data-menu-list='1'] {float:right;}
[data-menu-type] ul[data-menu-list] > li {position:relative;}
[data-menu-type] ul[data-menu-list].clearfix > li {float:left;}
[data-menu-type] ul[data-menu-list='1'] > li {height:100%;}
[data-menu-type] div[data-menu-depth='1'].clearfix ul[data-menu-list='1'] > li {position:static;}
[data-menu-type] ul[data-menu-list] > li.has > [data-menu-text]:before, [data-menu-type] [data-menu-text][target='_blank']:after {display:inline-block; width:0; height:0;}
[data-menu-type] ul[data-menu-list] > li.has > [data-menu-text]:before {content:'하위메뉴가 존재하는';}
[data-menu-type] ul[data-menu-list] > li.cut {overflow:hidden; width:100%; height:0;}
[data-menu-type] [data-menu-text] {display:block; position:relative; vertical-align:middle;}
[data-menu-type] [data-menu-text][target='_blank']:after {content:'새창';}

/* 풀다운2 */
[data-menu-type='2'] ul[data-menu-list='1'] > li {position:static;}
[data-menu-type='2'] div[data-menu-title='2'] {visibility:inherit; opacity:1;}
[data-menu-type='2'] div[data-menu-depth='2'], [data-menu-type='2'] div[data-menu-depth='1'].clearfix div[data-menu-depth='2'] {position:absolute;}
[data-menu-type='2'] div[data-menu-depth='2'] {opacity:0; left:0; width:100%;}

/* 드롭다운1 */
[data-menu-type='3'] div[data-menu-depth='1'].clearfix ul[data-menu-list='1'] {position:relative;}
[data-menu-type='3'] div[data-menu-depth='1'].clearfix ul[data-menu-list='1'] > li {position:relative;}
[data-menu-type='3'] div[data-menu-depth='2'] {opacity:0; position:absolute; top:100%; left:0; width:100%; transform-origin:center top; transform:scaleY(0);}

/* 드롭다운2 */
[data-menu-type='4'] div[data-menu-depth='1'] {z-index:auto; height:auto; margin-right:0; margin-left:0;}
[data-menu-type='4'] div[data-menu-depth='2'] {position:relative; left:auto; width:auto;}
[data-menu-type='4'] ul[data-menu-list='1'] {height:auto;}
[data-menu-type='4'] div[data-menu-depth='1'].clearfix ul[data-menu-list='1'] {position:relative;}
[data-menu-type='4'] ul[data-menu-list='1'] > li {height:auto;}
[data-menu-type='4'] div[data-menu-depth='1'].clearfix ul[data-menu-list='1'] > li {position:relative;}

/* 드롭다운3 */
[data-menu-type='5'] {height:100%;}
[data-menu-type='5'][data-menu-top-background]:before, [data-menu-type='5'][data-menu-bottom-background]:after {right:auto; height:100%; z-index:-1; margin-right:0; margin-left:0;}
[data-menu-type='5'][data-menu-bottom-background]:after {top:0;}
[data-menu-type='5'] div[data-menu-depth='1'] {position:static; height:auto; z-index:auto; margin-right:0; margin-left:0;}
[data-menu-type='5'] ul[data-menu-list='1'] {position:static; height:auto;}
[data-menu-type='5'] ul[data-menu-list='1'] > li {position:static; height:auto;}
[data-menu-type='5'] div[data-menu-depth='2'] {opacity:0; position:absolute; top:0; height:100%; transform-origin:left top; transform:scaleX(0);}



