/* (주)한신정보기술 서정한 - 2019.02 */

/* 본문제목 */
h3,h4,h5,h6,.h3,.h4,.h5,.h6{position:relative; font-weight:500; text-align:left; }
h3,.h3{margin:0 0 12px; padding:10px 0 0; color:#333; font-size:22px; line-height:30px; }
h4,.h4{margin:15px 0 0; padding:0 0 10px 20px; color:#003ea5; font-size:23px; line-height:28px; }
h5,.h5{margin:15px 0 0; padding-left:22px; color:#545454; font-size:18px; line-height:30px; }
h6,.h6{margin:15px 0 0; padding-left:32px; color:#1f4a6f; font-size:17px; line-height:30px; }

h3:before,h4:before,h4:after,h5:before,h6:before,.h3:before,.h4:before,.h4:after,.h5:before,.h6:before{position:absolute; display:inline-block; content:''; background:url('../images/template/template.png') no-repeat}
h3:before,.h3:before{left:0; top:0; width:25px; height:5px; background: linear-gradient(to right, #07c162 0%,#034ea2 100%); }
h4:before,.h4:before{left:0; top:10px; width:10px; height:10px; background:#003ea5}
h4:after,.h4:after{left:3px; top:13px; width:4px; height:4px; background:#fff}
h5:before,.h5:before{left:0; top:7px; width:16px; height:16px; background-position:-1px 0; }
h6:before,.h6:before{left:20px; top:7px; width:4px; height:10px; background-position:-27px 0; }

h3 span,h4 span,h5 span,h6 span,.h3 span,.h4 span,.h5 span,.h6 span{color:#444; font-size:0.85em; font-weight:400; }

.h0{margin:0; padding:0; color:inherit; font-size:1em; font-weight:400; letter-spacing:0; }
h3.skip:before,h4.skip:before,h5.skip:before,h6.skip:before,.h0:before{display:none; }

.prettyprint{padding:20px 0; white-space:pre-wrap;}
ol.linenums{padding-left:40px;}

/* template 가이드용 스타일 */
.prettyprint{margin:10px 0; padding:10px 0 0; font-size:13px; white-space:pre-wrap;}
.prettyprint ol{padding-left:40px; padding-right:20px;}
.prettyprint ol > li:before{display:none;}
.template .tab_item {margin:15px 0 20px;}
.template .tab_item {border-left:1px solid #d9d9d9;}
.template .tab_item li {float:left; display:inline; width:11.1%; border-top:1px solid #d9d9d9; background:#eee;}
.template .tab_item li.active {border-top:solid 1px #d9d9d9; background:#fff;}
.template .tab_item li a {display:block; padding:0; line-height:46px; font-size:15px; text-align:center; border-right:1px solid #d9d9d9; text-decoration:none; white-space:nowrap;}
.template .tab_item li.active a, .tab_obj li a:hover {background-color:#fff;}
.tab_obj {display:none; position: relative; padding:0;}

/* 강조 글자 */
.text_small {font-size:0.92em;}
.large {font-size:1.167em; letter-spacing:-1px;}
.underline {padding-bottom:1px; border-bottom:1px solid #888}
.em_blue{color:#034ea2; }
.em_orange {color:#ff6600;}
.em_red {color:#912323;}
.em_darkred {color:#912323;}
.em_green{color:#06964c; }
.em_purple{color:#7644d3; }
.em_point {color:#e8209f;}
.em_navy {color:#2c3179;}
.em_black {color:#000; }
.em_b_blue{color:#034ea2; font-weight:bold; }
.em_b_orange {color:#ff6600; font-weight:bold;}
.em_b_red {color:#912323; font-weight:bold;}
.em_b_darkred {color:#912323; font-weight:bold;}
.em_b_green {color:#06964c; font-weight:bold; }
.em_b_purple{color:#7644d3; font-weight:bold; }
.em_b_point {color:#084896; font-weight:bold;}
.em_b_navy {color:#2c3179; font-weight:bold;}
.em_b_black{color:#000; font-weight:bold; }

/* 목록(List) */
ul.bu {margin:0; padding:2px 0 5px 20px;}
ul.bu li {position:relative; margin:0; padding:0 0 0 13px; list-style:none; color:#515151; text-align:left;}
ul.bu ul li {padding-left:12px;}
ul.bu > li:before {position:absolute; left:0; top:10px; display:inline-block; content:""; width:3px; height:3px; background:#555;}
ul.bu ul > li:before {position:absolute; left:0; top:10px; display:inline-block; content:""; width:4px; height:7px; border-left:4px solid #ee6887; border-top:3px solid transparent; border-bottom:3px solid transparent; border-right:3px solid transparent; box-sizing:border-box;}
ul.bu ul ul > li:before {position:absolute; left:0; top:9px; display:inline-block; content:""; width:7px; height:7px; background:url('../images/template/template.png') -71px 0; border:none;}
ul.bu ul, ul.bu ul ul, ul.bu ul ul ul {margin:0; padding:0 0 5px 0;}

/* 제목이 있는 목록 */
ul.bu li .temp_dt{display:inline-block; margin-right:10px; color:#033486;}

.blt {position:relative; margin:0; padding:0 0 0 12px; color:#515151; text-align:left !important;}
.blt:before {position:absolute; left:0; top:10px; display:inline-block; content:""; width:3px; height:3px; background:#555;}

ul.num {margin:0; padding:2px 0 5px 24px;}
ul.num > li {position:relative; margin:5px 0; padding:0 0 0 34px; list-style:none; color:#515151; font-size:15px; line-height:25px;}
ul.num > li .item {position:absolute; display:inline-block; left:0; top:2px; width:23px; height:24px; line-height:24px; background:#0e57d0; border-radius:200px; font-size:12px; color:#fff; text-align:center;}

ul.bu ul.num li{padding:0 0 0 34px;}
ul.bu ol.num {padding-left:0px}
ul.bu ol.num li {font-size: 15px;}
ul.num ul.bu, ol.num ul.bu{padding:2px 0 5px;}
ul.num ul.bu li{padding:0 0 0 13px;}

ol.num {overflow:hidden; padding:2px 0 5px 20px;}
ol.num > li {position:relative; margin:0; padding:4px 0 2px 34px; color:#515151; list-style:none;}
ol.num > li .item {position:absolute; display:inline-block; left:0; top:2px; width:23px; height:24px; line-height:24px; background:#0e57d0; border-radius:200px; font-size:12px; color:#fff; text-align:center;}
ol.num > li:before {display:none;}

ol.num ul.num, ol.num ol.num {padding-left:0;}

.point{position:relative; padding-left:22px; line-height:22px; color:#59749c; font-size:15px; letter-spacing:-0.03em;}
.point:before{position:absolute; top:3px; left:0; display:block; width:18px; height:18px; background:url('../images/template/template.png') -42px -1px; content:'';}
.point_center{text-align:center;}
.point_center:before{display:block; width:18px; height:18px; background:url('../images/template/template.png') -42px -1px; margin:0 auto 14px; content:'';}

.nobg {background:none;}
ul.bu > li.nobg:before {display:none;}

/* 테이블 서식 */
.table_unit {margin-top:-23px; font-size:0.9em; text-align:right}
.table {width:100%; margin:5px 0 10px;}

.table th, table.table td {padding:11px 10px 9px; border:1px solid #d5d5d5; vertical-align:middle}
.table thead th{border:#ddd solid 1px; color:#303030; font-weight:normal; background:#fbfcfc;}
.table thead tr:first-child th {border-top:1px solid #3b3b3b;}
.table thead tr:last-child th, .table thead th[rowspan]{border-bottom:none;}
table.table th:first-child, table.table td:first-child {border-left:none}
table.table th:last-child, table.table td:last-child {border-right:none}
.table tbody tr:first-child th, .table tbody tr:first-child td{border-top-color:#ddd;}
.table tbody th {font-weight:normal; background:#fbfcfc; color:#000;}
.table tfoot th, table.table tfoot td {font-weight:normal; background-color:#fbfcfc;}
.table td img {vertical-align:middle}
td ul, td li {text-align:left}
td ul.bu {margin:0; padding:0;}
td .num {margin:0; padding:0;}

.table.type2 tbody tr:first-child th, .table.type2 tbody tr:first-child td {border-top:1px solid #3b3b3b;}
.table.type2 th, .table.type2 td {padding:10px 6px 9px;}
.table.type2 tbody th {color:#303030; font-weight:normal; background-color:#fbfcfc;}

/* 오버스크롤테이블(내용이 많아 가로값이 넘을경우) */
.over_scroll_table{overflow-x:auto; padding-bottom:10px;}
.over_scroll_table table{width:1000px;}


/* 버튼 / 링크 / */
.blank {display:inline-block; position:relative; margin:0 2px; white-space:nowrap;}
.blank:before {content:''; display:inline-block; position:absolute; bottom:0; left:0; width:calc(100% - 17px); border-bottom:1px dotted #666;}
.blank:after {content:""; display:inline-block; width:15px; height:15px; margin-left:2px; background:url('../images/template/template.png') no-repeat -88px 0; vertical-align:middle;}
.blank:hover {color:#ec4300; text-decoration:none;}
.blank:hover:before {border-bottom:1px dotted #ec4300;}
.blank:hover:after {background-position:-113px 0;}
.down {display:inline-block; position:relative; margin:0 2px; white-space:nowrap;}
.down:before {content:''; display:inline-block; position:absolute; bottom:0; left:0; width:calc(100% - 17px); border-bottom:1px dotted #666;}
.down:after {content:""; display:inline-block; width:15px; height:15px; margin-left:2px; background:url('../images/template/template.png') no-repeat -185px 0; vertical-align:middle;}
.down:hover {color:#ec4300; text-decoration:none;}
.down:hover:before {border-bottom:1px dotted #ec4300;}
.down:hover:after {background-position:-210px 0;}


.btn {position:relative; display:inline-block; margin:0; height:auto; line-height:inherit; padding:9px 20px;border:1px solid #2277e3; background:#2277e3; color:#fff; font-size:15px; text-decoration:none; vertical-align:top; cursor:pointer; box-sizing:content-box;}
.btn:hover {border:1px solid #002b6d; background:#002b6d; color:#fff; text-decoration:none;}
.btn:visited:hover, .btn:link:hover {border:1px solid #002b6d; background:#002b6d;}
.btn:after {content:""; display:inline-block; vertical-align:middle;}
.btn:visited, .btn:link {color:#fff}

.btn.type2 {border:1px solid #d5d5d5; background:#fff; color:#6a6a6a;}
.btn.type2:hover, .btn.type2:link:hover {border:1px solid #002b6d; background:#002b6d; color:#fff}

.btn.type3 {border:1px solid #8f9398; background:#8f9398; color:#fff;}
.btn.type3:hover, .btn.type3:link:hover {border:1px solid #8f9398; background:#8f9398; color:#fff}

.btn.small {padding:4px 20px 4px; font-weight:400;}

.btn.download:after {width:15px; height:15px; margin-left:20px; margin-bottom:6px; background:url('../images/template/template.png') no-repeat -160px 0; vertical-align:middle;}
.btn.download:visited:hover, .btn.download:link:hover {border:1px solid #002b6d; background:#002b6d;}
.btn.download:visited, .btn.download:link {color:#fff;}

.btn.download.type2 {border:1px solid #d5d5d5; background:#fff; color:#6a6a6a;}
.btn.download.type2:after {background-position:-185px 0;}
.btn.download.type2:hover, .btn.type2:link:hover {border:1px solid #002b6d; background:#002b6d; color:#fff}
.btn.download.type2:hover:after {background-position:-160px 0;}
.btn.download.type2:visited, .btn.download.type2:link {color:#6a6a6a;}

.btn.link {border:1px solid #2277e3; background:#2277e3; color:#fff; font-weight:400;}
.btn.link:after {width:15px; height:15px; margin-left:16px; margin-bottom:5px; background:url('../images/template/template.png') no-repeat -136px 0; vertical-align:middle;}
.btn.link:hover {border:1px solid #002b6d; background:#002b6d;}

.btn.link.type2 {border:1px solid #d5d5d5; background:#fff; color:#6a6a6a;}
.btn.link.type2:after {background-position:-88px 0;}
.btn.link.type2:hover, .btn.type2:link:hover {border:1px solid #002b6d; background:#002b6d; color:#fff}
.btn.link.type2:hover:after {background-position:-136px 0;}



.btn.file .file_ico{display:inline-block; width:30px; height:16px; margin-right:10px; margin-bottom:4px; background-repeat:no-repeat; background-position:left top; background-image:url('../images/template/file_ico.png'); vertical-align:middle; color:transparent; font-size:0;}
.btn.file.pdf .file_ico{background-position:left top;}
.btn.file.xls .file_ico{background-position:-40px top;}
.btn.file.hwp .file_ico{width:34px; background-position:-80px top;}
.btn.file.jpg .file_ico{background-position:-120px top;}
.btn.file.zip .file_ico{background-position:-160px top;}
.btn.file.ai .file_ico{background-position:-200px top;}

.btn.type2.file {border:1px solid #d5d5d5; background:#fff; color:#6a6a6a;}
.btn.type2.file:visited, .btn.file:link {color:#6a6a6a;}
.btn.type2.file:hover, .btn.file:link:hover {border:1px solid #002b6d; background:#002b6d; color:#fff}

.btn.type2.file.pdf .file_ico, .btn.type4.file.pdf .file_ico{background-position:left bottom;}
.btn.type2.file.xls .file_ico, .btn.type4.file.xls .file_ico{background-position:-40px bottom;}
.btn.type2.file.hwp .file_ico, .btn.type4.file.hwp .file_ico{background-position:-80px bottom;}
.btn.type2.file.jpg .file_ico, .btn.type4.file.jpg .file_ico{background-position:-120px bottom;}
.btn.type2.file.zip .file_ico, .btn.type4.file.zip .file_ico{background-position:-160px bottom;}
.btn.type2.file.ai .file_ico, .btn.type4.file.ai .file_ico{background-position:-200px bottom;}

.btn.type2.file.adobe {padding:4px 15px;}
.btn.type2.file.adobe:hover, .btn.type2.file.adobe:link:hover {background-color:#fff; color:#6a6a6a; border:1px solid #6a6a6a;}
.btn.type2.file.adobe .file_ico{width:15px; height:15px; background-image:url('../images/template/file_ico_adobe.png');}

/* 선, 박스 */
.line {display:block; margin:10px 0; border-bottom :1px solid #ccc;}
.dot {display:block; margin:10px 0; border-bottom :1px dotted #ccc;}
.dash {display:block; margin:10px 0; border-bottom :1px dashed #ccc;}

/* 박스 */
.box {position:relative; border:1px solid #ccc; margin-bottom:35px;}
.box .box_wrap {position:relative; padding:33px 50px; background-color:#fff; box-sizing:border-box;}
.box .box_wrap .box_title {margin-bottom:10px; font-size:20px; line-height:36px; font-weight:400; color:#343434;}
.box ul {padding-left:0;}

.box.type2 {padding:6px; border:none; background:url('../images/template/box_pattern.gif')repeat 0 0;}
.box.type2 .box_wrap .box_title {color:#0153ba;}

.box.type3 {border:1px solid #cbd4e6;}
.box.type3 .box_wrap {background:#f9fbff;} 
.box.type3 .box_wrap .box_title {color:#4a4a4a}

.box.type4 {padding:0 5px 5px 0; border:none;}
.box.type4:before {content:''; display:inline-block; position:absolute; bottom:0; right:0; width:calc(100% - 5px); height:calc(100% - 5px); border-bottom:1px solid #c2c2c2; border-right:1px solid #c2c2c2;}
.box.type4 .box_wrap {background:#f5f5f5 url('../images/template/box_bg.gif')no-repeat calc(100% - 14px) bottom; padding:25px 30px;} 

.box.icon .box_wrap {padding-left:177px;}
.box.icon .box_wrap:before {content:''; display:inline-block; position:absolute; top:calc(50% - 37px); left:50px; width:90px; height:74px; background:url('../images/template/box_icon_test.png')no-repeat 0 0;}

/* 텍스트 정렬 */
.text_center{text-align:center; }
.text_right{text-align:right; }
.text_left{text-align:left; }
.vertical_top{vertical-align:top; }
.vertical_middle{vertical-align:middle; }
.vertical_bottom{vertical-align:bottom; }

/* 들여쓰기 */
.indent{margin-left:30px; }
.indent10{margin-left:10px; }
.indent20{margin-left:20px; }
.indent30{margin-left:30px; }
.indent40{margin-left:40px; }
.indent50{margin-left:50px; }

/* margin */
.margin_0{margin:0 !important; }
.margin_10{margin:10px !important; }
.margin_20{margin:20px !important; }
.margin_30{margin:30px !important; }

.margin_t_0{margin-top:0 !important; }
.margin_t_5{margin-top:5px !important; }
.margin_t_10{margin-top:10px !important; }
.margin_t_15{margin-top:15px !important; }
.margin_t_20{margin-top:20px !important; }
.margin_t_25{margin-top:25px !important; }
.margin_t_30{margin-top:30px !important; }
.margin_t_35{margin-top:35px !important; }
.margin_t_40{margin-top:40px !important; }
.margin_t_45{margin-top:45px !important; }
.margin_t_50{margin-top:50px !important; }

.margin_r_0{margin-right:0 !important; }
.margin_r_5{margin-right:5px !important; }
.margin_r_10{margin-right:10px !important; }
.margin_r_15{margin-right:15px !important; }
.margin_r_20{margin-right:20px !important; }
.margin_r_25{margin-right:25px !important; }
.margin_r_30{margin-right:30px !important; }
.margin_r_35{margin-right:35px !important; }
.margin_r_40{margin-right:40px !important; }
.margin_r_45{margin-right:45px !important; }
.margin_r_50{margin-right:50px !important; }

.margin_b_0{margin-bottom:0 !important; }
.margin_b_5{margin-bottom:5px !important; }
.margin_b_10{margin-bottom:10px !important; }
.margin_b_15{margin-bottom:15px !important; }
.margin_b_20{margin-bottom:20px !important; }
.margin_b_25{margin-bottom:25px !important; }
.margin_b_30{margin-bottom:30px !important; }
.margin_b_35{margin-bottom:35px !important; }
.margin_b_40{margin-bottom:40px !important; }
.margin_b_45{margin-bottom:45px !important; }
.margin_b_50{margin-bottom:50px !important; }

.margin_l_0{margin-left:0 !important; }
.margin_l_5{margin-left:5px !important; }
.margin_l_10{margin-left:10px !important; }
.margin_l_15{margin-left:15px !important; }
.margin_l_20{margin-left:20px !important; }
.margin_l_25{margin-left:25px !important; }
.margin_l_30{margin-left:30px !important; }
.margin_l_35{margin-left:35px !important; }
.margin_l_40{margin-left:40px !important; }
.margin_l_45{margin-left:45px !important; }
.margin_l_50{margin-left:50px !important; }

/* padding */
.padding_0{padding:0 !important; }
.padding_10{padding:10px !important; }
.padding_20{padding:20px !important; }
.padding_30{padding:30px !important; }

.padding_t_0{padding-top:0 !important; }
.padding_t_5{padding-top:5px !important; }
.padding_t_10{padding-top:10px !important; }
.padding_t_15{padding-top:15px !important; }
.padding_t_20{padding-top:20px !important; }
.padding_t_25{padding-top:25px !important; }
.padding_t_30{padding-top:30px !important; }
.padding_t_35{padding-top:35px !important; }
.padding_t_40{padding-top:40px !important; }
.padding_t_45{padding-top:45px !important; }
.padding_t_50{padding-top:50px !important; }

.padding_r_0{padding-right:0 !important; }
.padding_r_5{padding-right:5px !important; }
.padding_r_10{padding-right:10px !important; }
.padding_r_15{padding-right:15px !important; }
.padding_r_20{padding-right:20px !important; }
.padding_r_25{padding-right:25px !important; }
.padding_r_30{padding-right:30px !important; }
.padding_r_35{padding-right:35px !important; }
.padding_r_40{padding-right:40px !important; }
.padding_r_45{padding-right:45px !important; }
.padding_r_50{padding-right:50px !important; }

.padding_b_0{padding-bottom:0 !important; }
.padding_b_5{padding-bottom:5px !important; }
.padding_b_10{padding-bottom:10px !important; }
.padding_b_15{padding-bottom:15px !important; }
.padding_b_20{padding-bottom:20px !important; }
.padding_b_25{padding-bottom:25px !important; }
.padding_b_30{padding-bottom:30px !important; }
.padding_b_35{padding-bottom:35px !important; }
.padding_b_40{padding-bottom:40px !important; }
.padding_b_45{padding-bottom:45px !important; }
.padding_b_50{padding-bottom:50px !important; }

.padding_l_0{padding-left:0 !important; }
.padding_l_5{padding-left:5px !important; }
.padding_l_10{padding-left:10px !important; }
.padding_l_15{padding-left:15px !important; }
.padding_l_20{padding-left:20px !important; }
.padding_l_25{padding-left:25px !important; }
.padding_l_30{padding-left:30px !important; }
.padding_l_35{padding-left:35px !important; }
.padding_l_40{padding-left:40px !important; }
.padding_l_45{padding-left:45px !important; }
.padding_l_50{padding-left:50px !important; }

/* width */
.w5p{width:5% !important; }
.w10p{width:10% !important; }
.w15p{width:15% !important; }
.w20p{width:20% !important; }
.w25p{width:25% !important; }
.w30p{width:30% !important; }
.w35p{width:35% !important; }
.w40p{width:40% !important; }
.w45p{width:45% !important; }
.w50p{width:50% !important; }
.w55p{width:55% !important; }
.w60p{width:60% !important; }
.w65p{width:65% !important; }
.w70p{width:70% !important; }
.w75p{width:75% !important; }
.w80p{width:80% !important; }
.w85p{width:85% !important; }
.w90p{width:90% !important; }
.w95p{width:95% !important; }
.w100p{width:100% !important; }

