/* (주)한신정보기술 송정은 - 2019.02 */


@media screen and (max-width:1000px){
	/* 스크롤테이블 */
	.scroll_table{overflow-x:auto; padding-bottom:10px;}
	.scroll_table table{width:1000px;}

	/* 박스 */
	.box .box_wrap {padding: 23px 30px;}
	.box.icon .box_wrap {padding-left:134px; padding-right:30px;}
	.box.icon .box_wrap:before {left:35px; width:70px; background-size:100% auto;}
}

@media screen and (max-width:800px){
	/* 반응형테이블 */
	table.table.responsive{border-top:#a6a6a6 solid 1px;}
	table.table.responsive thead{display:none;}
	table.table.responsive colgroup{display:none;}
	table.table.responsive tbody tr{position:relative; display:block;border-bottom:1px solid #d9d9d9;}
	table.table.responsive tbody tr:after{display:block; clear:both; content:"."; visibility:hidden; height:0;}
	table.table.responsive tbody tr:nth-child(odd) {background:#f8f8f8;}
	table.table.responsive tbody td{display:block;padding:4px 3%;border:none;text-align:left;box-sizing:border-box; background-color:transparent;}
	table.table.responsive tbody th{display:block;padding:4px 3%; text-align:left; vertical-align:middle; background-color:transparent; border:none;}
	table.table.responsive tbody tr:first-child td, table.table.responsive tbody tr:first-child th{border-top:none;}
	table.table.responsive tbody th:before, table.table.responsive tbody td:before{display:inline; content:attr(data-content)' : ';}/* thead의 내용을 tbody의 th, td에 각각 삽입 */
	table.table.responsive tfoot tr{position:relative; display:block;border-bottom:1px solid #d9d9d9;}
	table.table.responsive tfoot tr:after{display:block; clear:both; content:"."; visibility:hidden; height:0;}
	table.table.responsive tfoot tr:nth-child(odd) {background:#f8f8f8;}
	table.table.responsive tfoot td{display:block;padding:4px 3%;border:none;text-align:left;box-sizing:border-box; background-color:transparent;}
	table.table.responsive tfoot th{display:block;padding:4px 3%; text-align:left; vertical-align:middle; background-color:transparent; border:none;}
	table.table.responsive tfoot tr:first-child td, table.table.responsive tfoot tr:first-child th{border-top:none;}
	table.table.responsive tfoot th:before, table.table.responsive tfoot td:before{display:inline; content:attr(data-content)' : ';}/* thead의 내용을 tbody의 th, td에 각각 삽입 */

	table.table.type2.responsive tbody th:before, table.table.type2.responsive tbody td:before{display:none;}
}

@media screen and (max-width:640px){
	/* 박스 */
	.box.icon .box_wrap {padding-top:120px; padding-left:30px;}
	.box.icon .box_wrap:before {top:27px; left:calc(50% - 45px); width:90px; background-size:100% auto;}
}