@charset "UTF-8";

/* colgroup */

/* .colgroup{float:right;position:relative;width:990px;margin-top:30px;margin-bottom:30px;}*/
@media all and (max-width:1300px){

/* .colgroup{width:700px;}*/
}
@media all and (max-width:1000px){

/* .colgroup{float:none;width:auto;}*/
#container{margin-top:93px;}
}
@media all and (max-width:640px){

/* .colgroup{margin-top:20px;}*/
}

/* 콘텐츠 */
#contents{position:relative;min-height:600px;margin-top:60px;margin-bottom:100px;}
@media all and (max-width:1000px){
#contents{margin-top:45px;margin-bottom:75px;}
}
@media all and (max-width:640px){
#contents{margin-top:30px;margin-bottom:60px;}
}

/* 사이드 메뉴 */
.side{float:left;position:relative;z-index:30;width:250px;font-size:0;line-height:0;}

/* 사이트 타이틀 */
.side .side_title{position:relative;width:250px;height:120px;background-color:#eee;text-align:center;}
.side .side_title:after{display:inline-block;height:100%;vertical-align:middle;}
.side .side_subject{display:inline-block;padding-right:20px;padding-left:20px;color:#000;font-size:24px;font-weight:600;line-height:30px;letter-spacing:-0.03em;vertical-align:middle;}
.side .side_menu{position:relative;}

/* 2차 메뉴 */
.side .menu .depth1_item{margin-top:-1px;border-top:1px solid #ccc;box-sizing:border-box;}
.side .menu .depth1_item:first-child{padding-top:1px;border-top-width:0;}
.side .menu .depth1_text{display:block;position:relative;padding:15px 50px 15px 20px;color:#000;font-size:17px;line-height:22px;letter-spacing:-0.03em;text-decoration:none;word-break:keep-all;transition-property:background,color;}
.side .menu .depth1_text:hover{text-decoration:underline;}
.side .menu .depth1_text:after{display:block;position:absolute;top:0;right:20px;bottom:0;margin-top:auto;margin-bottom:auto;}
.side .menu .depth1_item.has .depth1_text:after{width:15px;height:3px;background-color:#000;transition:none;}
.side .menu .depth1_text[target='_blank']:after{width:12px;height:12px;background-color:#000;transition:none;}
.side .menu .depth1_text[target='_blank']:hover:after{background-color:#666;}

/* 2차 메뉴 활성화 */
.side .menu .depth1_item.active{position:relative;z-index:10;}
.side .menu .depth1_item.active .depth1_text{background-color:#ddd;font-weight:500;}
.side .menu .depth1_item.active .depth1_text:before{visibility:visible;opacity:1;}
.side .menu .depth1_item.active .depth1_text:hover{text-decoration:none;}
.side .menu .depth1_item.has.active .depth1_text:after{height:6px;}

/* 3차 메뉴 */
.side .menu .depth2{transition-property:visibility,opacity,background-color;}
.side .menu .depth2_list{padding-right:20px;padding-left:20px;transition-property:padding-top,padding-bottom;}
.side .menu .depth2_item{margin-top:0;transition-property:margin-top;}
.side .menu .depth2_text{display:block;position:relative;padding-left:10px;text-decoration:none;transition:none;}
.side .menu .depth2_text:before{display:none;visibility:hidden;position:absolute;top:10px;left:1px;width:3px;height:3px;background-color:#000;opacity:0;transition-property:visibility,opacity;}
.side .menu .depth2_text:hover{text-decoration:underline;}
.side .menu .depth2_item.has .depth2_text:after{display:block;position:absolute;top:0;right:0;bottom:0;width:10px;height:3px;margin-right:auto;margin-left:auto;background-color:#000;transition-property:none;}
.side .menu .depth2_text[target='_blank']:after{display:inline-block;width:0;height:0;margin-left:5px;background-color:#000;transition:none;}

/* 3차 메뉴 활성화 */
.side .menu .depth1_item.active .depth2{visibility:visible;opacity:1;}
.side .menu .depth1_item.active .depth2_list{margin-top:4px;margin-bottom:18px;}
.side .menu .depth1_item.active .depth2_item{margin-top:13px;}
.side .menu .depth1_item.active .depth2_text{color:#000;font-size:16px;line-height:22px;}
.side .menu .depth1_item.active .depth2_item.active .depth2_text{font-weight:600;}
.side .menu .depth1_item.active .depth2_item.has.active .depth2_text:after{height:6px;}
.side .menu .depth1_item.active .depth2_text:before{display:block;visibility:visible;opacity:1;}
.side .menu .depth1_item.active .depth2_text[target='_blank']:after{width:12px;height:12px;}

/* 4차 메뉴 */
.side .menu .depth3{transition-property:visibility,opacity;}
.side .menu .depth3_list{margin-top:0;padding-top:0;transition-property:margin-top,padding-top,margin-bottom,padding-bottom;}
.side .menu .depth3_item{margin-top:0;transition-property:margin-top;}
.side .menu .depth3_text{position:relative;padding-left:0;color:#000;font-size:0;line-height:0;letter-spacing:-0.03em;word-break:keep-all;transition:none;}
.side .menu .depth3_text:before{display:block;visibility:hidden;position:absolute;top:10px;left:0;width:0;height:0;background-color:#000;transition:none;opacity:0;}
.side .menu .depth3_text[target='_blank']:after{display:inline-block;width:0;height:0;margin-left:5px;background-color:#000;transition:none;}

/* 4차 메뉴 활성화 */
.side .menu .depth1_item.active .depth2_item.active .depth3{visibility:visible;opacity:1;}
.side .menu .depth1_item.active .depth2_item.active .depth3_list{margin-top:8px;margin-bottom:4px;padding-top:10px;padding-bottom:20px;border-top:1px solid #666;border-bottom:1px dotted #666;}
.side .menu .depth1_item.active .depth2_item.active .depth3_item{margin-top:4px;}
.side .menu .depth1_item.active .depth2_item.active .depth3_item:first-child{margin-top:0;}
.side .menu .depth1_item.active .depth2_item.active .depth3_text{padding-right:12px;padding-left:20px;font-size:15px;line-height:20px;}
.side .menu .depth1_item.active .depth2_item.active .depth3_text:hover{text-decoration:underline;}
.side .menu .depth1_item.active .depth2_item.active .depth3_text:before{visibility:visible;width:7px;height:1px;opacity:1;}
.side .menu .depth1_item.active .depth2_item.active .depth3_text[target='_blank']:after{width:12px;height:12px;}
.side .menu .depth1_item.active .depth2_item.active .depth3_text.active span{color:#000;text-decoration:underline;}
@media all and (max-width:1000px){
.side{display:none;}
}

/* 서브헤드 */
.sub_head{position:relative;z-index:10;height:460px;padding-top:165px;}
.sub_head:before{display:block;position:absolute;top:0;left:calc(50% - 960px);z-index:-1;width:1920px;height:460px;background-position:center;background-size:110%;transition:background-size 2.5s ease-in-out;}
.sub_head.active:before{background-size:100%;}
.sub_head .sub_title{padding-top:84px;color:#fff;font-family:'WantedSans';font-size:48px;font-weight:700;line-height:normal;letter-spacing:0;text-align:center;}
.sub_head .sub_title h2{}
.sub1 .sub_head:before{background-image:url(/site/tour/images/sub/sub_bg01.jpg);}
.sub2 .sub_head:before{background-image:url(/site/tour/images/sub/sub_bg02.jpg);}
.sub3 .sub_head:before{background-image:url(/site/tour/images/sub/sub_bg03.jpg);}
.sub4 .sub_head:before{background-image:url(/site/tour/images/sub/sub_bg04.jpg);}
.sub5 .sub_head:before{background-image:url(/site/tour/images/sub/sub_bg05.jpg);}
@media all and (max-width:1000px){
.sub_head{height:auto;padding-top:39px;padding-bottom:35px;}
.sub_head:before{top:0;left:0;width:100vw;height:100%;background:#eef6fe;background-image:none !important;border-bottom-left-radius:15px;border-top-left-radius:30px;}
.sub_head .sub_title{padding-top:0;padding-right:120px;padding-left:24px;color:#222;font-family:'esamanru';font-size:28px;line-height:normal;letter-spacing:0;text-align:left;}
}
@media all and (max-width:640px){
.sub_head .sub_title{padding-left:30px;font-size:22px;}
}

/* 브래드크럼 */
.breadcrumbs{position:absolute;bottom:0;font-family:'WantedSans';font-size:0;line-height:normal;}
.breadcrumbs .breadcrumbs_list{overflow:visible;}
.breadcrumbs .breadcrumbs_item{display:inline-block;position:relative;vertical-align:top;}
.breadcrumbs .breadcrumbs_item.home{padding:0;}
.breadcrumbs .breadcrumbs_item:before{display:block;position:absolute;top:0;right:0;bottom:0;left:0;z-index:-1;background-color:rgba(255,255,255,.5);backdrop-filter:blur(5px);}
.breadcrumbs .breadcrumbs_item.home:before{border-top-left-radius:25px;border-top-right-radius:15px;}
.breadcrumbs .breadcrumbs_item:after{display:block;position:absolute;top:0;right:0;bottom:0;width:1px;height:20px;margin-top:auto;margin-bottom:auto;background-color:#000;font-size:0;line-height:0;}
.breadcrumbs .breadcrumbs_item.home+.breadcrumbs_item:before{border-top-left-radius:15px;}
.breadcrumbs .breadcrumbs_item:last-child:before{border-top-right-radius:25px;}
.breadcrumbs .breadcrumbs_item:first-child:after,.breadcrumbs .breadcrumbs_item:last-child:after{display:none;}
.breadcrumbs .breadcrumbs_item:not(.home){padding:0 20px;}
.breadcrumbs .breadcrumbs_item:not(.home) .breadcrumbs_anchor{display:block;position:relative;z-index:1;width:220px;padding-top:26px;padding-right:26px;padding-bottom:25px;padding-left:9px;color:#000;font-size:16px;font-weight:600;letter-spacing:0;}
.breadcrumbs .breadcrumbs_item.has .breadcrumbs_anchor:before{display:block;position:absolute;top:50%;right:8px;width:7px;height:7px;border-top:2px solid #000;border-left:2px solid #000;box-sizing:border-box;transform:rotate(225deg);}
.breadcrumbs .breadcrumbs_item.home .breadcrumbs_anchor{padding:25px 31px 26px;}
.breadcrumbs .breadcrumbs_item.home .breadcrumbs_anchor:before{display:block;width:18px;height:19px;margin:auto;background-image:url(/site/tour/images/sub/subheader_sprite.png);background-repeat:no-repeat;background-position:6.077% 18.033%;}
.breadcrumbs .breadcrumbs_wrap{overflow:hidden;position:absolute;top:0;right:0;left:0;z-index:0;height:0;border-radius:25px;transition-duration:.25s;transition-property:top, left, right, padding, height;transition-timing-function:ease-in-out;}
.breadcrumbs .breadcrumbs_wrap:before{display:block;position:absolute;top:0;right:0;bottom:0;left:0;border-radius:25px;background-color:#fff;transition:opacity .25s ease-in-out;opacity:0;}
.breadcrumbs .breadcrumbs_wrap ul{visibility:hidden;position:relative;margin:67px 20px 40px;padding-top:18px;border-top:1px solid #e9e9e9;}
.breadcrumbs .breadcrumbs_wrap li{padding-top:4px;padding-bottom:4px;padding-left:9px;}
.breadcrumbs .breadcrumbs_wrap a{display:block;position:relative;padding-right:20px;color:#636363;font-size:16px;font-weight:400;line-height:22px;letter-spacing:0;}
.breadcrumbs .breadcrumbs_wrap a:before{display:block;position:absolute;right:15px;bottom:11px;width:0;height:0;border-radius:50%;background-color:#1978e3;transition-duration:.25s;transition-property:width, height, bottom, right;transition-timing-function:ease-in-out;}
.breadcrumbs .breadcrumbs_wrap a:hover{color:#1978e3;}
.breadcrumbs .breadcrumbs_wrap a:hover:before{right:12px;bottom:8px;width:5px;height:5px;}
.breadcrumbs .breadcrumbs_item.active:after{display:none;}
.breadcrumbs .breadcrumbs_item.has.active .breadcrumbs_anchor:before{transform:rotate(45deg);}
.breadcrumbs .breadcrumbs_item.active .breadcrumbs_wrap{top:-10px;right:-10px;left:-10px;padding:10px;box-shadow:12px 9px 20px 0px rgba(10,38,107,0.1);}
.breadcrumbs .breadcrumbs_item.active .breadcrumbs_wrap:before{opacity:1;}
.breadcrumbs .breadcrumbs_item.active .breadcrumbs_wrap ul{visibility:visible;}
@media all and (max-width:1300px){
.breadcrumbs .breadcrumbs_item:not(.home) .breadcrumbs_anchor{width:180px;}
}
@media all and (max-width:1000px){
.breadcrumbs{display:none;}
}

/* 공유, 인쇄 */
.addons{position:absolute;right:0;bottom:-18px;font-size:0;line-height:normal;}
.addons .addons_item{display:inline-block;margin-left:10px;vertical-align:top;vertical-align:top;}
.addons .addons_button{display:block;position:relative;width:40px;height:40px;border-radius:15px;background-color:#fff;}
.addons .addons_button:before{display:block;position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;background-image:url(/site/tour/images/sub/subheader_sprite.png);background-repeat:no-repeat;}
.addons .addons_item.share .addons_button:before{width:20px;height:20px;background-position:27.778% 16.667%;}
.addons .addons_item.print .addons_button:before{width:20px;height:20px;background-position:50% 16.667%;}
.addons .addons_item.link .addons_button:before{width:19px;height:19px;background-position:72.376% 18.033%;}
.addons .addons_item.share .addons_button:hover:before{background-position:27.778% 83.333%;}
.addons .addons_item.print .addons_button:hover:before{background-position:50% 83.333%;}
.addons .addons_item.link .addons_button:hover:before{background-position:72.376% 83.607%;}
.addons .share{position:relative;white-space:nowrap;}
.addons .share_panel{visibility:hidden;overflow:hidden;position:absolute;top:0;right:0;width:40px;height:40px;padding:16px;border-radius:20px;background-color:#fff;box-shadow:5px 9px 20px 0px rgba(10,38,107,0.1);opacity:0;transition-duration:.25s;transition-property:width, height, top, opacity, visibility;transition-timing-function:ease-in-out;}
.addons .share_list{display:inline-block;vertical-align:middle;}
.addons .share_item{display:inline-block;margin-left:10px;}
.addons .share_item:first-child{margin-left:0;}
.addons .share_anchor{display:block;width:28px;height:28px;border-radius:50%;background-color:#a7a9ad;background-image:url(/site/tour/images/sub/subheader_sprite.png);background-repeat:no-repeat;}
.addons .facebook .share_anchor{background-position:96% 88.538%;}
.addons .blog .share_anchor{background-position:95.8% 11.462%;}
.addons .facebook .share_anchor:hover{background-color:#4765a1;}
.addons .blog .share_anchor:hover{background-color:#2db400;}
.addons .share_hide{display:inline-block;width:21px;height:21px;margin-left:20px;background-image:url(/site/tour/images/sub/subheader_sprite.png);background-repeat:no-repeat;background-position:5.587% 84.746%;vertical-align:middle;}
.addons .share.active .share_panel{visibility:visible;top:-10px;width:140px;height:60px;opacity:1;}
@media all and (max-width:1000px){
.addons{bottom:34px;}
}
@media all and (max-width:640px){
.addons{bottom:34px;}
.addons .addons_item{margin-left:8px;}
.addons .addons_button{width:32px;height:32px;}
.addons .addons_button:before{transform:scale(.8);}
}