@charset "UTF-8";
/* (주)한신정보기술 박서영 - 2024.11 */

/* 사전정보공표 */
.cts5853 .top_box{position:relative; overflow:hidden; margin-bottom:20px; padding:33px 0 5px; border-radius:20px 20px 80px 20px; background-color:#f0f5fb;}
.cts5853 .top_box:before{display:block; position:absolute; top:-170px; right:-70px; width:400px; height:600px; background:linear-gradient(rgba(16, 212, 150, 0.25) 25%, rgba(40, 133, 238, 0.25)); transform:rotate(345deg); filter:blur(50px);}
.cts5853 .top_box .top_list{width:calc(100% - 168px); margin:0 auto; font-size:0; line-height:0;}
.cts5853 .top_box .top_item{display:inline-block; position:relative; width:calc(100% / 7); margin-bottom:25px; padding:0 10px; vertical-align:top;}
.cts5853 .top_box .top_item .top_anchor{position:relative; padding-top:105px; width:100%; height:100%; text-align:center;}
.cts5853 .top_box .top_item .top_anchor:before{display:block; position:absolute; top:0; left:0; right:0; width:90px; height:90px; margin:0 auto; border-radius:20px 40px 40px 40px; background-color:#fff;}
.cts5853 .top_box .top_item .top_anchor:after{display:block; position:absolute; top:0; left:0; right:0; width:90px; height:90px; margin:0 auto; background:url("/site/www/images/program/cts5853_icon.png") no-repeat;}
.cts5853 .top_box .top_item .top_anchor span{position:relative; color:#4d4d4d; font-size:16px; line-height:20px; letter-spacing:-0.025em;}
.cts5853 .top_box .top_item.n1 .top_anchor:after{background-position:0 0;}
.cts5853 .top_box .top_item.n2 .top_anchor:after{background-position:-90px 0;}
.cts5853 .top_box .top_item.n3 .top_anchor:after{background-position:-180px 0;}
.cts5853 .top_box .top_item.n4 .top_anchor:after{background-position:-270px 0;}
.cts5853 .top_box .top_item.n5 .top_anchor:after{background-position:-360px 0;}
.cts5853 .top_box .top_item.n6 .top_anchor:after{background-position:-450px 0;}
.cts5853 .top_box .top_item.n7 .top_anchor:after{background-position:-540px 0;}
.cts5853 .top_box .top_item.n8 .top_anchor:after{background-position:0 -90px;}
.cts5853 .top_box .top_item.n9 .top_anchor:after{background-position:-90px -90px;}
.cts5853 .top_box .top_item.n10 .top_anchor:after{background-position:-180px -90px;}
.cts5853 .top_box .top_item.n11 .top_anchor:after{background-position:-270px -90px;}
.cts5853 .top_box .top_item.n12 .top_anchor:after{background-position:-360px -90px;}
.cts5853 .top_box .top_item.n13 .top_anchor:after{background-position:-450px -90px;}
.cts5853 .top_box .top_item.active .top_anchor:before{background-image:linear-gradient(144deg, #2885ee 25%, #10d496);}
.p-button.secondary{border-color:#0d49aa; color:#0d49aa;}

@media all and (max-width:1300px){
    .cts5853 .top_box .top_list{width:calc(100% - 30px);}
    .cts5853 .top_box .top_item{width:calc(100% / 5);}
}
@media all and (max-width:800px){
    .cts5853 .top_box .top_item{padding:0;}
    .cts5853 .top_box .top_item .top_anchor{padding-top:85px;}
    .cts5853 .top_box .top_item .top_anchor:before{width:70px; height:70px; border-radius:10px 30px 30px 30px;}
    .cts5853 .top_box .top_item .top_anchor:after{transform:scale(0.7778); transform-origin:top center;}
    .cts5853 .top_box .top_item .top_anchor span{font-size:14px;}
}
@media all and (max-width:640px){
    .cts5853 .top_box .top_item{width:calc(100% / 3);}
}

/* 정책매거진 */
.cts5877 .bbs.bbs__gallery .p-media-list .p-media__image-wrap{border:1px solid #d5d7dd;}
.cts5877 .p-media .p-media__image-wrap img{transition:transform 0.3s ease; transform-origin:left center;}
@media all and (min-width:1001px){
    .cts5877 .p-media > a:hover .p-media__image-wrap img{transform:scale(1.1) translate(-50%, -50%);}
}

/* 구정백서 */
.cts5879 .box.photo .box_item{position:relative; width:calc(100% / 3);}
.cts5879 .box.photo .box_item:before{display:block; position:absolute; top:0; right:0; width:1px; height:100%; background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAAXNSR0IArs4c6QAAABBJREFUGFdj2LRp038GOAAAJiIDFnIFn0YAAAAASUVORK5CYII=);}
.cts5879 .box.photo .box_item:last-child:before{display:none;}
.cts5879 .box.photo .box_item a{width:100%; height:100%;}
.cts5879 .box.photo .box_image img{border:1px solid #e4e4e4; border-radius:10px;}
.cts5879 .box.photo .box_cont .title{overflow:hidden; width:80%; margin:0 auto; text-overflow:ellipsis; white-space:nowrap;}
@media all and (max-width:1000px){
    .cts5879 .box.photo .box_item{width:50%;}
    .cts5879 .box.photo .box_item:before{display:none;}
}
@media all and (max-width:640px){
    .cts5879 .box.photo .box_item{width:100%;}
}

/* 사업진행현황 */
.cts5829 .state_box{position:relative; margin-bottom:25px; padding:22px 34px; border:1px solid #e3e5e8; border-radius:15px; background-color:#f7f7fc; font-size:0; line-height:0;}
.cts5829 .state_box .state_txt{display:inline-block; width:250px; margin-right:20px; vertical-align:middle;}
.cts5829 .state_box .state_txt .bu{margin:0;}
.cts5829 .state_box .state_txt .bu li{color:#4a4f66; font-weight:400;}
.cts5829 .state_box .state_txt .bu li span{font-weight:500;}
.cts5829 .state_box .state_list{display:inline-block; width:calc(100% - 270px); font-size:0; line-height:0; vertical-align:middle;}
.cts5829 .state_box .state_list .state_item{display:inline-block; position:relative; width:calc((100% - 20px) / 3); height:60px; margin-right:10px; border:1px solid #0d49aa; border-radius:10px; text-align:center; vertical-align:top;}
.cts5829 .state_box .state_list .state_item:last-child{margin-right:0;}
.cts5829 .state_box .state_list .state_item button{width:100%; height:100%; padding:7px 10px; color:#0d49aa; font-size:18px; font-weight:500; line-height:22px;}
.cts5829 .state_box .state_list .state_item button span{display:block; font-size:14px; font-weight:400;}
.cts5829 .state_box .state_list .state_item.active{border-color:#0a266b; background-color:#0a266b;}
.cts5829 .state_box .state_list .state_item.active button{color:#fff;}
.cts5829 .state_box .state_list .state_item.active:before{display:block; position:absolute; left:0; right:0; bottom:-7px; width:0; height:0; margin:0 auto; border-top:6px solid #0a266b; border-right:12px solid transparent; border-left:12px solid transparent;}
.cts5829 .business_list{margin-top:20px; border-top:1px solid #191919;}
.cts5829 .business_item{position:relative; padding:16px 25px 4px 15px; border-bottom:1px solid #d9d9d9; font-size:0; line-height:0;}
.cts5829 .business_item:last-child{border-bottom-color:#191919;}
.cts5829 .business_item ul li{display:inline-block; margin-bottom:12px; vertical-align:top;}
.cts5829 .business_item ul li:nth-child(odd){width:234px;}
.cts5829 .business_item ul li:nth-child(even){width:calc(100% - 300px);}
.cts5829 .business_item ul li .type{width:111px; height:38px; margin-right:20px; border-radius:5px; background-color:#e6effd; color:#252831; font-size:16px; font-weight:500; text-align:center; line-height:38px; vertical-align:top;}
.cts5829 .business_item ul li:nth-child(n+3) .type{background-color:#f7f7fc;}
.cts5829 .business_item ul li .text{width:calc(100% - 131px); padding:7px 0; color:#575e6d; font-size:16px; line-height:24px; vertical-align:top;}
.cts5829 .business_item p{margin:20px 0 32px; color:#4d4d4d; font-size:16px; text-align:center; line-height:24px;}
.cts5829 .business_item .business_state{position:absolute; top:0; right:0; bottom:0; width:68px; height:68px; margin:auto 0; padding:20px 0; border-radius:50%; color:#0a266b; font-size:14px; font-weight:500; text-align:center; line-height:28px;}
.cts5829 .business_item .business_state.type1{background:linear-gradient(rgba(16, 212, 150, 0.3), rgba(40, 133, 238, 0.3) 75%);}
.cts5829 .business_item .business_state.type2{background:#bbeee2;}
.cts5829 .business_item .business_state.type3{background:#e4e4ed; color:#252831;}

.color_switch .cts5829 .business_item .business_state.type1{color:#fff;}
@media all and (max-width:800px){
    .cts5829 .state_box{padding:20px;}
    .cts5829 .state_box .state_txt{display:block; width:100%; margin-right:0; margin-bottom:20px;}
    .cts5829 .state_box .state_list{display:block; width:100%;}
    .cts5829 .state_box .state_list .state_item button{font-size:14px;}
    .cts5829 .business_item{padding:16px;}
    .cts5829 .business_item ul li{display:block; width:100% !important;}
    .cts5829 .business_item ul li .type{width:90px; margin-right:10px; font-size:14px;}
    .cts5829 .business_item ul li .text{width:calc(100% - 100px); font-size:14px;}
    .cts5829 .business_item .business_state{top:10px; bottom:auto; width:50px; height:50px; padding:11px 0; font-size:12px;}
    .cts5829 .business_item p{font-size:14px;}
}

/* 성북소식모아보기 */
.sb_moa .row{text-align:right;}
.sb_moa .row .bbs_page{display:inline-block;}
.sb_moa .box.photo{padding:60px 28px 33px;}
.sb_moa .box.photo .box_item{width:33.33%; padding:0 30px;}
.sb_moa .box.photo .box_image{border-radius:10px; overflow:hidden; box-shadow:0 0 20px rgba(0,0,0,0.1);}
.sb_moa .box.photo .box_image img{border-radius:10px; transition:transform 0.3s ease-in-out;}
.sb_moa .box.photo .box_cont{position:relative; margin-top:7px; padding:0 10px; text-align:left;}
.sb_moa .box.photo .box_cont:before{display:block; position:absolute; top:-37px; left:-10px; right:0; width:calc(100% + 20px); height:80px; margin:0 auto; border-radius:30px; background-color:#fff;}
.sb_moa .box.photo .box_cont .type{position:absolute; top:-65px; left:0; right:0; width:56px; height:56px; margin:0 auto; border-radius:20px; text-align:center;}
.sb_moa .box.photo .box_cont .type.more{background:url("/site/www/images/program/cts6351_icon.png") no-repeat center, linear-gradient(to right, #10d496, #2885ee);}
.sb_moa .box.photo .box_cont .type.end{padding:15px 0; background-color:#103e89; color:#fff; font-size:16px; font-weight:500; line-height:26px;}
.sb_moa .box.photo .box_cont .title{display:-webkit-box; overflow:hidden; position:relative; color:#4a4f66; font-size:18px; line-height:28px; white-space:normal; -webkit-line-clamp:2; -webkit-box-orient:vertical;}
.sb_moa .box.photo .box_cont .text{position:relative; margin-top:12px; color:#4a4f66; font-size:16px;}
@media all and (min-width:1001px){
    .sb_moa .box.photo .box_item a:hover .box_cont .title{color:#1978e3;}
    .sb_moa .box.photo .box_item a:hover .box_image img{transform:scale(1.1);}
}
@media all and (max-width:1500px){
    .sb_moa .box.photo .box_item{padding:0 20px;}
}
@media all and (max-width:1300px){
    .sb_moa .box.photo .box_item{width:50%;}
}
@media all and (max-width:1000px){
    .sb_moa .box.photo .box_item{width:50%;}
    .sb_moa .box.photo .box_image{box-shadow:none;}
}
@media all and (max-width:640px){
    .sb_moa .box.photo{padding:35px 20px 30px;}
    .sb_moa .box.photo .box_item{width:100%;}
    .sb_moa .box.photo .box_cont .type{top:-60px; width:46px; height:46px; border-radius:18px;}
    .sb_moa .box.photo .box_cont .type.end{padding:10px 0; font-size:14px;}
    .sb_moa .box.photo .box_cont .title{font-size:16px; line-height:26px;}
    .sb_moa .box.photo .box_cont .text{font-size:14px;}
}

/* 성북tv */
.sb_tv .view_box{font-size:0; line-height:0;}
.sb_tv .view_box a{width:100%; height:100%;}
.sb_tv .view_box .view_image{display:inline-block; width:calc(100% - 305px); height:476px; margin-right:20px; vertical-align:bottom;}
.sb_tv .view_box .view_image img{border-radius:20px; width:100%; height:100%;}
.sb_tv .view_box .view_cont{display:inline-block; position:relative; width:285px; height:200px; padding:64px 30px 0 35px; border-radius:20px 60px 60px 60px; background-color:#eceff6; vertical-align:bottom;}
.sb_tv .view_box .view_cont:before{display:block; position:absolute; top:-20px; right:10px; width:60px; height:60px; border-radius:50%; background:linear-gradient(145deg, rgba(255, 182, 56, 0.3), rgba(250, 98, 141, 0.3)) 25%;}
.sb_tv .view_box .view_cont .title{overflow:hidden; margin-bottom:10px; color:#242a3a; font-size:20px; font-weight:600; text-overflow:ellipsis; line-height:32px; white-space:nowrap; letter-spacing:-0.02em;}
.sb_tv .view_box .view_cont .text{color:#575e6d; font-size:16px; font-weight:300; line-height:26px; letter-spacing:-0.025em;}
.sb_tv .box.photo{padding:45px 58px 20px;}
.sb_tv .box.photo .box_item{width:33.33%; padding:0 20px;}
.sb_tv .box.photo .box_item a{width:100%; height:100%;}
.sb_tv .box.photo .box_image{overflow:hidden; border-radius:10px;}
.sb_tv .box.photo .box_image img{border-radius:10px; transition:transform 0.3s ease-in-out;}
.sb_tv .box.photo .box_cont .title{overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
@media all and (min-width:1001px){
    .sb_tv .box.photo .box_item a:hover .box_image img{transform:scale(1.1);}
}
@media all and (max-width:1300px){
    .sb_tv .view_box .view_image{width:calc(100% - 220px); height:274px;}
    .sb_tv .view_box .view_cont{width:200px; height:150px; padding:40px 20px 0 25px;}
    .sb_tv .box.photo .box_item{width:50%;}
}
@media all and (max-width:1000px){
    .sb_tv .view_box .view_image{height:412px;}
    .sb_tv .view_box .view_cont{border-radius:15px 40px 40px 40px;}
    .sb_tv .view_box .view_cont .title{font-size:18px; line-height:28px;}
    .sb_tv .view_box .view_cont .text{font-size:15px; line-height:25px;}
    .sb_tv .box.photo{padding:30px 25px;}
}
@media all and (max-width:800px){
    .sb_tv .view_box .view_image{height:350px;}
}
@media all and (max-width:640px){
    .sb_tv .view_box .view_image{width:100%; height:auto; margin-right:0; margin-bottom:30px;}
    .sb_tv .view_box .view_cont{width:100%; height:auto; padding:20px 30px; border-radius:10px 30px 30px 30px;}
    .sb_tv .view_box .view_cont:before{top:-10px; width:40px; height:40px;}
    .sb_tv .view_box .view_cont .title{font-size:16px; line-height:26px;}
    .sb_tv .view_box .view_cont .text{font-size:14px; line-height:24px;}
    .sb_tv .box.photo .box_item{width:100%; padding:0;}
}

/* 1인가구 물품 대여 */
.cts5838_wrap .p-wrap table td .btn{min-width:68px;}
.p-wrap.single .box.type2{margin-top:20px; border-radius:20px; text-align:center;}

.p-wrap.single2 h3 + .btn.small.type3{position:absolute; top:0; right:0;}
.p-wrap.single2 .box.photo .box_item a{width:100%; height:100%;}
.p-wrap.single2 .box.photo .box_image img{border-radius:10px; border:1px solid #cacbce;}
.p-wrap.single2 .box.photo .box_item .btn{display:block; margin:10px auto 0; width:40%;}
.p-wrap.single2 .box.photo .box_item.none a{pointer-events:none; cursor:not-allowed;}
.p-wrap.single2 .box.photo .box_item.none .title{color:#aaa;}
.p-wrap.single2 .box.photo .box_item.none .text{color:#aaa;}
.p-wrap.single2 .p-table th > img + .btn{display:block; width:50%; margin:10px auto;}
@media all and (max-width:800px){
    .p-wrap.single2 .p-table th > img{display:block; margin:0 auto 10px;}
}
@media all and (max-width:640px){
    .p-wrap.single2 h3 + .btn.small.type3{position:relative;}
}

/* 조직도 및 담당자 상세 */
.organ_detail .box.type3:before{height:30%;}
.organ_detail .box.type3 .box_wrap .bu li{display:inline-block; width:50%; margin-top:6px; vertical-align:top;}
.organ_detail .box.type3 .box_wrap .bu_box{margin-top:16px; margin-bottom:16px; padding:14px 20px 20px; border:1px solid #d5d7dd; border-radius:10px; background-color:#fff;}
.organ_detail .box.type3 .box_wrap .bu_box .bu{margin-top:0;}
.organ_detail .box.type3 .box_wrap .bu_box .bu li{display:inline-block; width:20%; margin-top:6px; vertical-align:top;}
.organ_detail .box.type3 .box_wrap .bu_box .bu li:before{width:4px; height:4px; background-color:#fa628d;}
.organ_detail .box.type3 .box_wrap .caution{color:#888;}
.organ_detail .box.type3 .box_wrap .caution.map .caution_icon{width:19px; height:21px; background:url("/site/www/images/program/cts6005_map.png") no-repeat;}
.organ_detail .box.type3 .box_wrap .caution.type2 .caution_icon{background-position:left 67.68%;}
.organ_detail .table tbody tr th{text-align:left;}
@media all and (max-width:1300px){
    .organ_detail .box.type3 .box_wrap .bu_box .bu li{width:33.33%;}
}
@media all and (max-width:640px){
    .organ_detail .box.type3 .box_wrap .bu li{display:block; width:100%;}
    .organ_detail .box.type3 .box_wrap .bu_box .bu li{width:50%;}
}

@media all and (min-width:766px) and (max-width:1300px){
    .cts6005 .bbs .p-search .p-form-group{width:80%;}
}

/* 성북소개 > 동주민센터 > 성북동 > 동주민센터 안내 > (구)공고 */
.p-wrap.bbs .box.icon.only_title.n31 .em_red{display:inline;}