@charset "UTF-8";
/* cts5816 */
.cts5816 .p-datepicker td, .p-datepicker th{padding: 0 !important; font-size: 14px;}

/* cts5817 */
.cts5817_wrap{}
.cts5817_wrap .p-button.primary.type2{min-width: 140px; background-color: #fff; color: #0d49aa;}
.cts5817_wrap .p-button.primary.type2:hover{background-color: #0d49aa; color: #fff;}
.cts5817_wrap .bbs .p-search{margin-bottom: 22px;}
.cts5817_wrap .row{position:relative;}
.cts5817_wrap .col-12.col-sm-24.right{position:absolute; right: 0; bottom: 0;}
.cts5817_wrap .col-12.col-sm-24.small{padding-bottom: 12px;}
.cts5817_wrap .title_box{margin-bottom: 28px;}
.cts5817_wrap .title_box .box_wrap .caution{color: #575e6d;}
.cts5817_wrap .title_box .box_wrap:before{background-image: url('/site/public/images/template/title_icon11.png');}
.cts5817_wrap .title_box ul{margin-top: 20px;}
.cts5817_wrap .title_box .bu ul{margin-left: 22px; margin-top: 0;}
@media all and (max-width:640px){
    .cts5817_wrap .col-12.col-sm-24.right{position:relative;}
}

/* cts5830 */
.cts5830_wrap{}
.cts5830_wrap .title_box .box_wrap{padding-bottom: 34px;}
.cts5830_wrap .title_box .box_wrap:before{background-image: url('/site/public/images/template/title_icon12.png');}
.cts5830_wrap .bbs_page{margin-top: 0;}
.cts5830_wrap .row{position:relative;}
.cts5830_wrap .join{position:absolute; right: 0; bottom: 0;}
.cts5830_wrap .state{margin-bottom: 12px;}
.cts5830_wrap .title_box{margin-bottom: 19px;}
.cts5830_wrap .emphasis{margin-top: 0; margin-bottom: 10px;}
.cts5830_wrap .mark01{line-height: 23px; font-size: 14px; text-align: center; min-width: 72px; padding: 2px 10px 3px; border-radius: 30px; background-color: #7c848d; color: #fff;}
.cts5830_wrap .mark01.n02{background-color: #069d46;}
.cts5830_wrap .mark01.n03{background-color: #fa628d;}
.cts5830_wrap .mark01.n04{background-color: #2885ee;}
.cts5830_wrap .p-table td.p-subject .p-icon{margin-top: 5px;}

@media all and (max-width:800px){
    .cts5830_wrap .mark01{margin-bottom: 10px;}
}
@media all and (max-width:640px){
    .cts5830_wrap .join{position:relative;}
}

/* cts5853 */
.cts5853{}
.cts5853 .p-table td{word-break: break-all !important;}

/* cts6366 */
.cts6366_wrap{}
.cts6366_wrap .fame{}
.cts6366_wrap .fame .fame_title{position:relative;}
.cts6366_wrap .fame .fame_title:before{display:block; position:absolute; top:207px; left:50%; z-index:3; width:292px; height:33px; background:url(/site/www/images/program/fame_title.png); transform:translateX(-50%);}
.cts6366_wrap .fame .fame_box{display:inline-block; position:relative; min-width:600px; min-height:400px; padding:70px 30px 30px; background-repeat:no-repeat; background-size:cover; text-align:center;}
.cts6366_wrap .fame .fame_box.n01{background:url(/site/www/images/program/fame_bg1.png);}
.cts6366_wrap .fame .fame_box.n02{position:absolute; top:50px; left:calc(50% - 30px); background:url(/site/www/images/program/fame_bg2.png);}
.cts6366_wrap .fame .fame_box .sub_title{position:relative; color:#444; font-size:30px; font-weight:700; font-family:'Paperlogy'; line-height:37px;}
.cts6366_wrap .fame .fame_box .sub_title:before{display:block; position:absolute; left:50%; bottom:-228px; width:200px; height:198px; transform:translateX(-50%);}
.cts6366_wrap .fame .fame_box.n01 .sub_title:before{background:url(/site/www/images/program/fame_icon1.png);}
.cts6366_wrap .fame .fame_box.n02 .sub_title:before{background:url(/site/www/images/program/fame_icon2.png);}
.cts6366_wrap .fame .fame_box p{padding-top:170px; color:#4d4d4d; font-size:17px; font-weight:400; line-height:27px;}
.cts6366_wrap .fame .hole_main{position:relative; margin-top:110px; margin-bottom:22px; padding-left:96px;}
.cts6366_wrap .fame .hole_main:before{display:block; position:absolute; top:-7px; left:0; width:76px; height:80px; background:url(/site/www/images/program/fame_icon3.png);}
.cts6366_wrap .fame .hole_main h3{margin-bottom:11px;}
.cts6366_wrap .fame .hole_main p{line-height:30px;}
.cts6366_wrap .fame .hole{overflow:hidden; position:relative; min-height:680px; padding:80px 30px 30px; border-radius:20px; background-color:#eef6fe;}
.cts6366_wrap .fame .hole .hole_list{mask-image:linear-gradient(to right, rgba(0,0,0,0) 5%,rgba(0,0,0,0.4) 15%,rgba(0,0,0,1) 35%,rgba(0,0,0,1) 72%,rgba(0,0,0,0.4) 83%,rgba(0,0,0,0) 94%);}
.cts6366_wrap .fame .hole .hole_list .slick-list{overflow:visible;}
.cts6366_wrap .fame .hole .hole_list .slick-slide{position:relative; top:20px; margin-right:40px; transition: ease-in-out;}
.cts6366_wrap .fame .hole .hole_list .slick-slide.slick-active{top:0;}
.cts6366_wrap .fame .hole .hole_list .hole_item{text-align:center;}
.cts6366_wrap .fame .hole .hole_list .slick-slide.slick-active img{border-radius:15px; box-shadow:0px 34px 30px 0px rgba(2,24,79,0.25);}
.cts6366_wrap .fame .hole .hole_list .hole_item .hole_title{display:none;}
.cts6366_wrap .fame .hole .hole_list .slick-active .hole_item .hole_title{display:block; margin-top:26px; color:#4d4d4d; line-height: 24px; font-weight:500;}
.cts6366_wrap .fame .hole .hole_control{}
.cts6366_wrap .fame .hole .hole_control button{position:absolute; top:calc(50% - 20px); width:40px; height:40px; border-radius:100%; background-color:#1978e3; box-shadow:10px 17px 35px 0px rgba(0,0,0,0.15); font-size:0; transition:all 0.3s;}
.cts6366_wrap .fame .hole .hole_control button:hover{background-color:#183887;}
.cts6366_wrap .fame .hole .hole_control button span{position:relative;}
.cts6366_wrap .fame .hole .hole_control button span:before{display:block; position:absolute; top:calc(50% - 7.5px); left:50%; width:9px; height:15px; transform:translateX(-50%);}
.cts6366_wrap .fame .hole .hole_control .hole_prev{left:30px;}
.cts6366_wrap .fame .hole .hole_control .hole_next{right:30px;}
.cts6366_wrap .fame .hole .hole_control .hole_prev span:before{background:url(/site/www/images/program/fame_arrow1.png);}
.cts6366_wrap .fame .hole .hole_control .hole_next span:before{background:url(/site/www/images/program/fame_arrow2.png);}
.cts6366_wrap .year{margin-top:100px;}
.cts6366_wrap .year .year_list{text-align:center;}
.cts6366_wrap .year .year_list .year_item{display:inline-block; text-align:center;}
.cts6366_wrap .year .year_list .slick-list{position:relative; left:50%; width:410px; transform:translateX(-50%);}
.cts6366_wrap .year .year_list .slick-active .year_item span{margin:0; color:#1978e3; font-size:30px; line-height:25px;}
.cts6366_wrap .year .year_list .year_item span{margin:0 40px; color:#222; font-size:20px; font-weight:700; font-family:'Paperlogy';}
.cts6366_wrap .year .year_control{position:relative;}
.cts6366_wrap .year .year_control button{display:block; position:absolute; top:-32px; width:8px; height:11px; font-size:0; padding: 15px; border-radius: 100%;}
.cts6366_wrap .year .year_prev{left:353px; background:url(/site/www/images/program/fame_arrow3.png); background-repeat: no-repeat; background-position: center center;}
.cts6366_wrap .year .year_next{right:353px; background:url(/site/www/images/program/fame_arrow4.png); background-repeat: no-repeat; background-position: center center;}
.cts6366_wrap .business{margin-top:30px;}
.cts6366_wrap .business .business_list{}
.cts6366_wrap .business .business_list .slick-list{padding:0 !important;}
.cts6366_wrap .business .business_list .business_item{display:none; text-align:center;}
.cts6366_wrap .business .business_list .business_item.active{display:block;}
.cts6366_wrap .business .business_list .business_item .tab_content{display:none;}
.cts6366_wrap .business .business_list .business_item .tab_content.active{display:block;}
.cts6366_wrap .business .business_list .business_item .tab_menu{margin-bottom:30px;}
.cts6366_wrap .business .business_list .business_item .tab_menu .tab_panel{}
.cts6366_wrap .business .business_list .business_item .tab_menu .tab_panel .tab_list{font-size:0;}
.cts6366_wrap .business .business_list .business_item .tab_menu .tab_panel .tab_list .tab_item{display:inline-block; width:calc((100% - 10px) / 2);}
.cts6366_wrap .business .business_list .business_item .tab_menu .tab_panel .tab_list .tab_item:nth-child(1){margin-right:10px;}
.cts6366_wrap .business .business_list .business_item .tab_menu .tab_panel .tab_list .tab_item button{display:block; position:relative; width:100%; height:65px; padding:0 10px; border:1px solid #b5b7bc; border-radius:20px 20px 10px 10px; color:#64666a; font-size:16px; line-height:22px;}
.cts6366_wrap .business .business_list .business_item .tab_menu .tab_panel .tab_list .tab_item.active button{border-color:#1978e3; background:#1978e3; box-shadow:0px 8px 8px 0px rgba(229,229,229,0.75); color:#fff; transition:background-color 0.2s ease-in-out;}
.cts6366_wrap .business .business_list .business_item .box.image{margin-bottom:30px; text-align:left;}
.cts6366_wrap .btn{padding:14px 19px 13px; text-align:center;}
.cts6366_wrap .btn.blank:after{display:none;}
@media all and (max-width:1500px){
    .cts6366_wrap .fame .fame_title:before{left:54%;}
    .cts6366_wrap .year .year_prev{left:276px;}
    .cts6366_wrap .year .year_next{right:276px;}
}
@media all and (max-width:1300px){
    .cts6366_wrap .fame .fame_box{min-width:550px; min-height:320px; padding:70px 70px 30px;}
    .cts6366_wrap .fame .fame_box.n01{background-size:cover; text-align:left;}
    .cts6366_wrap .fame .fame_box.n02{background-size:cover;}
    .cts6366_wrap .year .year_prev{left:135px;}
    .cts6366_wrap .year .year_next{right:135px;}
}
@media all and (max-width:1000px){
    .cts6366_wrap .fame .fame_title:before{display:none;}
    .cts6366_wrap .fame .fame_box.n01{left:50%; text-align:center; transform:translateX(-50%);}
    .cts6366_wrap .fame .fame_box.n02{position:relative; top:30px; left:50%; transform:translateX(-50%);}
}
@media all and (max-width:800px){
    .cts6366_wrap .business .business_list .business_item .box.image .box_image img{position:relative; left:50%; transform:translateX(-50%);}
    .cts6366_wrap .year .year_prev{left:30px;}
    .cts6366_wrap .year .year_next{right:30px;}
}
@media all and (max-width:640px){
    .cts6366_wrap .fame .fame_box{display: block; min-width:auto; min-height:auto; padding:40px;}
    .cts6366_wrap .fame .fame_box .sub_title{font-size:24px;}
    .cts6366_wrap .fame .fame_box .sub_title:before{bottom:-180px; width:150px; height:148px;}
    .cts6366_wrap .fame .fame_box.n01 .sub_title:before{background-size:cover;}
    .cts6366_wrap .fame .fame_box.n02 .sub_title:before{background-size:cover;}
    .cts6366_wrap .fame .fame_box p{padding-top:150px; font-size:16px;}
    .cts6366_wrap .fame .hole{min-height:400px; padding:20px;}
    .cts6366_wrap .fame .hole .hole_list{mask-image:linear-gradient(to right, rgba(0,0,0,0) 1%,rgba(0,0,0,0.4) 5%,rgba(0,0,0,1) 10%,rgba(0,0,0,1) 88%,rgba(0,0,0,0.4) 97%,rgba(0,0,0,0) 99%);}
    .cts6366_wrap .fame .hole .hole_list img{width:250px;}
    .cts6366_wrap .fame .hole_main p{line-height:25px;}
    .cts6366_wrap .fame .hole .hole_control button{width:30px; height:30px;}
    .cts6366_wrap .fame .hole .hole_control .hole_prev{left:10px;}
    .cts6366_wrap .fame .hole .hole_control .hole_next{right:10px;}
    .cts6366_wrap .fame .hole .hole_control button span:before{top:calc(50% - 6px); width:7px; height:12px;}
    .cts6366_wrap .fame .hole .hole_control .hole_prev span:before{background-size:cover;}
    .cts6366_wrap .fame .hole .hole_control .hole_next span:before{background-size:cover;}
    .cts6366_wrap .business .business_list .business_item .tab_menu .tab_panel .tab_list .tab_item{width:100%;}
    .cts6366_wrap .business .business_list .business_item .box.image{margin-bottom:20px;}
    .cts6366_wrap .business .business_list .business_item .tab_menu .tab_panel .tab_list .tab_item:nth-child(1){margin-right:0; margin-bottom:20px;}
    .cts6366_wrap .business .business_list .business_item .tab_menu .tab_panel .tab_list .tab_item button{height:50px; font-size:14px;}
}
@media all and (max-width:450px){
    .cts6366_wrap .year .year_prev{left:-12px;}
    .cts6366_wrap .year .year_next{right:-12px;}
    .cts6366_wrap .year .year_list .slick-list{width:390px;}
    .cts6366_wrap .year .year_list .year_item span{margin:0 30px;}
    .cts6366_wrap .year .year_list .slick-active .year_item span{margin:0 -10px;}
}

.photo_contest{}
.photo_contest .gellary{padding:60px; border-radius:20px; background-color:#eceff6; font-size:0;}
.photo_contest .gellary .gellary_box{display:inline-block; width:calc(100% - 340px); margin-right:40px; vertical-align:top;}
.photo_contest .gellary .gellary_box a > img{width:680px; margin-bottom:25px; border-radius:80px 20px; box-shadow:16px 11px 20px 0px rgba(0,0,0,0.2);}
.photo_contest .gellary .gellary_slick{display:inline-block; position:relative;}
.photo_contest .gellary .gellary_list{display:inline-block; width:300px; padding:36px; border-radius:80px 20px; background-color:#fff;}
.photo_contest .gellary .gellary_list .gellary_item a{position:relative; left:50%; transform:translateX(-50%);}
.photo_contest .gellary .gellary_control button{position:relative; width:40px; height:40px; border-radius:100%; background-color:#1978e3; box-shadow:10px 17px 35px 0px rgba(0,0,0,0.15);}
.photo_contest .gellary .gellary_control button:hover{background-color:#183887; transition:all 0.3s;}
.photo_contest .gellary .gellary_control .gellary_btn{display:inline-block; position:absolute; left:50%; transform:translateX(-50%);}
.photo_contest .gellary .gellary_control .gellary_btn.n01{top:-20px;}
.photo_contest .gellary .gellary_control .gellary_btn.n02{bottom:-20px;}
.photo_contest .gellary .gellary_control button:before{display:block; position:absolute; top:15px; left:12px; width:15px; height:9px;}
.photo_contest .gellary .gellary_control .gellary_prev:before{background:url(/site/www/images/program/gellary_arrow1.png);}
.photo_contest .gellary .gellary_control .gellary_next:before{background:url(/site/www/images/program/gellary_arrow2.png);}
.photo_contest .gellary_sub{margin-top:50px; text-align:center;}
.photo_contest .phone{margin-top:50px; font-size:0; text-align:center;}
.photo_contest .phone .phone_btn{width:220px; height:50px; margin:0 5px; padding:0 10px; border: 1px solid #b5b7bc; border-radius:20px 20px 10px 10px; font-size:16px; line-height:22px;}
.photo_contest .phone .phone_btn.active{border-color:#1978e3; background-color:#1978e3; color:#fff; transition:background-color 0.2s ease-in-out;}
.photo_contest .caution{display:inline-block; left:50%; margin-top:14px; font-weight:500; transform:translateX(-50%);}
.photo_contest .phone_content{display:none;}
.photo_contest .phone_content.active{display:block;}
.photo_contest .small{display:inline-block; position:relative; left:50%; margin-bottom:20px; transform:translateX(-50%);}
.photo_contest .small .small_list{left:50%; width:535px; transform:translateX(-50%);}
/* .photo_contest .small .small_list .slick-track{width:1070px !important;} */
/* .photo_contest .small .small_list .slick-slide{width:auto !important; margin-right:10px;} */
.photo_contest .small .small_list .slick-slide:last-child{margin-right:0;}
.photo_contest .small .small_list .small_item{width:80px !important; height:44px; cursor:pointer; font-size: 11px; line-height: 15px;}
.photo_contest .small .small_list img{width:80px; height:44px;}
.photo_contest .small .small_control .small_btn{display:inline-block; position:absolute; top:2px;}
.photo_contest .small .small_control .small_btn.n01{left:-60px;}
.photo_contest .small .small_control .small_btn.n02{right:-60px;}
.photo_contest .small .small_control button{position:relative; width:40px; height:40px; border-radius:100%; background-color:#fff; box-shadow:10px 17px 35px 0px rgba(0,0,0,0.15); transition:all 0.3s;}
.photo_contest .small .small_control button:hover{background-color:#183887;}
.photo_contest .small .small_control button:before{display:block; position:absolute; top:13px; left:15px; width:9px; height:15px; background:url(/site/www/images/program/gellary_arrow3.png);}
.photo_contest .small .small_control button:hover:before{background:url(/site/www/images/program/gellary_arrow4.png);}
.photo_contest .small .small_control .small_next:before{left:17px; transform:rotate(180deg);}
.photo_contest .big .big_control{display:inline-block; position:relative; left:50%; min-width:140px; margin-bottom:16px; padding:8px 10px; border-radius:50px; background-color:#444; color:#fff; line-height:20px; transform:translateX(-50%);}
.photo_contest .big .big_control:before{display:block; position:absolute; top:calc(50% - 1px); left:50%; width:10px; height:2px; background-color:#c4c4c4; transform:translateX(-50%);}
.photo_contest .big .big_control button{width:20px; height:20px; vertical-align:top;}
.photo_contest .big .big_control .big_prev{background:url(/site/www/images/program/gellary_arrow5.png);}
.photo_contest .big .big_control .big_next{float:right; background:url(/site/www/images/program/gellary_arrow6.png);}
.photo_contest .big .big_control .big_paging{position:absolute; left:50%; font-size:0; font-family:'Montserrat'; transform:translateX(-50%);}
.photo_contest .big .big_control .big_paging .big_total{padding-left:10px; color:#c4c4c4; font-size:18px;}
.photo_contest .big .big_control .big_paging .big_current{padding-right:12px; font-size:18px;}
.photo_contest .big .big_list{left:50%; width:660px; transform:translateX(-50%);}
.photo_contest .big .big_list .slick-list{padding-top:50px;}
.photo_contest .big .big_list .big_item{position:relative; text-align:center;}
.photo_contest .big .big_list .big_item .award{position:absolute; top:-44px; left:0;}
.photo_contest .big .big_list .big_item .text{text-align:right;}
/* phone */
.photo_contest .phone_small{display:inline-block; position:relative; left:50%; margin-bottom:20px; transform:translateX(-50%);}
.photo_contest .phone_small .phone_small_list{left:50%; width:535px; transform:translateX(-50%);}
.photo_contest .phone_small .phone_small_list .slick-track{width:1070px !important;}
.photo_contest .phone_small .phone_small_list .slick-slide{width:auto !important; margin-right:10px;}
.photo_contest .phone_small .phone_small_list .slick-slide:last-child{margin-right:0;}
.photo_contest .phone_small .phone_small_list .small_item{cursor:pointer;}
.photo_contest .phone_small .phone_small_list img{width:80px; height:44px;}
.photo_contest .phone_small .phone_small_control .small_btn{display:inline-block; position:absolute; top:2px;}
.photo_contest .phone_small .phone_small_control .small_btn.n01{left:-60px;}
.photo_contest .phone_small .phone_small_control .small_btn.n02{right:-60px;}
.photo_contest .phone_small .phone_small_control button{position:relative; width:40px; height:40px; border-radius:100%; background-color:#fff; box-shadow:10px 17px 35px 0px rgba(0,0,0,0.15); transition:all 0.3s;}
.photo_contest .phone_small .phone_small_control button:hover{background-color:#183887;}
.photo_contest .phone_small .phone_small_control button:before{display:block; position:absolute; top:13px; left:15px; width:9px; height:15px; background:url(/site/www/images/program/gellary_arrow3.png);}
.photo_contest .phone_small .phone_small_control button:hover:before{background:url(/site/www/images/program/gellary_arrow4.png);}
.photo_contest .phone_small .phone_small_control .phone_small_next:before{left:17px; transform:rotate(180deg);}
.photo_contest .phone_big .phone_big_control{display:inline-block; position:relative; left:50%; min-width:140px; margin-bottom:16px; padding:8px 10px; border-radius:50px; background-color:#444; color:#fff; line-height:20px; transform:translateX(-50%);}
.photo_contest .phone_big .phone_big_control button{width:20px; height:20px; vertical-align:top;}
.photo_contest .phone_big .phone_big_control .phone_big_prev{background:url(/site/www/images/program/gellary_arrow5.png);}
.photo_contest .phone_big .phone_big_control .phone_big_next{float:right; background:url(/site/www/images/program/gellary_arrow6.png);}
.photo_contest .big .big_control .big_paging{position:absolute; left:50%; transform:translateX(-50%);}
.photo_contest .phone_big .phone_big_control .phone_big_paging{position:absolute; left:50%; font-size:0; font-family:'Montserrat'; transform:translateX(-50%);}
.photo_contest .phone_big .phone_big_control:before{display:block; position:absolute; top:calc(50% - 1px); left:50%; width:10px; height:2px; background-color:#c4c4c4; transform:translateX(-50%);}
.photo_contest .phone_big .phone_big_control .phone_big_paging .phone_big_total{position:relative; padding-left:12px; color:#c4c4c4; font-size:18px;}
.photo_contest .phone_big .phone_big_control .phone_big_paging .phone_big_current{padding-right:12px; font-size:18px;}
.photo_contest .phone_big .phone_big_list{left:50%; width:660px; transform:translateX(-50%);}
.photo_contest .phone_big .phone_big_list .slick-list{padding-top:50px;}
.photo_contest .phone_big .phone_big_list .big_item{position:relative; text-align:center;}
.photo_contest .phone_big .phone_big_list .big_item .award{position:absolute; top:-44px; left:0;}
.photo_contest .phone_big .phone_big_list .big_item .text{text-align:right;}

@media all and (max-width:1300px){
    .photo_contest .gellary{padding:30px;}
    .photo_contest .gellary .gellary_box{width:calc(100% - 280px); margin-right:30px;}
    .photo_contest .gellary .gellary_list{width:250px; padding:30px;}
}
@media all and (max-width:800px){
    .photo_contest .big .big_list{width:100%;}
    .photo_contest .small .small_list{width:440px;}
    .photo_contest .phone_big .phone_big_list{width:100%;}
    .photo_contest .phone_small .phone_small_list{width:440px;}
}
@media all and (max-width:640px){
    .photo_contest .gellary{padding:20px 20px 40px;}
    .photo_contest .gellary .gellary_box{width:100%; margin-right:0; margin-bottom:20px;}
    .photo_contest .gellary .gellary_slick{width:100%;}
    .photo_contest .gellary .gellary_list{width:100%;}
    .photo_contest .phone .phone_btn{width:150px;}
    .photo_contest .small .small_list{width:260px;}
    .photo_contest .small .small_control button{display:none;}
    .photo_contest .phone .phone_btn{width:150px; height:44px; font-size:14px;}
    .photo_contest .phone_small .phone_small_list{width:260px;}
    .photo_contest .phone_small .phone_small_control button{display:none;}
    .photo_contest .big .big_list .big_item .award{top:-30px; width:100px;}
    .photo_contest .phone_big .phone_big_list .big_item .award{top:-30px; width:100px;}
}

/* cts6815 */
.photo_contest.conlist .gellary{overflow:hidden; position:relative; z-index:0; padding:50px 60px 60px; border-radius:10px; background-color:#eceff6;}
.photo_contest.conlist .gellary:before{display:block; position:absolute; top:0; left:0; z-index:-1; width:900px; height:350px; background:url(/site/www/images/program/gellary_bg.png);}
.photo_contest.conlist .gellary .gellary_title{margin-bottom:28px; color:#000; font-size:26px; font-weight:500; text-align:center; line-height:42px;}
.photo_contest.conlist .gellary .gellary_title .bold{font-weight:700;}
.photo_contest.conlist .gellary .gellary_box{width:auto; margin-right:55px;}
.photo_contest.conlist .gellary .gellary_box > img{width:560px; margin-bottom:0; border-radius:7px; box-shadow:33px 23px 45px 15px rgba(0,0,0,0.2);}
.photo_contest.conlist .gellary .gellary_main{display:inline-block; width:calc(100% - 615px); font-size:0; text-align:center; line-height:0;}
.photo_contest.conlist .gellary .gellary_main img{display:block; position:relative; left:50%; margin-top:10px; transform:translateX(-50%);}
.photo_contest.conlist .gellary .gellary_main .gellary_sub{display:inline-block; position:relative; margin-top:22px; padding:0 16px; color:#000; font-size:20px; font-weight:600; line-height:35px;}
.photo_contest.conlist .gellary .gellary_main .gellary_sub.point{margin-top:16px; color:#333; font-size:24px; font-family:'Jalnan'; letter-spacing:-0.04em;}
.photo_contest.conlist .gellary .gellary_main .gellary_sub.point:before{display:none;}
.photo_contest.conlist .gellary .gellary_main .gellary_sub.point:after{display:none;}
.photo_contest.conlist .gellary .gellary_main .gellary_sub.skip{display:none;}
.photo_contest.conlist .gellary .gellary_main .gellary_sub:before{display:block; position:absolute; top:calc(50% - 2.5px); left:0; width:5px; height:5px; border-radius:100%; background-color:#000;}
.photo_contest.conlist .gellary .gellary_main .gellary_sub:after{display:block; position:absolute; top:calc(50% - 2.5px); right:0; width:5px; height:5px; border-radius:100%; background-color:#000;}
.photo_contest.conlist .gellary .gellary_main p{margin-top:5px; color:#4d4d4d; font-size:16px; line-height:28px;}
.photo_contest.conlist .gellary.no_sub .gellary_main p{margin-top:34px;}
.photo_contest.conlist .small{margin-bottom:25px;}
.photo_contest.conlist .phone_small{margin-bottom:25px;}
.photo_contest.conlist .small .small_list img{border-radius:5px;}
.photo_contest.conlist .phone_small .phone_small_list img{border-radius:5px;}
.photo_contest.conlist .phone_content{margin-top:10px;}
@media all and (max-width:1300px){
    .photo_contest.conlist .gellary .gellary_box{margin-right:30px;}
    .photo_contest.conlist .gellary .gellary_box > img{width:350px;}
    .photo_contest.conlist .gellary .gellary_main{width:calc(100% - 380px);}
    .photo_contest.conlist .gellary:before{top:-50px; left:-200px;}
}
@media all and (max-width:800px){
    .photo_contest.conlist .gellary{padding:30px;}
    .photo_contest.conlist .gellary:before{top:-150px; left:-100px;}
    .photo_contest.conlist .small .small_list{width:448px;}
}
@media all and (max-width:640px){
    .photo_contest.conlist .gellary{padding:20px;}
    .photo_contest.conlist .gellary:before{left:-350px;}
    .photo_contest.conlist .gellary .gellary_title{font-size:22px; line-height:32px;}
    .photo_contest.conlist .gellary .gellary_box{margin-right:0;}
    .photo_contest.conlist .gellary .gellary_box > img{width:100%;}
    .photo_contest.conlist .gellary .gellary_main{display:block; width:100%;}
    .photo_contest.conlist .gellary .gellary_main img{transform:translateX(-50%) scale(0.8);}
    .photo_contest.conlist .gellary .gellary_main img + img{transform:translateX(-50%) scale(1);}
    .photo_contest.conlist .small .small_list{width:268px;}
    .photo_contest.conlist .phone_small .phone_small_list{width:268px;}
}

/* cts6817 */
.photo_contest.conlist.cts6817_wrap .gellary .gellary_main .title_img{display:inline-block; position:relative;}
.photo_contest.conlist.cts6817_wrap .gellary .gellary_main .title_img:before{display:block; position:absolute; right:-50px; bottom:-20px; z-index:1; width:100px; height:100px; background:url(/site/www/images/program/2022_title2.png); background-size:cover;}
@media all and (max-width:800px){
    .photo_contest.conlist.cts6817_wrap .gellary .gellary_main .title_img:before{right:0px; bottom:-10px; width:70px; height:70px;}
}
@media all and (max-width:640px){
    .photo_contest.conlist.cts6817_wrap .gellary .gellary_main .title_img:before{right:20px; bottom:5px;}
}

/* cts6820 */
.photo_contest.conlist.cts6820_wrap .gellary{padding-right:30px;}
.photo_contest.conlist.cts6820_wrap .gellary .gellary_main .gellary_sub.point{color:#103e89;}
.photo_contest.conlist.cts6820_wrap .gellary .gellary_main .gellary_sub.point + p{margin-top: 10px;}

/* cts6821 */
.photo_contest.conlist.cts6821_wrap .gellary .gellary_title .em_green{color:#00825f;}
.photo_contest.conlist.cts6821_wrap .gellary .gellary_box{margin-right:60px;}
.photo_contest.conlist.cts6821_wrap .gellary .gellary_main{width:calc(100% - 620px);}
.photo_contest.conlist.cts6821_wrap .big .big_control{min-width: 168px;}

@media all and (max-width:1300px){
    .photo_contest.conlist.cts6821_wrap .gellary .gellary_box{margin-right:30px;}
    .photo_contest.conlist.cts6821_wrap .gellary .gellary_main{width:calc(100% - 380px);}
}
@media all and (max-width:640px){
    .photo_contest.conlist.cts6821_wrap .gellary .gellary_box{margin-right:0;}
    .photo_contest.conlist.cts6821_wrap .gellary .gellary_main{width:100%;}
}

/* cts6822 */
.photo_contest.conlist.cts6822_wrap .gellary .gellary_main .gellary_sub.point{font-family:'HakgyoansimDunggeunmiso';}
.photo_contest.conlist.cts6822_wrap .gellary .gellary_main .gellary_sub.point .em_brown{color:#9f6102; font-size:28px;}
.photo_contest.conlist.cts6822_wrap .gellary .gellary_main .gellary_sub{padding: 0;}
.photo_contest.conlist.cts6822_wrap .gellary .gellary_main .gellary_sub + p{margin-top: 10px;}

/* cts6823 */
.photo_contest.conlist.cts6823_wrap .gellary .gellary_main .gellary_sub.point{font-family:'HakgyoansimDunggeunmiso';}
.photo_contest.conlist.cts6823_wrap .gellary .gellary_main .gellary_sub.point + p{margin-top: 10px;}
.photo_contest.conlist.cts6823_wrap .gellary .gellary_main .gellary_sub.point .em_nav{color:#005fc7; font-size:28px;}

/* cts6824 */
.photo_contest.conlist.cts6824_wrap .gellary .gellary_main .gellary_sub{font-size:28px; letter-spacing:-0.04em;}
.photo_contest.conlist.cts6824_wrap .gellary .gellary_main .gellary_sub:before{display:none;}
.photo_contest.conlist.cts6824_wrap .gellary .gellary_main .gellary_sub:after{display:none;}
.photo_contest.conlist.cts6824_wrap .gellary .gellary_main .gellary_sub .em_pur{color:#9317d3;}

/* cts6825 */
.photo_contest.conlist .gellary .gellary_main img + img{margin-top:20px;}
.photo_contest.conlist.cts6825_wrap .gellary .gellary_main .gellary_sub{margin-top:12px; color:#282828; font-size:22px; font-weight:500;}
.photo_contest.conlist.cts6825_wrap .gellary .gellary_main .gellary_sub:before{display:none;}
.photo_contest.conlist.cts6825_wrap .gellary .gellary_main .gellary_sub:after{display:none;}
.photo_contest.conlist.cts6825_wrap .gellary .gellary_main p{margin-top:12px;}

/* cts6005 */
.cts6005_wrap .color_box{margin-bottom:20px; padding:20px 20px 20px 140px; font-size:0;}
.cts6005_wrap .color_box p{display:inline-block; margin-right:28px; color:#4a4f66; font-size:16px; font-weight:500; line-height:48px;}
.cts6005_wrap .color_box .sd_input{vertical-align:top;}
.cts6005_wrap .color_box .sd_input select{min-width:202px; height:48px; border-radius:8px; background-color:#fff;}
.cts6005_wrap .color_box .sd_input input{min-width:400px; height:48px;}
.cts6005_wrap .color_box .btn_box{display:inline-block; vertical-align:top;}
.cts6005_wrap .color_box .btn_box .btn{min-width:100px; margin:0 0 0 10px; border-color:#1978e3; border-radius:8px; background-color:#1978e3;}
.cts6005_wrap .table{margin-bottom:40px;}
.cts6005_wrap .n01{margin-top:37px;}
.cts6005_wrap .organ{padding:60px;}
.cts6005_wrap .organ .step1{position:relative; margin-bottom:30px;}
.cts6005_wrap .organ .step1 .depth_title:before{display:block; position:absolute; top:48px; left:50%; width:1px; height:108px; background-color:#d5d7dd; transform:translateX(-50%);}
.cts6005_wrap .organ .step2{margin-bottom:30px; font-size:0;}
.cts6005_wrap .organ .step2 .depth_title.box01:before{display:block; position:absolute; top:calc(50% - 0.5px); right:-114px; width:113px; height:1px; background-color:#d5d7dd;}
.cts6005_wrap .organ .step2 .depth_title{margin:0 56px;}
.cts6005_wrap .organ .step3{margin-bottom:30px;}
.cts6005_wrap .organ .step3 .depth_title:before{display:block; position:absolute; top:48px; left:50%; width:1px; height:162px; background-color:#d5d7dd; transform:translateX(-50%);}
.cts6005_wrap .organ .step4{margin-bottom:10px;}
.cts6005_wrap .organ .step4 .depth_title a{color:#1978e3;}
.cts6005_wrap .organ .depth3_title{margin-right:330px;}
.cts6005_wrap .organ .depth3_title:before{display:block; position:absolute; top:calc(50% - 0.5px); right:-57px; width:56px; height:1px; background-color:#d5d7dd;}
.cts6005_wrap .organ .depth_title{display:inline-block; position:relative; width:220px;}
.cts6005_wrap .organ .depth_title a{color:#fff;}
.cts6005_wrap .organ .step5{margin-bottom:60px;}
.cts6005_wrap .organ .step5 .depth_title a{color:#069d46;}
.cts6005_wrap .organ .step6{font-size:0;}
.cts6005_wrap .organ .step6 .step_line{display:inline-block; position:relative; margin-bottom:20px; font-size:0;}
.cts6005_wrap .organ .step6 .step_line.list01:before{display:block; position:absolute; top:-34px; left:50%; width:630px; height:1px; background-color:#d5d7dd; transform:translateX(-50%);}
.cts6005_wrap .organ .step6 .step_line.list01 .depth_title:before{display:block; position:absolute; top:-35px; left:50%; width:1px; height:34px; background-color:#d5d7dd; transform:translateX(-50%);}
.cts6005_wrap .organ .step6 .step_line:last-child{margin-bottom:0;}
.cts6005_wrap .organ .step6 .step_line > li{display:inline-block; margin-right:10px;}
.cts6005_wrap .organ .step6 .step_line > li:last-child{margin:0;}
.cts6005_wrap .organ .step6 .depth_title{width:200px;}
.cts6005_wrap .organ .depth4_box{display:inline-block;}
.cts6005_wrap .organ .depth4_box .depth4_sub{min-height:202px;}
.cts6005_wrap .organ .depth4_box .depth4_sub li a{line-height: 22px;}
.cts6005_wrap .organ .depth4_box .depth4_sub li a:hover{color: #103e89; text-decoration: underline;  text-underline-position : under;}
.cts6005_wrap .organ .depth4_box .depth4_sub > li + li{margin-top: 4px;}
.cts6005_wrap .group .link_box .link_item{width:100%; margin:0; padding:0;}
.cts6005_wrap .center_text{line-height:38px;}
.cts6005_wrap .center_text .btn{position:relative; min-width:148px; margin-left:12px; padding-left:20px; background-color:#fff; color:#000; text-align:left;}
.cts6005_wrap .center_text .btn.active{background-color:#222; color:#fff;}
.cts6005_wrap .center_text .btn.active:before{top:calc(50% - 7px); background:url(/site/www/images/program/cts6005_icon1.png);}
.cts6005_wrap .center_text .btn:before{display:block; position:absolute; top:calc(50% - 6.5px); right:19px; width:16px; height:13px; background:url(/site/www/images/program/cts6005_icon.png);}
.cts6005_wrap .community{}
.cts6005_wrap .community .link_box{margin-top:20px; margin-bottom:15px;}
.cts6005_wrap .community .link_box+.link_box{margin-top:0;}
.cts6005_wrap .community .link_box .link_item:last-child{margin-right:0}
.cts6005_wrap .community .link_box .link_item .link_anchor{min-height:210px;}
.cts6005_wrap .community .link_box .link_item .link_anchor .text{display:inline-block; position:relative; margin-top:15px; padding-left:25px;}
.cts6005_wrap .community .link_box .link_item .link_anchor .text:before{display:block; position:absolute; top:3px; left:0; width:16px; height:16px; background:url(/site/www/images/program/cts6005_icon2.png);}

@media all and (max-width:1500px){
    .cts6005_wrap .color_box{padding:20px 20px 20px 70px;}
}
@media all and (max-width:1300px){
    .cts6005_wrap .color_box{padding:20px;}
    .cts6005_wrap .color_box p{margin-right:20px;}
    .cts6005_wrap .color_box .sd_input select{min-width:140px;}
    .cts6005_wrap .color_box .sd_input input{min-width:300px;}
    .cts6005_wrap .color_box .btn_box .btn{min-width:80px;}
    .cts6005_wrap .organ{padding:30px;}
    .cts6005_wrap .organ .step2 .depth_title{margin:0 15px;}
    .cts6005_wrap .organ .step6 .step_line{margin-bottom:0;}
    .cts6005_wrap .organ .step6 .step_line.list01:before{width:230px;}
    .cts6005_wrap .organ .step6 .step_line > li{margin-right:30px; margin-bottom:20px;}
    .cts6005_wrap .organ .step6 .step_line > li:nth-child(2n){margin-right:0;}
    .cts6005_wrap .organ .step6 .step_line.list01 li:nth-child(3) .depth_title:before{display:none;}
    .cts6005_wrap .organ .step6 .step_line.list01 li:nth-child(4) .depth_title:before{display:none;}
    .cts6005_wrap .community .link_box{margin-bottom:0;}
    .cts6005_wrap .community .link_box .link_item{margin-bottom:20px;}
}
@media all and (max-width:1000px){
    .cts6005_wrap .organ .step6 .step_line{display:block;}
    .cts6005_wrap .organ .step6 .step_line > li{width:calc((100% - 30px)/4); margin-right:10px; vertical-align:top;}
    .cts6005_wrap .organ .step6 .step_line > li:nth-child(2){margin-right:10px;}
    .cts6005_wrap .organ .step6 .depth_title{width:100%;}
    .cts6005_wrap .organ .depth4_box{display:block;}
    .cts6005_wrap .organ .step3 .depth_title:before{height:111px;}
    .cts6005_wrap .organ .step6 .step_line.list01:before{display:none;}
    .cts6005_wrap .organ .step6 .step_line.list01 .depth_title:before{display:none;}
    .cts6005_wrap .group .link_box .link_list{margin:0;}
    .cts6005_wrap .community .link_box .link_item .link_anchor{min-height:auto;}
}
@media all and (max-width:800px){
    .cts6005_wrap .color_box p{display:block;}
    .cts6005_wrap .organ .step2 .depth_title.box01{margin-bottom:20px;}
    .cts6005_wrap .organ .step1 .depth_title:before{top:39px; height:125px;}
    .cts6005_wrap .organ .step3 .depth_title:before{top:39px; height:99px;}
}
@media all and (max-width:640px){
    .cts6005_wrap .color_box .sd_input select{min-width:100px; height:40px;}
    .cts6005_wrap .color_box .sd_input input{min-width:auto; height:40px;}
    .cts6005_wrap .sd_input + .sd_input{width:calc(100% - 106px);}
    .cts6005_wrap .color_box .btn_box{display:block; text-align:right;}
    .cts6005_wrap .color_box .btn_box .btn{margin-top:10px; margin-left:0;}
    .cts6005_wrap .center_text{line-height:22px;}
    .cts6005_wrap .center_text .btn{display:block;}
    .cts6005_wrap .organ{padding:20px;}
    .cts6005_wrap .organ .step1{margin-bottom:20px;}
    .cts6005_wrap .organ .step1 .depth_title:before{display:none;}
    .cts6005_wrap .organ .step3 .depth_title:before{display:none;}
    .cts6005_wrap .organ .step2{margin-bottom:20px;}
    .cts6005_wrap .organ .step2 .depth_title{margin:0;}
    .cts6005_wrap .organ .step3{margin-bottom:20px;}
    .cts6005_wrap .organ .step4{margin-bottom:20px;}
    .cts6005_wrap .organ .step5{margin-bottom:40px;}
    .cts6005_wrap .organ .step6 .step_line{margin-bottom:20px;}
    .cts6005_wrap .organ .step6 .step_line > li{display:block; width:100%;}
    .cts6005_wrap .organ .step6 .step_line > li:nth-child(2){margin-right:0;}
    .cts6005_wrap .organ .depth_title{width:100%;}
    .cts6005_wrap .organ .depth4_box .depth4_sub{min-height:auto;}
}

/* 6005 fixed 25.02.04 */
.cts6005_wrap .sb_input{vertical-align:top;}

/* cts6483 */
.cts6483_wrap .box.icon{padding: 42px 35px 38px 168px; margin-bottom: 30px;}
.cts6483_wrap .box .box_wrap{margin-bottom: 16px;}
.cts6483_wrap .btn.type2.n01{margin-right: 10px;}
.cts6483_wrap .table tbody th{text-align: center;}
.cts6483_wrap .p-wrap{margin-bottom: 30px;}
.cts6483_wrap .bbs_page{display: block;}
.cts6483_wrap .bbs .p-search .p-date_wrap{margin-top: 2px; width: auto;}
.cts6483_wrap .bbs .p-search.type2{padding: 6px; border-top: 1px solid #191919; background: transparent; border-radius: 0;}
.cts6483_wrap .bbs .p-search .p-form-group{margin-left: 0; font-size: 0; width: auto;}
.cts6483_wrap .bbs .p-search .p-form-group.n01{margin-left: 14px;}
.cts6483_wrap .bbs .p-search .p-date_wrap .p-date-group .p-date{border: 0;}
.cts6483_wrap .bbs .p-search .p-date_wrap .p-date-group .p-date:before{background-color: transparent; border: 1px solid #d5d7dd;}
.cts6483_wrap .bbs .p-search .p-btn_group .grey_btn{margin-left: 10px !important;}
.cts6483_wrap .bbs .p-search .p-btn_group .grey_btn:first-child{margin-left: 5px !important;}
.cts6483_wrap .p-form__split{padding: 0 7px; font-size: 12px;}
.cts6483_wrap .bbs .p-search .p-btn_group{margin-left: 6px;}
.cts6483_wrap .bbs .p-search.type2 .p-form_line.n02{float:left; margin-left: 14px;}
.cts6483_wrap .bbs .p-search.type2 .p-form_line.n02 .input_wrap{min-width:630px;}
.cts6483_wrap .tab{margin-bottom: 30px; margin-top: 0;}
.cts6483_wrap  .page_size{position:relative; float: right;}
.cts6483_wrap  .page_size:before{display: block; position: absolute; width: 17px; height: 14px; left: -26px; top: 6px; background: url(/site/www/images/program/cts6483_icon.png);}
.cts6483_wrap  .page_size button{font-size: 14px; width: 26px; height: 26px; margin-right: 5px; border-radius: 7px; color: #4a4f66; background-color: #dcdee9;}
.cts6483_wrap  .page_size button:last-child{margin-right: 0;}
.cts6483_wrap  .page_size .active{color: #fff; background-color: #4a4f66;}
.cts6483_wrap .p-datepicker td, .p-datepicker th{padding: 0 !important; font-size: 14px;}

@media all and (max-width:1300px){
    .cts6483_wrap .bbs .p-search.type2 .p-form_line.n02 .input_wrap{min-width:auto; width: calc(100% - 126px)}
    .cts6483_wrap .bbs .p-search .p-date_wrap{width: 37%;}
    .cts6483_wrap .bbs .p-search.type2 .p-form_line.n02,
    .cts6483_wrap .bbs .p-search .p-form-group.n01{margin-left: 0; text-align: left;}
    .cts6483_wrap .bbs .p-search.type2 .p-form_line.n02{float: none; text-align: left;}

}
@media all and (max-width:800px){
    .cts6483_wrap .bbs .p-search .p-form-group.n01{display: block; margin-right: 0;}
    .cts6483_wrap .bbs .p-search .p-date_wrap{width: 100%; max-width: none; margin-bottom: 6px;}
    .cts6483_wrap .bbs .p-search .p-date_wrap .p-date-group .p-date{width:auto;}
    .cts6483_wrap .bbs .p-search.type2 .p-form_line.n02 .input_wrap{width:calc(100% - 113px);}

    .cts6483_wrap .bbs .p-search .p-btn_group{margin-left:-6px; text-align: left;}

    .cts6483_wrap  .table_scroll{position:relative; max-width:100%; overflow-x:inherit;}
    .cts6483_wrap .table_scroll table{min-width:auto;}
}
@media all and (max-width:640px){
    .cts6483_wrap .box.icon{padding: 20px 20px 20px 70px; margin-bottom: 20px;}
    .cts6483_wrap .page_size{display: block; margin-top: 10px;}

    .cts6483_wrap .bbs .p-search .grey_btn{padding: 8px 10px;}
    .cts6483_wrap .bbs .p-search .p-btn_group .grey_btn{margin-left: 5px !important;}
    .cts6483_wrap .bbs .p-search .p-input.p-input--beside{width: 100%; margin: 0;}
    .cts6483_wrap .bbs .p-search.type2 .p-form_line.n02 .input_wrap{width: calc(100% - 63px);}


}

/* cts5842 */
.cts5842_wrap .cms_tab .tab{margin: 50px 0;}
.cts5842_wrap .box.only_title .box_title{line-height: 34px;}
.cts5842_wrap .box.icon{padding: 45px 35px 42px 168px;}
.cts5842_wrap  .title_n01{margin-top:48px;}
.cts5842_wrap  .title_n02{margin-top:17px;}
.cts5842_wrap  .title_n03{margin-top:47px;}
.cts5842_wrap  .title_n04{margin-top:39px;}
.cts5842_wrap  .title_n05{margin-top:48px;}
.cts5842_wrap  .title_n06{margin-top:47px;}
.cts5842_wrap  .title_n07{margin-top:47px;}
.cts5842_wrap .box.icon:after{background-image: url(/site/public/images/template/box_icon20.png);}
.cts5842_wrap .emphasis{margin-top: 19px;}
.cts5842_wrap ol.num > li > ol{margin: 0}
.cts5842_wrap ol.num > li > ol:before{display: block; position: absolute; top: 10px; left: 10px; width: 4px; height: 4px; border-radius: 50%; background-color: #fa628d;}
.cts5842_wrap ol .caution{display: inline-block; margin-left: 5px;}
.cts5842_wrap .short{display: inline-block;}
.cts5842_wrap .short.caution.type2{margin-left: 10px;}
@media all and (max-width:640px){
    .cts5842_wrap .box.icon{padding: 20px 20px 20px 70px;}
}

/* cts5843 */
.cts5843_wrap .cms_tab .tab{margin: 50px 0;}

/* cts5840 */
.cts5840 .cms_tab .tab{margin-bottom: 30px;}
.cts5840 .caution{margin-top: 13px;}
.cts5840 .title_box{margin-bottom: 30px;}
.cts5840 .title_box .box_wrap:before{background-image: url('/site/public/images/template/title_icon16.png');}
.cts5840 .title_box .box_wrap .caution{line-height: 28px;}
.cts5840 .title_box .box_wrap .caution em{padding-left: 12px;}
.cts5840 .title_box .box_wrap .caution .caution_icon{top: 7px;}
.cts5840 .btn_box{text-align: center;}
.cts5840 .btn.type3{min-width: 100px; background-color: #0d49aa; border-color: #0d49aa;}

.cts6660 .p-button.p-button--small{background-color: #4a4f66;}
.cts6660 .p-input__addon .p-button{margin-left: 10px;}

.sb_minwon .title_text{font-size: 19px; font-weight: 500; font-family: 'SCoreDream';}

.program.participate{}
.program.participate .part_top_box{border-top:1px solid #26293d; border-bottom:1px solid#757b8e;}
.program.participate .part_top_box .title{padding:26px 26px 24px; color:#1978e3; font-size:20px; font-weight:500; line-height:30px;}
.program.participate .part_top_box .category_box{height:60px; padding:17px 26px; border-top:1px solid #e3e5e8; font-size:0;}
.program.participate .part_top_box .category_box .category{display:inline-block; width:50%; font-size:0;}
.program.participate .part_top_box .category_box .category .category_title{padding-right:40px; color:#26293d; font-size:16px; font-weight:500; line-height:26px;}
.program.participate .part_top_box .category_box .category .category_result{color:#4a4f66; font-size:16px; line-height:26px;}
.program.participate .part_top_box .desc_box{padding:20px 26px 18px; border-top:1px solid #e3e5e8; background-color:#f7f7fc; font-size:0;}
.program.participate .part_top_box .desc_box .desc_title{padding-right:73px; color:#26293d; font-size:16px; font-weight:500; line-height:26px; vertical-align:top;}
.program.participate .part_top_box .desc_box .explain{display:inline-block; color:#4a4f66; font-size:16px; line-height:30px;}
.program.participate .all_btn{margin-top:50px; text-align:right;}
.program.participate .all_btn .btn{position:relative; min-width:120px; padding:10px 22px; background-color:#fff; color:#191919; text-align:left;}
.program.participate .all_btn .btn:hover{background-color:#191919; color:#fff;}
.program.participate .all_btn .btn:before{display:block; position:absolute;}
.program.participate .all_btn .btn:first-child:before{top:calc(50% - 6px); right:22px; width:12px; height:12px; background:url(/site/www/images/program/check_open.png);}
.program.participate .all_btn .btn:before{top:calc(50% - 1px); right:22px; width:12px; height:2px; background:url(/site/www/images/program/check_close2.png);}
.program.participate .all_btn .btn:first-child:hover:before{background:url(/site/www/images/program/check_open2.png);}
.program.participate .all_btn .btn:hover:before{background:url(/site/www/images/program/check_close.png);}
.program.participate .check_list_box{margin-top:10px;}
.program.participate .check_list_box .check_item{overflow:hidden; border:1px solid #757b8e; border-radius:7px;}
.program.participate .check_list_box .check_item .qna_btn_wrap{display:block;}
.program.participate .check_list_box .check_item.active{border:1px solid #757b8e; border-radius:7px;}
.program.participate .check_list_box .check_item .check_title{display:block; position:relative; width:100%; height:80px; padding:22px 34px 20px; background-color:#f7f7fc; font-size:0; text-align:left;}
.program.participate .check_list_box .check_item .check_title .count .count_text{position:relative; top:2px; color:#1978e3; font-size:20px; font-weight:500; font-family:'Aggro'; line-height:38px;}
.program.participate .check_list_box .check_item .check_title .title{padding-left: 20px; color:#4a4f66; font-size:18px; font-weight:500; line-height:38px; vertical-align:top;}
.program.participate .check_list_box .check_item .public_box{padding:24px 68px 20px;}
.program.participate .check_list_box .check_item .public_box .sd_input{display:block; margin-bottom:10px;}
.program.participate .check_list_box .check_item .public_box .sd_input + .sd_input{margin-left:0;}
.program.participate .check_list_box .check_item .public_box .sd_input label{position:relative; padding-left: 27px; font-weight:400;}
.program.participate .check_list_box .check_item .public_box .sd_input input[type="radio"]:checked + label{color:#242a3a; font-weight:500;}
.program.participate .check_list_box .check_item .public_box .sd_input input[type="checkbox"]:checked + label{color:#242a3a; font-weight:500;}
.program.participate .sd_input{position:relative;}
.program.participate .sd_input input[type="radio"] + label:before{border-radius: 50%;}
.program.participate .sd_input input[type="checkbox"] + label:before{border-radius: 6px;}
.program.participate .sd_input input[type="radio"], .program.participate .sd_input input[type="checkbox"]{position: absolute; left: 0; top: 0; top: 0; width: auto; padding: 0; border: none; opacity:0;}
.program.participate .sd_input input[type="checkbox"] + label:before, .program.participate .sd_input input[type="radio"] + label:before{display: block; position: absolute; top: 5px; left: 0; width: 16px; height: 16px; border: 2px solid #d1d1d4; background-color: #fff;}
.program.participate .sd_input input[type="radio"]:checked + label:before{border-color: #0d49aa;}
.program.participate .sd_input input[type="radio"]:checked + label:after{display: block; position: absolute; top: 10px; left: 5px; width: 10px; height: 10px; border-radius: 50%; background-color: #0d49aa;}
.program.participate .sd_input input[type="checkbox"]:checked + label:before{border-color: #0d49aa; background-color: #0d49aa;}
.program.participate .sd_input input[type="checkbox"]:checked + label:after{display: block; position: absolute; top: 9px; left: 3px; width: 14px; height: 11px; background-image: url(/site/public/images/template/template_sprite.png); background-repeat: no-repeat; background-position: left 56.54%;}
.program.participate .check_list_box .check_item + .check_item{margin-top:10px;}
.program.participate .check_list_box .check_item .check_title:before{display:block; position:absolute; top:26px; right:40px; width:16px; height:8px; background:url(/site/www/images/contents/cts6378_arrow1.png);}
.program.participate .check_list_box .check_item .check_title.active:before{top:40px; right:40px; transform:rotate(-180deg);}
.program.participate .form_box{text-align: center; margin-top: 30px;}

/* type2 */
.program.participate.type2 .check_list_box .check_item .check_title{padding:10px 34px; height: 60px; background-color: #fff;}
.program.participate.type2 .check_list_box .check_item .check_title.active{display:block; position:relative; width:100%; height:80px; padding:22px 34px 20px; background-color:#f7f7fc; font-size:0; text-align:left;}
.program.participate.type2 .check_list_box .check_item .check_title.active .title{font-size: 18px; font-weight: 500;}
.program.participate.type2 .check_list_box .check_item .check_title .title{font-size: 16px; font-weight: 400;}
.program.participate.type2 .check_list_box .check_item .check_title.active .count .count_text{position:relative; top:2px; color:#1978e3; font-size:24px; font-weight:500; font-family:'Aggro'; line-height:38px;}

.program.participate .result_box{ padding:25px 40px; margin-bottom:10px; border: 1px solid #d5d7dd; border-radius: 7px; font-size: 0;}
.program.participate .result_box thead{position:relative;}
.program.participate .result_box thead:before{display: block; position: absolute; width:100%; height: 1px; left: 0; bottom: 0; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAYAAAAb4BS0AAAAAXNSR0IArs4c6QAAABRJREFUGFdj3LRp038/Pz9GBiAAACZuBAIHZI+XAAAAAElFTkSuQmCC);}
.program.participate .result_box th{padding-bottom: 20px; position:relative; font-size: 16px; line-height: 20px; font-weight: 400;}
.program.participate .result_box td{font-size: 16px; text-align: center;}
.program.participate .result_box td:first-child{text-align: left;}
.program.participate .result_box tr:first-child td{padding-top: 17px;}
.program.participate .result_box .point_color{color: #f05480; font-weight: 500;}
.program.participate .result_box .th01{padding-left:32px;}
.program.participate .result_box .th01:before{display:block; position:absolute; top:0; left:0; width:22px; height:20px; background:url(/site/www/images/program/check_people.png);}
.program.participate .result_box .th02{padding-left:30px;}
.program.participate .result_box .th02:before{display:block; position:absolute; top:0; left:0; width:22px; height:20px; background:url(/site/www/images/program/check_time.png);}
.program.participate .result_box .th03{padding-left:30px;}
.program.participate .result_box .th03:before{display:block; position:absolute; top:0; left:0; width:24px; height:20px; background:url(/site/www/images/program/check_pluse.png);}
.program.participate .result_box .div_per {line-height: 0;}
.program.participate .result_box .div_per .per_bar{position:relative; margin-left: 40px; background-color: #dbdbed; width: 400px; height: 10px; border-radius:15px;}
.program.participate .result_box .div_per .per_bar .per_point{display: block; position: absolute; background-color: #1978e3; height: 10px; border-radius:15px; font-size: 0;}
.program.participate .result_box .blt{display: inline-block; padding-left: 0; min-width: 58px; line-height: 40px;}
.program.participate .result_box .blt:before{display: none;}
.program.participate .result_box .per_bar{display: inline-block;}


@media all and (max-width:1500px){

}
@media all and (max-width:1300px){
    .program.participate .check_list_box .check_item .public_box{padding: 30px;}
    .program.participate .result_box{padding: 30px;}
    .program.participate .result_box .div_per .per_bar{width: 300px;}
}
@media all and (max-width:800px){
    .program.participate .part_top_box .category_box{height: auto;}
    .program.participate .part_top_box .category_box .category .category_title{display: block;}
    .program.participate .result_box th{font-size: 14px;}
    .program.participate .result_box td{font-size: 14px;}
    .program.participate .check_list_box .check_item .public_box{padding: 20px;}
    .program.participate .result_box{padding: 20px;}
    .program.participate .result_box .div_per .per_bar{margin-left: 10px;}
}
@media all and (max-width:640px){
    .program.participate .check_list_box .check_item .public_box{padding:20px;}
    .program.participate .part_top_box .category_box .category{width: 100%;}
    .program.participate .result_box .div_per{font-size: 0;}
    .program.participate .result_box .div_per .per_bar{width: calc(100% - 68px);}
    .program.participate .result_box .th01{padding-left: 0;}
    .program.participate .result_box .th01:before{display: none;}
    .program.participate .result_box .th02{padding-left: 0;}
    .program.participate .result_box .th02:before{display: none;}
    .program.participate .result_box .th03{padding-left: 0;}
    .program.participate .result_box .th03:before{display: none;}
}

.cts5879 .bbs.bbs__gallery .p-media-list .p-media__image-wrap img{width: auto;}
.cts6660 .p-form__label:before{display: none;}
.cts6660 .emphasis.half .emphasis_item:last-child{width: 100%;}
.cts6660 .p-button.search:link{border-color: #1978e3; background-color: #1978e3; line-height: 30px;}
.cts6660 .bbs .p-search .p-btn_group{padding-top: 10px;}
.cts6660 .p-table thead tr:first-child td{border-top: 1px solid #26293d;}
.cts6660 .p-table thead tr:last-child td{border-bottom: 1px solid #898f9d;}
.cts6660 .bbsbtn{margin-top: 2px; padding: 11px 11px 12px;}
.cts6660 .bbs__list .p-button.write{display: inline-block; width: auto;}


@media all and (max-width:1500px){
    .cts6660 .p-input.p-input--auto{min-width: auto;}
}
@media all and (max-width:1300px){
    .cts6660 .bbs .button-container .p-button.write{width:auto;}
    .cts6660 .bbs .p-search .p-btn_group{display: block;}
    .cts6660 .bbs .group_search{display: block;}
}
@media all and (max-width:1000px){
    .cts6660 .bbs .button-container .p-button.write{width: calc((100% - 20px)/3);}
}
@media all and (max-width:800px){
    .cts6660 .bbs .button-container .p-button.write{width:100%; margin-left: 0;}
}
@media all and (max-width:765px){
    .cts6660 .group_date{display: block; margin-top: 5px;}
    .cts6660 .bbs .p-search .p-btn_group{height: auto;}
    .cts6660 .p-table.block colgroup, .p-table.block>thead{display: block;}
}
@media all and (max-width:650px){
        .cts6660 .p-button.search:link{line-height: 20px;}
        .cts6660 .table_scroll table{min-width: auto;}
}
@media all and (max-width:450px){
    .cts6660 .bbs .p-search .p-form-group > input:first-child{display: block;}
}

.cts6661 .p-input.p-input--auto.addres{width: calc(100% - 260px);}
.cts6661 .p-form__label:before{display: none;}
.cts6661 .p-form-radio.n01{margin-left: 10px;}
.cts6661 .p-button.search:link{border-color: #1978e3; background-color: #1978e3; line-height: 30px;}
.cts6661 .bbs .p-search .p-btn_group{padding-top: 10px;}
.cts6661 .phone_num .p-input.p-input--auto{min-width: 120px; width:calc((100% - 31px)/3);}
.bbsWrite h3{font-size: 22px;}
.p-table.simple .tds{vertical-align: middle;}
@media all and (max-width:1500px){
    .cts6661 .p-input.p-input--auto{min-width: auto;}
    .cts6661 .group_search{display: block; text-align: right; margin-top: 5px;}
}
@media all and (max-width:1300px){
    .cts6661 .bbs .button-container .p-button.write{width:auto;}
    .cts6661 .bbs .p-search .p-btn_group{display: block;}

}
@media all and (max-width:765px){
    .cts6661 .group_date{display: block; margin-top: 5px;}
    .cts6661 .p-input.p-input--auto.addres{width:auto;}
    .bbs .p-button.p-button--bordered{min-width: 60px;}
    .bbsWrite h3{font-size: 18px;}
}
@media all and (max-width:450px){
    .cts6661 .bbs .p-search .p-form-group > input:first-child{display: block;}
}
