@charset "UTF-8";


/* 분야별 민원 > 교통 > 그린파킹사업 > 담장허물어 주차장 만들기 */
.cts5808 .box.photo .box_image {border-radius: 15px; overflow: hidden;}

@media all and (min-width:1001px) {
    .cts5808 .box.photo .box_item {padding-left: 35px; padding-right: 35px;}
}

/*분야별 정보 >  마을기업 */
.image_box {background-color: #f0f5fb; padding: 35px 40px 80px; border-radius: 20px; position: relative;}
.image_box .box_title {font-size: 22px; font-weight: 600; margin-bottom: 10px; margin-top: 0;}
.image_box .box_text {font-size: 17px; width: 55%; word-break: keep-all;}
.image_box .img_wrap {width: 460px; overflow: hidden; border-radius: 80px; border-top-left-radius: 20px; position: absolute; right: 22px; top: 20px;}

@media all and (max-width:1500px) {
    .image_box .box_text {width: 43%;}
}

@media all and (max-width:1300px) and (min-width:1001px) {
    .image_box .img_wrap {position: relative; top: 0; right: 0; margin: 0 auto;}
    .image_box .img_wrap img {width: 100%;}
    .image_box .box_title {margin-top: 30px;}
    .image_box .box_text {width: 100%;}
}

@media all and (max-width:1000px) {
    .image_box .box_text {width: 38%;}
}

@media all and (max-width:870px) {
    .image_box .img_wrap {position: relative; top: 0; right: 0; margin: 0 auto;}
    .image_box .img_wrap img {width: 100%;}
    .image_box .box_title {margin-top: 30px;}
    .image_box .box_text {width: 100%;}
}

@media all and (max-width:640px)  {
    .image_box {padding: 25px 30px;}
    .image_box .img_wrap {border-radius: 20px; width: auto;}
    .image_box .box_text {font-size: 15px;}
}

.cts5947 .link_box .bu li {text-align: left;}
.cts5947 .link_box .bu li:before {height: 1px; width: 5px; background-color: #252831; top: 12px;}

.room_list {font-size: 0;}
.room_list .room_itm {display: inline-block; vertical-align: top; width: calc((100% - 40px) / 3); border-radius: 25px; border-top-left-radius: 50px; padding-top: 40px; padding-left: 38px; padding-bottom: 35px; background-color: #f4f6f9;}
.room_list .room_itm:nth-child(2) {margin: 0 20px; background-color: #eaeff6;}
.room_list .room_itm:nth-child(3) {background-color: #e1e8f2;}
.room_list .room_itm .title {font-size: 20px; color: #317ad7;}
.room_list .room_itm .des {font-size: 16px; color: #575e6d;}

.cts5953 .home_line {text-align: center; padding-bottom: 20px; padding-left: 100px; padding-right: 100px; margin-top: 35px; position: relative;}
.cts5953 .home_line::before {width: 100%; height: 51px; display: block; position: absolute; left: 0; bottom: 0; background-size: cover; background-image: url(../images/contents/home_line.png);}

@media all and (max-width:640px) {
    .room_list .room_itm {width: 100%; text-align: center; padding-left: 0;}
    .room_list .room_itm:nth-child(2) {margin: 20px 0;}
    .cts5953 .home_line {padding-left: 0; padding-right: 0;}
    .cts5953 .home_line::before {display: none;}
}

/* 현황 */
.cts5962 .box.photo .box_cont {margin-top: 80px;}
.cts5962 .box.photo .box_cont:before{display:block; position:relative; left:-20px; top: -40px; width:calc(100% + 40px); height:1px; margin-top:30px; margin-bottom:16px; background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAYAAAAb4BS0AAAAAXNSR0IArs4c6QAAABRJREFUGFdj3LRp038/Pz9GBiAAACZuBAIHZI+XAAAAAElFTkSuQmCC) repeat-x;}
.cts5962 .box.photo .box_cont .bu li, .cts5962 .box.photo .box_cont .caution {text-align: left;}


@media all and (max-width:640px) {
    .cts5962 .box.photo .box_cont {margin-top: 40px;}
    .cts5962 .box.photo .box_cont:before {top: -20px;}
}

/* 동명유래 cts5964 */
.cts5964 .tab_title, .cts5964 .tab .btn_img {display: none;}
.cts5964 span.arrow {display: block; width: 51px; height: 25px; margin: 0 auto 25px; text-align: center; background-image: url(../images/contents/cts5964_arrow.png); background-position: center; background-repeat: no-repeat;}
.cts5964 .iframe_wrap {width: 100%; height: 645px; overflow: hidden; border-radius: 30px;}
.cts5964 .iframe_wrap iframe {width: 100%; height: 100%;}
.cts5964 .box.photo .box_cont .title {position: relative; text-align: left;}
.cts5964 .box.photo .box_cont .text {text-align: left;}

@media all and (min-width:1501px) {
    .cts5964 .tab .tab_list.n1 > .tab_item {width: calc((100% - 175px) / 4); margin-right: 45px;}
    .cts5964 .tab .tab_list.n1 > .tab_item:nth-child(4n) {margin-right: 0;}
    .cts5964 .tab .tab_list.n1 > .tab_item:nth-child(n+5) {margin-top: 35px;}
    .cts5964 .tab .tab_menu:before {display: block; width: 900px; height: 1px; background-color: #e9e9e9; position: absolute; left: calc(50% - 450px); top: 248px;}
}

@media all and (max-width:1500px) and (min-width:1301px) {
    .cts5964 .tab .tab_list.n1 > .tab_item {width: calc((100% - 45px) / 3); }
    .cts5964 .tab .tab_list.n1 > .tab_item:nth-child(3n) {margin-right: 0;}
    .cts5964 .tab .tab_list.n1 > .tab_item:nth-child(n+4) {margin-top: 35px;}

    .cts5964 .tab .tab_list.n2 > .tab_item {width: calc((100% - 45px) / 3); }
    .cts5964 .tab .tab_list.n2 > .tab_item:nth-child(3n) {margin-right: 0;}
    .cts5964 .tab .tab_list.n2 > .tab_item:nth-child(n+4) {margin-top: 35px;}
}


@media all and (min-width:1301px) {
    .cts5964 .box.photo .box_cont .title::before {display:block; position:relative; left: 0; top: 0; width:100%; height:1px; margin-top:30px; margin-bottom:16px; background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAYAAAAb4BS0AAAAAXNSR0IArs4c6QAAABRJREFUGFdj3LRp038/Pz9GBiAAACZuBAIHZI+XAAAAAElFTkSuQmCC) repeat-x;}
    .cts5964 .tab_content.n1 .box.photo {width: calc(50% - 18px); display: inline-block; vertical-align: top; height: 515px;}
    .cts5964 .tab_content.n1 .box.photo.two {margin-right: 30px;}
    .cts5964 .tab_content.n2 .box.photo {width: calc(50% - 18px); display: inline-block; vertical-align: top; height: 515px;}
    .cts5964 .tab_content.n2 .box.photo.two {margin-right: 30px;}

}


@media all and (min-width:800px) {
    .cts5964 .tab_title {display: block; text-align: center; margin-bottom: 20px}
    .cts5964 .tab .btn_img {display: block; margin-bottom: 15px; position: relative;}
    .cts5964 .tab .btn_img:after {display: block; width: 100%; height: 100%; border-radius: 11px; background-color: rgba(0,0,0,0.3); position: absolute; left: 0; top: 0;}
    .cts5964 .tab .tab_menu {padding: 25px 45px; border: 1px solid #cacbce; border-radius: 25px; position: relative;}

    .cts5964 .tab .tab_list.n1 > .tab_item > .tab_button {width: auto; margin: 0 auto; height: 168px; padding-bottom: 8px; border: none;}
    .cts5964 .tab .tab_list.n1 > .tab_item > .tab_button span {vertical-align: top; }
    .cts5964 .tab .tab_list.n1 > .tab_item.active > .tab_button {background-color: transparent; color: #242a3a; box-shadow: none;}
    .cts5964 .tab .tab_list.n1 > .tab_item.active .btn_img {display: block; margin-bottom: 15px; box-shadow:  0 0 0 2px rgb(20, 101, 198); border-radius: 11px; position: relative; overflow: visible;}
    .cts5964 .tab .tab_list.n1 > .tab_item.active .btn_img:before {display: block; width: 69px; height: 15px; background-image: url(../images/contents/cts5964_arrow2.png); position: absolute; left: calc(50% - 35px); bottom: -15px;}
    .cts5964 .tab .tab_list.n1 > .tab_item.active .btn_img:after {opacity: 0;}

}

@media all and (max-width:800px) {
    .cts5964 .iframe_wrap {height: 480px;}
}

@media all and (max-width:480px) {
    .cts5964 .iframe_wrap {height: 280px;}
}

/* 도시브랜드 > 도시브랜드소개 cts5978 */
.cts5978 .title_box .box_wrap:before {background-image: url(../images/contents/cts5978_icon.png);}
.monoon_box {background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAACBJREFUKFNjZCACfPv2/T8jEeoYRhXiDSVw8IAIYsISAPQlJt/hDbMAAAAAAElFTkSuQmCC); border: 1px solid #dadce0; border-radius: 15px; text-align: center; padding-top: 100px; padding-bottom: 100px; position: relative; background-color: #fff;}
.monoon_box.two { font-size: 0;}
.monoon_box.two .box_img {display: inline-block; vertical-align: middle; width: calc((100% - 95px) / 2); position: relative; text-align: center;}
.monoon_box.two .box_img:last-child::before {display: block; width: 1px; height: 100px; background-color: #cacbce; position: absolute; left: 0; top: 10px;}

.monoon_box .img_text {text-align: left; background-color: rgba(25, 120, 227, 0.15); padding: 15px 20px; border-radius: 10px;}
.monoon_box .img_text .title {color: #1978e3; font-weight: 500; font-size: 16px; display: block;}
.monoon_box .img_text .des {font-size: 16px; color: #575e6d; font-weight: 400;}

.monoon_box .img_text.move {position: absolute; right: 50px; top: 70px; padding-right: 35px;}
.monoon_box .img_text.move::before {display: block; width: 183px; height: 60px; position: absolute; left: -183px; top: 23px; background-image: url(../images/contents/cts5978_line1.png); background-size: cover;}
.monoon_box .img_text.move::after {display: block; width: 203px; height: 210px; position: absolute; left: -203px; top: 12px; background-image: url(../images/contents/cts5978_line2.png); background-size: cover;}

.monoon_wrap {font-size: 0;}
.monoon_box.divide2 {padding-left: 40px; padding-right: 40px; padding-bottom: 40px; width: calc((100% - 40px)/2); display: inline-block; vertical-align: top; min-height: 508px; background-color: #fff;}
.monoon_box.divide2:nth-child(2n) {margin-left: 40px;}
.monoon_box.divide2:nth-child(n + 3) {margin-top: 30px;}
.monoon_box.divide2 .img_text {position: absolute; left: 40px; bottom: 40px; width: calc(100% - 80px);}

@media all and (max-width:1500px) {
    .monoon_box .img_text.move::before ,.monoon_box .img_text.move::after {display: none;}
}

@media all and (max-width:1300px) {
    .monoon_box {padding-left: 20px; padding-right: 20px;}
    .monoon_box .img_text.move {right: 20px; top: 20px; padding-right: 23px;}
    .monoon_box.two .box_img:last-child::before {display: none;}
}

@media all and (max-width:1000px) {
    .monoon_box.two .box_img {width: 50%;}
}

@media all and (max-width:720px) {
    .monoon_box.two {padding-top: 50px; padding-bottom: 50px; min-height: auto;}
    .monoon_box.two .box_img {width: 100%;}
    .monoon_box.two .box_img:last-child {margin-top: 50px;}

    .monoon_box {min-height: 500px;}
    .monoon_box .img_text.move {top: auto; bottom: 40px; width: calc(100% - 40px); right: 20px;}

    .monoon_box.divide2 {padding-left: 20px; padding-right: 20px; width: 100%;}
    .monoon_box.divide2:nth-child(2n) {margin-left: 0;}
    .monoon_box.divide2:nth-child(n + 2) {margin-top: 20px;}
    .monoon_box.divide2 .img_text {width: calc(100% - 40px); left: 20px;}
}


/* 도시브랜드 > 브랜드슬로건 cts5980 */
.cts5980 .box{min-height:400px;border-radius:20px;}
.cts5980 .grid{position:relative;}
.cts5980 .grid:before{display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAG0lEQVR4nGPsnDhTkoEUQKoGJpJMH9UwdDUAAPtvA6494mWMAAAAAElFTkSuQmCC) center/auto repeat;}
.cts5980 .box.comp{height:400px;border:none;border:none;background:url(/site/www/images/contents/cts5981_comp_bg.jpg) center/cover no-repeat;}
.cts5980 .box.comp ul{display:flex;justify-content:space-around;align-items:center;height:100%;margin:0 50px;}
.cts5980 .symbol{display:flex;position:relative;justify-content:center;align-items:center;margin:30px 40px;gap:30px;}
.cts5980 .symbol .symbol_img{flex:1 1 50%; }
.cts5980 .symbol .symbol_img_wrap{display:inline-block;position:relative;}
.cts5980 .symbol .symbol_dot{display:block;position:absolute;width:10px;height:10px;border-radius:50%;background-color:#1978e3;}
.cts5980 .symbol .symbol_line{display:block;position:absolute;top:26px;left:0;height:1px;background-color:#1978e3;transform-origin:top left;}
.cts5980 .symbol .symbol_info{flex:1 1 50%;}
.cts5980 .symbol .symbol_info li{position:relative;margin:10px 0;padding:16px 20px;}
.cts5980 .symbol .symbol_info li:before{display:block;position:absolute;top:0;right:0;bottom:0;left:0;border-radius:10px;background-color:rgba(136,136,136,.15);}
.cts5980 .symbol .symbol_info li:first-child:before{background-color:rgba(25,120,227,.15);}
.cts5980 .symbol .symbol_info li p{position:relative;margin-top:6px;font-size:15px;font-weight:300;line-height:26px;letter-spacing:-.025em;}
.cts5980 .symbol .symbol_info_sub{position:relative;color:#636363;font-size:16px;font-weight:500;line-height:normal;letter-spacing:-.02em;}
.cts5980 .symbol .symbol_info li:first-child .symbol_info_sub{color:#1978e3;}
.cts5980 .symbol .symbol_info_img{position:relative;margin-top:-22px;text-align:center;}
.cts5980 .symbol .symbol_info_img span{display:block;position:relative;width:20mm;margin:0 auto 14px;color:#575e6d;font-size:12px;font-weight:300;line-height:normal;letter-spacing:0;}
.cts5980 .symbol .symbol_info_img span:before{display:block;position:absolute;top:calc(100% + 2px);left:0;width:100%;height:6px;border:1px solid #575e6d;border-bottom:none;}
.cts5980 .symbol .symbol_info_img img{width:20mm;}
.cts5980 .color_info{display:flex;position:relative;flex-wrap:wrap;margin:70px 40px 42px;gap:7px;}


.cts5980 .color_info li{display:flex;flex:0 0 190px;}
.cts5980 .color_info li span{color:#4d4d4d;font-size:12px;font-weight:400;line-height:20px;letter-spacing:0;}
.cts5980 .color_info li em{display:block;font-weight:500;}
.cts5980 .color_info li:before{display:block;width:50px;height:50px;margin-right:10px;border-radius:50%;}
.cts5980 .n1 .color_info li:nth-child(1):before{background-color:#e32518;}
.cts5980 .n1 .color_info li:nth-child(2):before{background-color:#e9633a;}
.cts5980 .n1 .color_info li:nth-child(3):before{background-color:#b7bf3e;}
.cts5980 .n1 .color_info li:nth-child(4):before{background-color:#92941f;}
.cts5980 .n1 .color_info li:nth-child(5):before{background-color:#fbf3e6;}
.cts5980 .n1 .color_info li:nth-child(6):before{background-color:#44200d;}

.cts5980 .n2 .color_info li:nth-child(1):before{background-color:#001a47;}
.cts5980 .n2 .color_info li:nth-child(2):before{background-color:#B9CF48;}
.cts5980 .n2 .color_info li:nth-child(3):before{background-color:#F36523;}
.cts5980 .n2 .color_info li:nth-child(4):before{background-color:#92278F;}
.cts5980 .n2 .color_info li:nth-child(5):before{background-color:#FFC20D;}
.cts5980 .n2 .color_info li:nth-child(6):before{background-color:#F2F2F3;}
.cts5980 .n2 .color_info li:nth-child(7):before{background-color:#ACADB0;}

.cts5980 .n3 .color_info li:nth-child(1):before{background-color:#EC008C;}
.cts5980 .n3 .color_info li:nth-child(2):before{background-color:#FFC20E;}
.cts5980 .n3 .color_info li:nth-child(3):before{background-color:#061D45;}
.cts5980 .n3 .color_info li:nth-child(4):before{background-color:#CBDB2A;}
.cts5980 .n3 .color_info li:nth-child(5):before{background-color:#5A4A42;}
.cts5980 .n3 .color_info li:nth-child(6):before{background-color:#58585A;}
.cts5980 .n3 .color_info li:nth-child(7):before{background-color:#3A2A22;}
.cts5980 .n3 .color_info li:nth-child(8):before{background-color:#F7942E;}
.cts5980 .n3 .color_info li:nth-child(9):before{background-color:#DAB056;}
.cts5980 .n3 .color_info li:nth-child(10):before{background-color:#FFCF06;}
.cts5980 .n3 .color_info li:nth-child(11):before{background-color:#F7941E;}
.cts5980 .n3 .color_info li:nth-child(12):before{background-color:#BAD16E;}
.cts5980 .n3 .color_info li:nth-child(13):before{background-color:#A1B965;}

.cts5980 .n4 .color_info li:nth-child(1):before{background-color:#E65130;}
.cts5980 .n4 .color_info li:nth-child(2):before{background-color:#20A9AD;}
.cts5980 .n4 .color_info li:nth-child(3):before{background-color:#056839;}
.cts5980 .n4 .color_info li:nth-child(4):before{background-color:#8DC63F;}
.cts5980 .n4 .color_info li:nth-child(5):before{background-color:#ECE344;}
.cts5980 .n4 .color_info li:nth-child(6):before{background-color:#FCB040;}
.cts5980 .n4 .color_info li:nth-child(7):before{background-color:#BF1E2E;}
.cts5980 .n4 .color_info li:nth-child(8):before{background-color:#404041;}
.cts5980 .n4 .color_info li:nth-child(9):before{background-color:#818285;}
.cts5980 .n4 .color_info li:nth-child(10):before{background-color:#061D45;}

.cts5980 .box_list{display:flex;gap:30px;}
.cts5980 .box_list>.box{display:flex;flex:1 1 50%;justify-content:center;align-items:center;}
.cts5980 .box_list>.box img{position:relative;z-index:1;}
.cts5980 .caution{margin-top:27px;}

/* 1 */
.cts5980 .n1 .symbol_img{padding-top:5px;padding-left:47px;}
.cts5980 .n1 .symbol .symbol_dot{top:73px;right:-4px;}

/* 2 */
.cts5980 .n2 .symbol .symbol_line {top: 59px;}
.cts5980 .n2 .symbol_img{padding-top:16px;}
.cts5980 .n2 .symbol .symbol_dot{top:30px;right:79px;}

.cts5980 .n4 .symbol_img { padding-left: 125px;}
.cts5980 .n3 .symbol .symbol_dot{top:16px;right:41px;}
.cts5980 .n4 .symbol .symbol_dot{top:3px;right:48px;}

@media all and (min-width:1001px){
    .cts5980 .n1 .color_info {height: 140px; align-content: space-between;}
    .cts5980 .n2 .color_info {height: 140px; align-content: space-between;}
    .cts5980 .n3 .color_info {height: 210px; align-content: space-between;}
    .cts5980 .n4 .color_info {height: 140px; align-content: space-between;}
}
@media all and (max-width:1500px) {
    .cts5980 .symbol .symbol_dot, .cts5980 .symbol .symbol_line {display: none;}
}
@media all and (max-width:1300px){
    .cts5980 .symbol{margin:10px 0;}
    .cts5980 .symbol .symbol_info_img{margin-top:-10px;}
    .cts5980 .color_info{margin:70px 10px 10px;}
    .cts5980 .box.comp ul{margin:0;gap:30px;}
    .cts5980 .n1 .symbol_img,.cts5980 .n1 .symbol_img{padding:0;}
    .cts5980 .n2 .symbol .symbol_dot{left:15%;}
}
@media all and (max-width:800px){
    .cts5980 .box{min-height:300px;}
    .cts5980 .box.comp{height:300px;}
    .cts5980 .symbol .symbol_info_img{margin-top:5px;}
}
@media all and (max-width:640px){
    .cts5980 .box{min-height:0;}
    .cts5980 .box.comp{height:auto;}
    .cts5980 .box.comp ul{flex-direction:column;gap:20px;}
    .cts5980 .symbol{flex-direction:column;margin:0;gap:40px;}
    .cts5980 .symbol .symbol_info_sub{font-size:15px;}
    .cts5980 .symbol .symbol_info li p{font-size:14px;line-height:normal;}
    .cts5980 .symbol .symbol_info_img{margin-top:10px;}
    .cts5980 .symbol .symbol_line{top:0;left:30px;}
    .cts5980 .symbol .symbol_dot{width:6px;height:6px;}
    .cts5980 .box_list{flex-direction:column;gap:20px;}
    .cts5980 .color_info{margin:20px 0;}
    .cts5980 .n1 .symbol .symbol_dot{top:auto;right:10%;bottom:10px;}
    .cts5980 .n2 .symbol .symbol_dot{top:auto;bottom:10px;}
    
    .cts5980 .n4 .symbol_img{padding-left:0;}
}

