
/* 본문제목 */
h3,h4,h5,h6,.h3,.h4,.h5,.h6{position:relative; font-weight:400; text-align:left;}
h3,.h3{margin:10px 0; padding:5px 0 5px 32px; color:#384049; font-size:30px; line-height:32px;}
h4,.h4{margin:10px 0; padding:5px 0 5px 32px; color:#3e61ae; font-size:24px; line-height:28px;}
h5,.h5{margin:10px 0; padding:5px 0 5px 35px; color:#333; font-size:20px; line-height:24px;}
h6,.h6{margin:10px 0; padding:5px 0 5px 40px; color:#444; font-size:18px; line-height:20px;}

h3:before,h4:before,h5:before,h6:before,.h3:before,.h4:before,.h5:before,.h6:before{position:absolute; display:inline-block; content:''; background:url(../images/template/template.png) no-repeat}
h3:before,.h3:before{left:0; top:10px; width:24px; height:24px; background-position:0 0;}
h4:before,.h4:before{left:15px; top:12px; width:10px; height:15px; background-position:-50px 0;}
h5:before,.h5:before{left:22px; top:11px; width:5px; height:15px; background-position:-100px 0;}
h6:before,.h6:before{left:24px; top:10px; width:11px; height:11px; background-position:-150px 0;}

h3 span,h4 span,h5 span,h6 span,.h3 span,.h4 span,.h5 span,.h6 span{color:#444; font-size:0.85em; font-weight:400;}

.h0{margin:0; padding:0; color:inherit; font-size:1em; font-weight:400; letter-spacing:0;}
h3.skip:before,h4.skip:before,h5.skip:before,h6.skip:before,.h0:before{display:none;}

/* 목록(List) */
.bu{margin:0; padding:5px 0 5px 0px;}
.bu li{position:relative; margin:0; padding:0 0 2px 10px; list-style:none; text-align:left;}
.bu li:before{position:absolute; display:inline-block; content:''; width:3px; height:3px; background:#545454;}
.bu li li{padding-left:12px;}
.bu > li:before{left:0; top:10px; width:3px; height:3px; background:#545454;}
.bu li li:before{left:0; top:8px; width:7px; height:9px; background-position:-50px -250px;}
.bu li li li:before{left:4px; top:9px; width:3px; height:3px; background:#555;}
.bu ul,.bu ol{margin:0; padding:2px 0 4px 0;}

.blt{position:relative; margin:0; padding:0 0 2px 35px;}
.blt:before{position:absolute; left:25px; top:10px; display:inline-block; content:''; width:5px; height:2px; background:#333;}

ul.num{margin:5px 0; padding:5px 0 5px 25px;}
ul.num li{position:relative; margin-bottom:5px; padding:0px 0 5px 35px; list-style: none;}
ul.num li .item{position:absolute; left:0; top:0; z-index:11; display:inline-block; width:25px; height:25px; font-size:16px; line-height:26px; color:#fff; text-align:center; border-radius:50%; background-color:#41516b; overflow:hidden;}
ol.num{overflow:hidden;}
ol.num li{position:relative;margin:0;padding:4px 0 2px 30px;}
ol.num li:before{position:absolute;left:0;color: #fff;text-align: center;letter-spacing: -1px;vertical-align: middle;}
ol.num > li{counter-increment: number;}
ol.num > li:before{content: counter(number, decimal); position:absolute; left:0; top:3px; z-index:11; display:inline-block; width:25px; height:25px; font-size:16px; line-height:26px; color:#fff; text-align:center; border-radius:50%; background-color:#41516b; overflow:hidden;}
ol.num > li li{padding-left: 12px}
ol.num ol{overflow:hidden;}
ol.num ol > li{padding-left:24px;counter-increment: number2;}
ol.num ol > li:before{top:5px;content: counter(number2, decimal);width:18px;height:18px;line-height:20px;background: #959595;border-radius: 4px;font-size: 12px;}

.num li ul li{margin:0; padding:0 0 2px 12px;}
.num li ul li:before{position:absolute; left:0; top:8px; display:inline-block; width:7px; height:9px; content:''; background:url(../images/template/template.png) no-repeat; background-position:-50px -250px;}
.num li ul li li:before{left:4px; top:9px; width:3px; height:3px; background:#555;}

p.num{ position:relative; margin:5px 0 5px 25px; padding: 0 5px 0 35px;}
p.num .item {position:absolute; left:0; top:0; z-index:11; display:inline-block; width:25px; height:25px; font-size:16px; line-height:26px; color:#fff; text-align:center; border-radius:50%; background-color:#41516b; overflow:hidden;}

/* 강조 */
.warning{position:relative; padding:5px 2% 5px 25px; margin-bottom:5px;}
.warning:before{position:absolute; left:2px; top:7px; display:inline-block; width:18px; height:18px; content:''; background:url(../images/template/template.png) -200px -250px no-repeat;}
.warning.type2{color:#0861bc;}
.warning.type2:before{background-position:-250px -250px;}
.bu li.warning{padding:0 2% 2px 25px;}
.bu li.warning:before{position:absolute; left:0; top:3px; display:inline-block; width:18px; height:18px; content:''; background:url(../images/template/template.png) -200px -250px no-repeat;}
.bu li .warning:before{top:3px;}


/* 테이블 서식 */
.table_unit{margin-top:-23px; font-size:0.9em; text-align:right;}
.table{position:relative; width:100%; margin:5px 0 10px; border-top:2px solid #202020;}
.table caption{position:static;}
.table thead{background:#fafafa;}
.table thead th{border-bottom:1px solid #999; background-color:#f4f4f4;}
.table th,.table td{padding:12px 5px; border:1px solid #ccc; vertical-align:middle;}
.table th:first-child,.table td:first-child{border-left:none;}
.table th:last-child,.table td:last-child{border-right:none;}
.table th{color:#444; font-size:16px; font-weight:600; text-align:center;}
.table tfoot th,.table tfoot td{border-top:none;}
.table td img{vertical-align:middle;}
td ul, td li{text-align:left;}
td ul.bu{margin:0; padding:0;}
td .num{margin:0; padding:0;}

.table.type2 th,.table.type2 td{padding:12px 20px;}
.table.type2 th{background-color:#f4f4f4;}

.table_scroll{position:relative; max-width:100%; overflow-x:auto;}
.table_scroll table{min-width:600px;}

/* 버튼 / 링크 / */
a.blank{display:inline-block; margin:0 2px; border-bottom:1px solid #000; white-space:nowrap; color:#464646;}
a.blank:after{content:''; display:inline-block; width:14px; height:14px; margin:0 5px; background:url(../images/template/template.png) -200px -50px no-repeat; vertical-align:middle;}
a.down{display:inline-block; margin:0 2px; border-bottom:1px solid #000; white-space:nowrap; color:#464646;}
a.down:after{content:''; display:inline-block; width:17px; height:15px; margin:0 5px; background:url(../images/template/template.png) -100px -100px no-repeat; vertical-align:middle;}

.btn{position:relative; display:inline-block; margin:0; height:auto; padding:12px 30px 11px; font-size:18px; line-height:20px; color:#fff; text-decoration:none; vertical-align:middle; background:#2a2a2a; cursor:pointer; box-sizing:border-box; overflow:hidden;}
.btn:after{content:''; display:inline-block; background:url(../images/template/template.png) no-repeat; vertical-align:middle;}
a.btn:visited,a.btn:link{color:#fff;}

.btn.small{padding:10px 20px 9px; font-size:15px; line-height:16px; letter-spacing:-1px;}

.btn.type2{background-color:#606060;}
.btn.type3{background-color:#dcdcdc; color:#2a2a2a;}
.btn.type4{border:1px solid #2a2a2a; background-color:#fff; color:#2a2a2a;}
a.btn.type3:visited,a.btn.type3:link,a.btn.type4:visited,a.btn.type4:link{color:#2a2a2a;}

.btn.arrow:after{width:8px; height:14px; margin:0 -5px 0 10px; background-position:-150px -50px;}
.btn.arrow.type3:after,.btn.arrow.type4:after{background-position:-100px -50px;}

.btn.download:after{width:19px; height:16px; margin:0 -5px 0 10px; background-position:-50px -100px;}
.btn.download.type3:after,.btn.download.type4:after{background-position:0 -100px;}

.btn.link:after{width:21px; height:17px; margin:0 -5px 0 10px; background-position:-50px -50px;}
.btn.link.type3:after,.btn.link.type4:after{background-position:0 -50px;}

/* 강조 글자 */
.small{font-size:0.92em;}
.large{font-size:1.167em; letter-spacing:-1px;}
.underline{padding-bottom:1px; border-bottom:1px solid #888;}
.em_blue{color:#0041b7 !important;}
.em_orange{color:#f16c09 !important;}
.em_red{color:#df0101 !important;}
.em_green{color:#398308 !important;}
.em_purple{color:#8a56af !important;}
.em_point{color:#e8209f !important;}
.em_black {color:#000 !important;}
.em_b_blue{color:#0861bc; font-weight:600 !important;}
.em_b_orange{color:#f16c09; font-weight:600 !important;}
.em_b_red{color:#df0101; font-weight:600 !important;}
.em_b_green{color:#398308; font-weight:600 !important;}
.em_b_purple{color:#8a56af; font-weight:600 !important;}
.em_b_point{color:#e8209f; font-weight:600 !important;}
.em_b_black{color:#000; font-weight:bold !important;}

/* 텍스트 정렬 */
.text_center{text-align:center;}
.text_right{text-align:right;}
.text_left{text-align:left;}
.vertical_top{vertical-align:top;}
.vertical_middle{vertical-align:middle;}
.vertical_bottom{vertical-align:bottom;}

/* 들여쓰기 */
.indent{margin-left:25px;}
.indent10{margin-left:10px;}
.indent20{margin-left:20px;}
.indent30{margin-left:30px;}
.indent40{margin-left:40px;}
.indent50{margin-left:50px;}

/* margin */
.margin_0{margin:0 !important;}
.margin_10{margin:10px !important;}
.margin_20{margin:20px !important;}
.margin_30{margin:30px !important;}

.margin_t_0{margin-top:0 !important;}
.margin_t_5{margin-top:5px !important;}
.margin_t_10{margin-top:10px !important;}
.margin_t_15{margin-top:15px !important;}
.margin_t_20{margin-top:20px !important;}
.margin_t_25{margin-top:25px !important;}
.margin_t_30{margin-top:30px !important;}
.margin_t_35{margin-top:35px !important;}
.margin_t_40{margin-top:40px !important;}
.margin_t_45{margin-top:45px !important;}
.margin_t_50{margin-top:50px !important;}

.margin_r_0{margin-right:0 !important;}
.margin_r_5{margin-right:5px !important;}
.margin_r_10{margin-right:10px !important;}
.margin_r_15{margin-right:15px !important;}
.margin_r_20{margin-right:20px !important;}
.margin_r_25{margin-right:25px !important;}
.margin_r_30{margin-right:30px !important;}
.margin_r_35{margin-right:35px !important;}
.margin_r_40{margin-right:40px !important;}
.margin_r_45{margin-right:45px !important;}
.margin_r_50{margin-right:50px !important;}

.margin_b_0{margin-bottom:0 !important;}
.margin_b_5{margin-bottom:5px !important;}
.margin_b_10{margin-bottom:10px !important;}
.margin_b_15{margin-bottom:15px !important;}
.margin_b_20{margin-bottom:20px !important;}
.margin_b_25{margin-bottom:25px !important;}
.margin_b_30{margin-bottom:30px !important;}
.margin_b_35{margin-bottom:35px !important;}
.margin_b_40{margin-bottom:40px !important;}
.margin_b_45{margin-bottom:45px !important;}
.margin_b_50{margin-bottom:50px !important;}

.margin_l_0{margin-left:0 !important;}
.margin_l_5{margin-left:5px !important;}
.margin_l_10{margin-left:10px !important;}
.margin_l_15{margin-left:15px !important;}
.margin_l_20{margin-left:20px !important;}
.margin_l_25{margin-left:25px !important;}
.margin_l_30{margin-left:30px !important;}
.margin_l_35{margin-left:35px !important;}
.margin_l_40{margin-left:40px !important;}
.margin_l_45{margin-left:45px !important;}
.margin_l_50{margin-left:50px !important;}

/* padding */
.padding_0{padding:0 !important;}
.padding_10{padding:10px !important;}
.padding_20{padding:20px !important;}
.padding_30{padding:30px !important;}

.padding_t_0{padding-top:0 !important;}
.padding_t_5{padding-top:5px !important;}
.padding_t_10{padding-top:10px !important;}
.padding_t_15{padding-top:15px !important;}
.padding_t_20{padding-top:20px !important;}
.padding_t_25{padding-top:25px !important;}
.padding_t_30{padding-top:30px !important;}
.padding_t_35{padding-top:35px !important;}
.padding_t_40{padding-top:40px !important;}
.padding_t_45{padding-top:45px !important;}
.padding_t_50{padding-top:50px !important;}

.padding_r_0{padding-right:0 !important;}
.padding_r_5{padding-right:5px !important;}
.padding_r_10{padding-right:10px !important;}
.padding_r_15{padding-right:15px !important;}
.padding_r_20{padding-right:20px !important;}
.padding_r_25{padding-right:25px !important;}
.padding_r_30{padding-right:30px !important;}
.padding_r_35{padding-right:35px !important;}
.padding_r_40{padding-right:40px !important;}
.padding_r_45{padding-right:45px !important;}
.padding_r_50{padding-right:50px !important;}

.padding_b_0{padding-bottom:0 !important;}
.padding_b_5{padding-bottom:5px !important;}
.padding_b_10{padding-bottom:10px !important;}
.padding_b_15{padding-bottom:15px !important;}
.padding_b_20{padding-bottom:20px !important;}
.padding_b_25{padding-bottom:25px !important;}
.padding_b_30{padding-bottom:30px !important;}
.padding_b_35{padding-bottom:35px !important;}
.padding_b_40{padding-bottom:40px !important;}
.padding_b_45{padding-bottom:45px !important;}
.padding_b_50{padding-bottom:50px !important;}

.padding_l_0{padding-left:0 !important;}
.padding_l_5{padding-left:5px !important;}
.padding_l_10{padding-left:10px !important;}
.padding_l_15{padding-left:15px !important;}
.padding_l_20{padding-left:20px !important;}
.padding_l_25{padding-left:25px !important;}
.padding_l_30{padding-left:30px !important;}
.padding_l_35{padding-left:35px !important;}
.padding_l_40{padding-left:40px !important;}
.padding_l_45{padding-left:45px !important;}
.padding_l_50{padding-left:50px !important;}

/* width */
.w5p{width:5% !important;}
.w10p{width:10% !important;}
.w15p{width:15% !important;}
.w20p{width:20% !important;}
.w25p{width:25% !important;}
.w30p{width:30% !important;}
.w35p{width:35% !important;}
.w40p{width:40% !important;}
.w45p{width:45% !important;}
.w50p{width:50% !important;}
.w55p{width:55% !important;}
.w60p{width:60% !important;}
.w65p{width:65% !important;}
.w70p{width:70% !important;}
.w75p{width:75% !important;}
.w80p{width:80% !important;}
.w85p{width:85% !important;}
.w90p{width:90% !important;}
.w95p{width:95% !important;}
.w100p{width:100% !important;}

/* UI 템플릿 - 아래로 추가 */
/* 텝메뉴 - 4차메뉴와 똑같은 스타일이지만 클래스 다름*/
.tab_menu{padding-left:1px; margin:30px auto 10px;}
.tab_menu li{position:relative; float:left; width:25%; height:55px; margin:-1px 0 0 -1px; line-height:55px; border:solid 1px #d3d3d3; box-sizing:border-box;}
.tab_menu li a{display:block; width:98%; height:100%; padding:0 1%; font-size:17px;color:#4f4f4f; text-align:center;}
.tab_menu li a span{display:inline-block; line-height:18px;  vertical-align:middle;}
.tab_menu li.on,.tab_menu li.on:hover{border:solid 2px #3B5FAE; background-color:#fff;}
.tab_menu li:hover{z-index:11; border:1px solid #333; background-color:#fff;}
.tab_menu li.on a,.tab_menu li a:hover,.tab_menu li a:focus,.tab_menu li:hover a{color:#333;}
.tab_menu li.on a{color:#3e61ae; font-weight:600;}

.tab_menu.type2{padding:25px 2% 5px; border:1px solid #dadada; border-top:2px solid #4f4f4f;}
.tab_menu.type2 li{width:25%; height:40px; margin:0; line-height:inherit; border:none; background:#fff;}
.tab_menu.type2 li a{position:relative; width:auto; padding:0 5% 0 12px; font-size:15px; line-height:18px; text-align:left; vertical-align:top;}
.tab_menu.type2 li a:before{left:0; top:5px; width:6px; height:6px; content:''; background:url(../images/template/tab_off.png) center center no-repeat;}
.tab_menu.type2 li.on,.tab_menu.type2 li.on:hover{border:none;}
.tab_menu.type2 li:hover{border:none;}
.tab_menu.type2 li.on a:before,.tab_menu.type2 li a:hover:before,.tab_menu.type2 li a:focus:before,.tab_menu.type2 li:hover a:before{background-image:url(../images/template/tab_on.png);}

.tab_menu.type3 li{border:solid 1px #d3d3d3; border-bottom:2px solid #4f4f4f;}
.tab_menu.type3 li.on,.tab_menu.type3 li.on:hover{border:solid 2px #4f4f4f; border-bottom:2px solid #fff;}
.tab_menu.type3 li.on:before,.tab_menu.type3 li.on:hover:before{position:absolute; left:-2px; top:-2px; z-index:20; width:20%; height:100%; padding-bottom:2px; content:''; border-top:2px solid #3B5FAE; border-left:2px solid #3B5FAE;}
.tab_menu.type3 li:hover{z-index:11; border:solid 1px #333; border-bottom:2px solid #333;}

@media only screen and (max-width:800px){
	.tab_menu li{width:50% !important; height:45px; }
	.tab_menu.type2{padding-left:5%; padding-right:5%;}
	.tab_menu.type3 li{width:100% !important; border-bottom:1px solid #d3d3d3;}
	.tab_menu.type3 li.on,.tab_menu.type3 li.on:hover{border-bottom:1px solid #d3d3d3;}
	.tab_menu.type3 li:hover{border-bottom:1px solid #d3d3d3;}
	.tab_menu li a{font-size:14px; line-height:45px;}
}
@media only screen and (max-width:640px){
	.tab_menu li{float:none; width:100% !important; margin-left:0;}
}

/* 선, 박스 */
.line {display:block; margin:10px 0; border-bottom:1px solid #ccc;}
.dot {display:block; margin:10px 0; border-bottom:1px dotted #ccc;}
.dash {display:block; margin:10px 0; border-bottom:1px dashed #ccc;}
.box {position:relative; margin:10px 0; padding:20px 5%; background-color:#fff; color:#6f6f6f; border-width:2px 1px 1px 1px; border-style:solid; border-color:#4f4f4f #cecece #cecece #cecece;}
.box > div {color:#373737; font-size:15px;}
.box > div .title {margin-bottom:15px; font-size:22px; color:#242424; font-weight:600;}
.box1 {border-bottom:1px solid #d3d3d3;}
.box1 div {margin:15px 0 0 0; padding:20px; border:1px solid #d7d7d7; border-bottom:1px solid #bbb;}
.box1 div div {border:none;}
.box.type2 {padding:0; color:#222; background:url('/site/sitetest1/images/common/box_bg.png') repeat; border:solid 1px #fff;}
.box.type2 .box_inner_wrap {margin:1px; padding:40px 30px; background:#fff;}
.box.box_info .box_inner_wrap{padding-left:150px;background:url('/site/www/images/contents/cts1936_ico.png') 60px center no-repeat #fff;}
.box.box_info p{font-size:15px;line-height:24px;color:#373737;}
.box.box_info strong{font-size:22px;line-height:24px;color:#242424;}
@media all and (max-width:640px) {
	.box.box_info .box_inner_wrap{padding-left:100px;background-position:30px center;}
	.box.box_info strong{display:block;}
}

.box.type2 .box_inner_wrap {min-height:90px; padding-left:28%; background-image:url('/site/sitetest1/images/content/boxType2_memo_icon.png'); background-repeat:no-repeat; background-color:#fff; background-position:8% center; word-break:keep-all; }
.box.type2 .box_inner_wrap:after {display:inline-block; position:absolute; top:30%; left:23%; width:1px; height:40%; background:#e2e2e2;}
.box.type2 .box_inner_wrap h3{padding:0; font-size:20px; font-weight:600; color:#5d5d5d;}
.box.type2 .box_inner_wrap p {margin-top:5px; font-size:15px; line-height: 22px; color:#373737;}
.box.type2 .box_inner_wrap ul.bu {padding-left:0;}

/* box type2 ico변경 */
.box.type2.ico_people .box_inner_wrap{background-image:url('/site/sitetest1/images/content/boxType2_people_icon.png')}

/*박스타입 추가*/
@media screen and (max-width:640px) {
	.box.type2 {padding-left:0; padding-right:0;}
	.box.type2 .box_inner_wrap {padding:120px 5% 20px !important; text-align:center; background-position:center 20px;}
	.box.type2 .box_inner_wrap:after {display:none;}
	.box.type2 .box_inner_wrap h3{text-align:center;}
	.box.type2 .box_inner_wrap ul.bu li {text-align:left;}
}

.box_img{text-align:center;}
.box_img .inner{position:relative; display:inline-block; line-height:0;}
.box_img img{max-width:100%;}
.box_img .img_zoom{display:none; position:absolute; right:0; bottom:0; z-index:10; background-color:#202020;}
.box_img .img_zoom a{display:inline-block; width:13px; height:13px; margin:7px; color:transparent; white-space:nowrap; background:url(../images/template/template.png) -150px -250px no-repeat; overflow:hidden;}
.box_img .img_zoom a:after{position:absolute; left:0; top:0; display:inline-block; width:100%; height:100%; content:''; background-color:transparent;}

@media screen and (max-width:640px) {
	.box_img .img_zoom{display:inline-block;}
}

.box_center{padding:20px 0; text-align:center;}
.box_left{padding:20px 0; text-align:left;}
.box_right{padding:20px 0; text-align:right;}

/* 자주 쓰는 유형 */
/* 지도  */
.temp_map .root_daum_roughmap,.temp_map #map{width:100%; height:450px; overflow:hidden;}
.temp_map .root_daum_roughmap .wrap_map{height:450px;}

@media only screen and (max-width:640px){
	.temp_map .root_daum_roughmap{height:300px;}
	.temp_map .root_daum_roughmap .wrap_map{height:300px;}
}

/* template 가이드용 스타일 */
.template pre{margin:10px 0; padding:10px 20px 0; border:1px solid #e9e9e9; background:#fafafa; font-size:13px;}
.template .tab_item{margin:15px 0 20px;}
.template .tab_item{border-left:1px solid #d9d9d9;}
.template .tab_item li{float:left; display:inline; width:11.1%; border-top:1px solid #d9d9d9; background:#eee;}
.template .tab_item li.active{border-top:solid 1px #d9d9d9; background:#fff;}
.template .tab_item li a{display:block; padding:0; line-height:46px; font-size:15px; text-align:center; border-right:1px solid #d9d9d9; text-decoration:none; white-space:nowrap;}
.template .tab_item li.active a,.tab_obj li a:hover{background-color:#fff;}
.tab_obj{display:none; position:relative; padding:0;}
